@use 'src/styles/breakpoints';

.collapsibleItem {
  border-block-end: 1px solid var(--color-borders-hairline);

  &:last-child {
    border-block-end: none;
  }
}

.collapsibleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;
  padding-block: var(--spacing-medium2-px);
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-background-alternative-medium);
  }
}

.header {
  .headerText {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-small-px);
    color: var(--color-text-default-new);
  }
  .relationBadge {
    display: inline-flex;
    align-items: center;
    padding-block: var(--spacing-micro-px);
    padding-inline: var(--spacing-xsmall-px);
    background-color: var(--color-background-alternative-faint-new);
    font-size: calc(var(--font-size-normal-px) / 2);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-faded-new);
    text-transform: unset;
  }
}

.collapsibleContent {
  padding-block: var(--spacing-medium2-px);
}

.verseContainer {
  margin-block-end: var(--spacing-small-px);
}

.arabicText {
  margin-block: var(--spacing-small-px);
}

.translationsContainer {
  display: flex;
  flex-direction: column;
}

.goToVerseButton {
  color: var(--color-grey-icons-new);
  font-size: var(--font-size-xsmall-px);
}

.skeletonContainer {
  margin-block: var(--spacing-medium2-px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small-px);

  .skeleton {
    inline-size: 100%;
    block-size: var(--spacing-xxxlarge-px);
  }
}
