@use "src/styles/breakpoints";

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-small);
  @include breakpoints.desktop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacing-small);
  }
}
