@use 'src/styles/breakpoints';

.tafsirContainer {
  inline-size: 100vw;
  padding: calc(1.5 * var(--spacing-small));
  @include breakpoints.tablet {
    padding: calc(1.5 * var(--spacing-mega));
    inline-size: 85vw;
  }
  @include breakpoints.desktop {
    inline-size: 50vw;
  }
  box-sizing: border-box;
  margin-block: var(--spacing-mega);

  margin-inline: auto;
}
