@use "src/styles/breakpoints";

.tafsirContainer {
  width: 100vw;
  padding: calc(1.5 * var(--spacing-small));
  @include breakpoints.tablet {
    padding: calc(1.5 * var(--spacing-mega));
    width: 85vw;
  }
  @include breakpoints.desktop {
    width: 50vw;
  }
  box-sizing: border-box;
  margin-block: var(--spacing-mega);

  margin-inline: auto;
}
