.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reciterImage {
  max-width: calc(20 * var(--spacing-medium));
  border-radius: var(--border-radius-circle);
  margin-block-end: var(--spacing-medium);
  margin-inline: auto;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: calc(30 * var(--spacing-medium));
}

.playButton {
  margin-block-end: var(--spacing-medium);
}

.secondaryActions {
  display: flex;
  justify-content: space-between;
}
.chapterName {
  text-align: center;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
}
.reciterName {
  text-align: center;
  font-size: var(--font-size-large);
  margin-block-end: var(--spacing-medium);
}
