.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: var(--spacing-micro);
}

.checkbox {
  all: unset;
  background-color: var(--color-primary-faint);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--color-primary-medium);
  width: var(--spacing-large);
  height: var(--spacing-large);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox[data-focus-visible-added] {
  &:focus {
    box-shadow: 0 0 0 2px var(--color-secondary-medium);
  }
}

.checkbox[data-state="checked"],
.checkbox[data-state="indeterminate"] {
  border: 1px solid var(--color-borders-hairline);
}
.checkbox[disabled] {
  background-color: var(--color-secondary-medium);
}

.label {
  padding-left: var(--spacing-xsmall);
  font-size: 15px;
  line-height: 1px;
  user-select: none;
}

.disabled {
  color: var(--color-secondary-medium);
}

.indicator {
  background: var(--color-primary-medium);
  border-radius: var(--border-radius-default);
  width: 100%;
  height: 100%;
}

.disabledIndicator {
  background-color: var(--color-secondary-medium);
}
