.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  &:after {
    content: '';
    display: block;
    inline-size: var(--spacing-xsmall);
    block-size: var(--spacing-xsmall);
    border-radius: var(--border-radius-circle);
    background-color: black;
  }
}

.indicator[data-state='checked'][data-disabled] {
  &:after {
    background-color: var(--color-secondary-medium);
  }
}

.radioItem {
  all: unset;
  background-color: var(--color-primary-faded);
  inline-size: var(--spacing-medium);
  block-size: var(--spacing-medium);
  border-radius: var(--border-radius-circle);
  border: 1px solid var(--color-secondary-medium);
}

.radioItem:not([data-disabled]) {
  &:hover {
    cursor: pointer;
    border: 1px solid var(--color-primary-medium);
  }
}

.radioItem[data-state='checked'] {
  border: 1px solid var(--color-primary-medium);
}

.radioItem[data-state='checked'][data-disabled] {
  border: 1px solid var(--color-secondary-medium);
}

.radioItem[data-focus-visible-added] {
  &:focus {
    box-shadow: var(--shadow-small);
  }
}
