.loadMoreContainer {
  text-align: center;
  button {
    background: none;
    border: none;
    padding: 0;
    font-size: var(--font-size-small);
    color: var(--color-text-default);
    cursor: pointer;
  }
}
