@use "src/styles/theme";

.container {
  position: relative;
  padding-block-start: var(--spacing-medium);
  padding-block-end: var(--spacing-medium);
  padding-inline-start: var(--spacing-medium);
  padding-inline-end: var(--spacing-medium);
  background-color: var(--color-warning-medium);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--color-warning-medium);

  @include theme.dark {
    border: 1px solid var(--color-warning-fade);
    color: var(--color-text-inverse);
  }
  @include theme.light {
    color: var(--color-text-default);
  }
  @include theme.sepia {
    color: var(--color-text-default);
  }
}

.title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-large);
  margin-block-end: var(--spacing-medium);
  line-height: var(--line-height-large);
}

.link {
  margin-block-start: var(--spacing-small);
}
.description {
  margin-block-end: var(--spacing-medium);
}
.version {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: var(--color-text-faded);
  display: flex;
  align-items: center;
  margin-block-end: var(--spacing-medium);

  & > svg {
    height: var(--spacing-small);
    path {
      fill: var(--color-text-faded);
    }
  }
}

.closeIcon {
  position: absolute;
  inset-block-start: var(--spacing-xxsmall);
  inset-inline-end: var(--spacing-xxsmall);
}

.ctaPrimary {
  margin-block-start: var(--spacing-large);
  font-weight: var(--font-weight-bold);
  margin-inline-end: var(--spacing-small);
  @include theme.dark {
    --themed-fg: var(--color-text-default);
    --themed-bg: var(--color-text-inverse);
    --themed-border: var(--color-text-inverse);
  }
  @include theme.light {
    --themed-fg: var(--color-text-inverse);
    --themed-bg: var(--color-text-default);
    --themed-border: var(--color-text-default);
  }
  @include theme.sepia {
    --themed-fg: var(--color-text-inverse);
    --themed-bg: var(--color-text-default);
    --themed-border: var(--color-text-default);
  }
}

.ctaSecondary {
  @include theme.dark {
    --themed-fg: var(--color-text-default);
    --themed-bg: var(--color-text-inverse);
    --themed-border: var(--color-text-inverse);
  }

  @include theme.light {
    --themed-fg: var(--color-text-inverse);
    --themed-bg: var(--color-text-default);
    --themed-border: var(--color-text-inverse);
  }

  @include theme.sepia {
    --themed-fg: var(--color-text-inverse);
    --themed-bg: var(--color-text-default);
    --themed-border: var(--color-text-inverse);
  }
}
