@use "src/styles/theme";

.container {
  --text-color: #ff7878;

  position: relative;
  padding-block-start: var(--spacing-medium);
  padding-block-end: var(--spacing-medium);
  padding-inline-start: var(--spacing-medium);
  padding-inline-end: var(--spacing-medium);
  background: var(--color-success-faded);
  background: #fff5f5;
  border-radius: var(--border-radius-default);
  border: 1px solid #f9a4a4;

  @include theme.dark {
    border: 1px solid var(--color-success-faint);
    background: var(--color-success-faded);
  }

  a {
    color: #ff7878;
  }
  color: #da6464;
}

.title {
  color: var(--text-color);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-large);
  margin-block-end: var(--spacing-medium);
  line-height: var(--line-height-large);
}

.link {
  margin-block-start: var(--spacing-small);
}
.description {
  margin-block-end: var(--spacing-medium);
}
.version {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: var(--color-text-faded);
  display: flex;
  align-items: center;
  margin-block-end: var(--spacing-medium);

  & > svg {
    height: var(--spacing-small);
    path {
      fill: var(--color-text-faded);
    }
  }
}

.closeIcon {
  position: absolute;
  inset-block-start: var(--spacing-xxsmall);
  inset-inline-end: var(--spacing-xxsmall);
}

.cta {
  margin-block-start: var(--spacing-large);
  font-weight: var(--font-weight-bold);
  margin-inline-end: var(--spacing-small);
  --themed-bg: var(--text-color);
  --themed-border: var(--text-color);
}
