@use "src/styles/breakpoints";

.outerContainer {
  background-color: var(--color-background-alternative-faded);
  height: calc(15 * var(--spacing-mega));
}

.innerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-inline: var(--spacing-small);
  @include breakpoints.tablet {
    max-width: calc(25 * var(--spacing-mega));
  }
  margin-inline: auto;
}

.imageContainer {
  height: calc(5 * var(--spacing-mega));
  width: 100%;
  max-width: calc(8 * var(--spacing-mega));
  margin-block-end: var(--spacing-medium);
}
