@use 'src/styles/constants';
@use 'src/styles/breakpoints';
@use 'src/styles/theme';

.container {
  inline-size: 100%;
  display: none; // Hidden by default

  // Only show on mobile when navbar is visible
  @include breakpoints.smallerThanTablet {
    display: block;
  }
}

.tabsContainer {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  border-block-end: 1px solid var(--color-borders-hairline);
  background-color: var(--color-background-elevated-new);
  block-size: var(--mobile-reading-mode-tabs-height);
}

.tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-small);
  padding-inline: var(--spacing-medium);
  padding-block: var(--spacing-medium) var(--spacing-large);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-faded-new);
  inline-size: 50%;
  border-block-end: 2px solid var(--color-separators-ayah-level);
  cursor: pointer;
  transition: all 0.3s ease;

  span {
    margin-inline-start: var(--spacing-xsmall);
  }
}

.selectedTab {
  color: var(--color-success-medium);
  border-block-end: 2px solid var(--color-success-medium);
  font-weight: var(--font-weight-semibold);
}
