@use 'src/styles/breakpoints';

.container {
  // Part of the context menu flow, not fixed to bottom
  inline-size: 100%;
}

.track {
  inline-size: 100%;
  block-size: 3px;
  background-color: var(--color-separators-new);
  position: relative;
}

.indicator {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  background-color: var(--color-success-deep);
  transition: width var(--transition-fast);
  transition-timing-function: linear;
  min-inline-size: 0;
}

.hide {
  display: none;
  visibility: hidden;
}
