@use 'src/styles/breakpoints';
@use 'src/styles/utility';

.reflectionDataContainer {
  padding-block-start: var(--spacing-small-px);
  padding-inline: var(--spacing-medium-px);
  @include breakpoints.tablet {
    padding-block-start: var(--spacing-medium-px);
    padding-inline: var(--spacing-large-px);
  }
}

.tabsContainerWrapper {
  @include utility.edgeHorizontalPadding;
  .tabsContainer {
    border-block-end: unset;

    .tab {
      padding-inline: var(--spacing-xxlarge-px);
      padding-block: var(--spacing-medium-px);
      inline-size: 100%;
      font-weight: var(--font-weight-semibold);
      color: var(--color-text-faded-new);
      border-block-end: var(--spacing-micro-px) solid var(--color-borders-hairline);

      svg {
        inline-size: var(--spacing-medium-plus-px);
        block-size: var(--spacing-medium-plus-px);
        @include breakpoints.tablet {
          inline-size: var(--spacing-medium2-px);
          block-size: var(--spacing-medium2-px);
        }
      }
    }
  }

  .tab + .tab {
    margin-inline-start: unset;
  }

  .tabActive {
    color: var(--color-success-medium);
    border-block-end-color: var(--color-success-medium);
  }
}

.bannerContainer {
  margin-block-end: var(--spacing-medium2-px);
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-micro-px);
}

.modalTitleContainer {
  font-size: var(--font-size-xsmall-px);
  @include breakpoints.tablet {
    font-size: var(--font-size-normal-px);
  }
}

.sortChips {
  display: flex;
  align-items: center;
  gap: var(--spacing-small-plus-px);
  padding: 0;
  min-block-size: var(--spacing-xlarge-px);
}

button.sortChip {
  min-block-size: var(--spacing-medium4-px);
  block-size: var(--spacing-medium4-px);
  padding-block: var(--spacing-xxsmall-px);
  padding-inline: var(--spacing-small-px);
  border: none;
  border-radius: var(--border-radius-circle-small);
  box-shadow: none;
  font-size: var(--font-size-xsmall-px);
  line-height: normal;

  &:active {
    transform: none;
  }
}

button.sortChipDefault,
button.sortChipDefault:hover {
  background-color: var(--color-background-alternative-faint-new);
  color: var(--color-text-default-new);
}

button.sortChipSelected,
button.sortChipSelected:hover {
  background-color: var(--color-success-medium);
  color: var(--color-text-white);
}

.sortChipContent {
  font-size: var(--font-size-xsmall-px);
  font-weight: var(--font-weight-medium);
  line-height: normal;
}
