@use 'src/styles/breakpoints';

.tabsContainer {
  border-block-end: none !important;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-micro-px);
  font-size: var(--font-size-xsmall-px);
  @include breakpoints.tablet {
    font-size: var(--font-size-small-px);
  }
}

.tab {
  padding-inline: var(--spacing-xxlarge-px) !important;
  padding-block: var(--spacing-medium-px) !important;
  inline-size: 100%;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-faded-new);
  border-block-end: var(--spacing-micro-px) solid var(--color-borders-hairline);

  svg {
    inline-size: var(--spacing-medium1-px);
    block-size: var(--spacing-medium1-px);
    @include breakpoints.tablet {
      inline-size: var(--spacing-medium2-px);
      block-size: var(--spacing-medium2-px);
    }
  }

  & + & {
    margin-inline-start: unset !important;
  }
}

.tabActive {
  color: var(--color-success-medium);
  border-block-end-color: var(--color-success-medium);
}
