.container {
    padding-block: var(--spacing-large);
}

.rangesHeader {
    font-size: var(--font-size-small);
    color: var(--color-text-faded);
    padding-block-end: var(--spacing-small);
    font-weight: var(--font-weight-semibold);
    flex-direction: column;
    align-items: flex-end;

    // this is the ranges indicator that we want to reverse to show the chevron on the right
    div:first-child {
        flex-direction: row-reverse;
        align-items: center;
    }
}
