.reflectionContentModal {
  padding: unset;
  overflow-y: auto;
}

// Remove default padding to allow full-width tabs in reflection modal
.reflectionInnerContentModal {
  padding-inline: unset;
}

.reflectionHeader {
  padding-inline: var(--spacing-medium-px);
  padding-block: var(--spacing-small-px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: none;
}

.reflectionHeaderCloseIcon {
  position: relative;
  inset-block: unset;
  inset-inline: unset;
  transform: unset;
}
