@use "src/styles/breakpoints";

.cellContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chapterHeaderContainer,
.cellContainer {
  padding: var(--spacing-small);
  @include breakpoints.tablet {
    padding: var(--spacing-medium);
  }
}

.highlightedContainer {
  background: var(--color-background-alternative-faded);
}

.contentContainer {
  flex: 1;
  padding-block-start: var(--spacing-medium);
  position: relative;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
  direction: ltr;
}
.arabicVerseContainer {
  direction: rtl;
  padding-block-end: var(--spacing-medium);
}
.verseTranslationContainer {
  padding-block-end: var(--spacing-xsmall);
}
.translationContainer {
  padding-block-end: var(--spacing-xsmall);
}

.actionContainerLeft,
.actionContainerRight {
  display: flex;
  align-items: center;
}
.actionContainerLeft {
  justify-content: flex-start;
}
.actionContainerRight {
  justify-content: flex-end;
}

.actionContainerLeft > .actionItem + .actionItem,
.actionContainerRight > .actionItem + .actionItem {
  margin-inline-start: var(--spacing-xxsmall);
}

.secondaryActionItem {
  transition: opacity var(--transition-fast) ease-in-out;
  display: none;
  @include breakpoints.tablet {
    display: initial;
  }
}
