@use "src/styles/constants";
@use "src/styles/utility";
@use "src/styles/breakpoints";

.container {
  max-width: 90%;
  @include breakpoints.tablet {
    max-width: 80%;
  }
  margin: var(--spacing-medium) auto;
}

.text {
  letter-spacing: 0;
  line-height: normal;
  padding-bottom: var(--spacing-micro);
  color: var(--color-text-default);
}

.translationName {
  color: var(--color-text-default);
  font-size: var(--font-size-small);
}

.highlightedContainer {
  background: var(--color-primary-medium);
}
.cellContainer {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-medium) 0;
}
.contentContainer {
  flex: 1;
  padding-top: var(--spacing-mega);
  position: relative;
}
.actionContainer {
  @include breakpoints.tablet {
    padding-right: var(--spacing-medium);
  }
}
.verseContainer {
  padding-bottom: var(--spacing-medium);
}
.translationContainer {
  padding-bottom: var(--spacing-xsmall);
}
.bookmarkIconContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--spacing-medium);
}

@include utility.generate-font-sizes("translation");
