@use "src/styles/breakpoints";
@use "src/styles/utility";
@use "src/styles/theme";

.container {
  width: 100%;
  max-width: 100%;
  @include breakpoints.tablet {
    max-width: 80%;
  }
  margin-inline: auto;
}

.cellContainer {
  @include theme.dark {
    background-color: var(--color-background-alternative-faint);
  }
  @include theme.light {
    background-color: var(--color-background-alternative-faded);
  }
  display: flex;
  flex-direction: column;
  margin-block-end: var(--spacing-mega);
  padding: var(--spacing-medium);
  box-sizing: content-box;
  border-radius: var(--border-radius-rounded);
}

.actionsContainers {
  height: calc(2 * var(--spacing-medium));
  display: flex;
  justify-content: space-between;
}

.actionContainerLeft {
  height: 100%;
  width: calc(1.8 * var(--spacing-mega));
}

.actionContainerRight {
  height: 100%;
  width: calc(5 * var(--spacing-mega));
}

.verseContainer {
  width: 80%;
  margin-inline-start: auto;
  margin-block-start: var(--spacing-large);
  height: calc(1.7 * var(--font-size));
}

.translationContainer {
  display: flex;
  flex-direction: column;
}

.translationText {
  width: 100%;
  height: calc(1.1 * var(--font-size));
  margin-block-start: var(--spacing-large);
}

@include utility.generate-font-sizes("code_v1");
@include utility.generate-font-sizes("code_v2");
@include utility.generate-font-sizes("text_indopak");
@include utility.generate-font-sizes("qpc_uthmani_hafs");
@include utility.generate-font-sizes("translation");
