.findLocationContainer {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--spacing-xsmall);
}

.accessDeniedContainer {
  margin-block-start: var(--spacing-small);
}
.accessDenied {
  font-weight: var(--font-weight-bold);
}
