@use "src/styles/breakpoints";

.versePreviewContainer {
  padding: var(--spacing-small-px);
  border-radius: var(--border-radius-medium-px);
  background-color: var(--color-background-alternative-faded);
}