.reciterSelectionCard {
  background-color: var(--color-background-alternative-faded);

  :global(.value) {
    color: var(--color-text-default-new) !important;
  }

  > :global(div:last-child) > :global(svg) {
    color: var(--color-text-faded);
    fill: var(--color-text-faded);
  }
}
