.reciterSelectionCard {
  background-color: var(--color-background-alternative-faded);

  svg {
    color: var(--color-text-faded);
    fill: var(--color-text-faded);
  }
}

.reciterValue {
  color: var(--color-text-default-new);
}