.titleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.language {
  text-transform: capitalize;
  margin-block-end: var(--spacing-xsmall);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.item {
  margin-block-end: var(--spacing-xsmall);
  display: flex;
  align-items: center;
}

.group {
  margin-block-end: var(--spacing-large);
}

.searchInputContainer {
  margin-block-end: var(--spacing-small);
}

.label {
  display: flex;
  flex-direction: column;
}

.author {
  font-size: var(--font-size-xsmall);
  color: var(--color-text-faded);
}

.input {
  width: 95%;
}
