@use 'src/styles/breakpoints';

.container {
  @include breakpoints.smallerThanTablet {
    padding-block-end: var(--spacing-xxlarge-px);
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.language {
  text-transform: capitalize;
  margin-block-end: var(--spacing-xsmall);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.item {
  margin-block-end: var(--spacing-xsmall);
  display: flex;
  align-items: center;
  gap: var(--spacing-xxsmall-px);
}

.infoIcon {
  inline-size: var(--spacing-medium-px);
  block-size: var(--spacing-medium-px);
  cursor: pointer;
  flex-shrink: 0;
}

.group {
  margin-block-end: var(--spacing-large);
}

.searchInputContainer {
  margin-block-end: var(--spacing-small);
}

.label {
  display: flex;
  flex-direction: column;
}

.author {
  font-size: var(--font-size-xsmall);
  color: var(--color-text-faded);
}

.searchInputContainer .input {
  inline-size: 100%;
  block-size: var(--spacing-xlarge-px);
}
