.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  padding-bottom: var(--spacing-medium);
}
.separator {
  margin-top: var(--spacing-mega);
  margin-bottom: var(--spacing-mega);
}

.footer {
  padding-top: var(--spacing-medium);
  font-style: italic;
}
.invisible {
  display: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row > *:first-child {
  max-width: calc(3 * var(--spacing-mega));
}
.row > * {
  flex: 1;
}
.row + .row {
  margin-top: var(--spacing-xsmall);
}
