.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-jumbo);
  padding-bottom: var(--spacing-medium);
}
.section {
  padding-bottom: var(--spacing-mega);
}

.label {
}

.description {
  padding-top: var(--spacing-medium);
  font-style: italic;
}
.invisible {
  visibility: hidden;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row > *:first-child {
  max-width: calc(3 * var(--spacing-mega));
}
.row > * {
  flex: 1;
}
.row + .row {
  margin-top: var(--spacing-xsmall);
}
