@use "src/styles/breakpoints";
@use "src/styles/constants";

.container {
  background: var(--color-background-default);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: var(--z-index-header);
  transition: var(--transition-regular);
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  right: -100%;

  @include breakpoints.tablet {
    width: constants.$side-menu-desktop-width;
    right: calc(0 - constants.$side-menu-desktop-width);
  }
}

.containerOpen {
  box-shadow: var(--shadow-normal);
  right: 0;
}

.header {
  z-index: inherit;
  width: 100%;
  background-color: var(--color-background-default);
  position: fixed;
  height: constants.$navbar-height;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include breakpoints.tablet {
    width: constants.$side-menu-desktop-width;
  }
}
.headerTitle {
  font-size: var(--font-size-large);
}

.headerContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.closeIcon {
  // aligning the close icon with the rest of components
  margin-right: calc(-1 * var(--spacing-xxsmall));
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
