@use 'src/styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include breakpoints.smallerThanTablet {
    min-height: unset;
    height: calc(100dvh - var(--navbar-height));
  }
}

.buttonsContainer {
  display: flex;
  gap: var(--spacing-small);
  justify-content: space-between;
  padding-inline-start: var(--spacing-medium2-px);
  padding-inline-end: var(--spacing-medium2-px);
  padding-block-start: var(--spacing-medium-px);
  padding-block-end: var(--spacing-medium2-px);
  border-top: 1px solid var(--color-borders-hairline);
  background-color: var(--color-background-elevated);
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  z-index: 10;
  margin-top: auto;

  button {
    border-radius: var(--border-radius-medium-px);
    padding-block: var(--spacing-small-px);
    padding-inline: var(--spacing-small-px);
    border: none;
    font-weight: var(--font-weight-semibold);

    &:hover {
      background: var(--color-black-buttons);
      color: var(--color-text-inverse);
    }
  }

  > :first-child {
    &:hover {
      background: var(--color-background-elevated);
      color: var(--color-text-faded-new);
    }

    span {
      color: var(--color-text-faded-new);
    }
  }
}