.container {
  min-height: calc(4 * var(--spacing-mega));
}

.changeTafsirsButtonContainer {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--spacing-xsmall);
}

.skeleton {
  height: calc(2.2 * var(--spacing-mega));
  width: 100%;
}
