.container {
  min-height: calc(4 * var(--spacing-mega));
}

.changeReciterButtonContainer {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--spacing-xsmall);
}

.skeleton {
  height: calc(2.2 * var(--spacing-mega));
  width: 100%;
}

.translationSelectionCard {
  background-color: var(--color-background-alternative-faded) !important;

  :global(.value) {
    color: var(--color-text-default-new) !important;
  }

  > :global(div:last-child)> :global(svg) {
    color: var(--color-text-faded);
    fill: var(--color-text-faded);
  }
}