.container {
  min-block-size: calc(4 * var(--spacing-mega));
}

.changeReciterButtonContainer {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--spacing-xsmall);
}

.skeleton {
  block-size: calc(2.2 * var(--spacing-mega));
  inline-size: 100%;
}

.translationSelectionCard {
  background-color: var(--color-background-alternative-faded);

  svg {
    color: var(--color-text-faded);
    fill: var(--color-text-faded);
  }
}

.translationValue {
  color: var(--color-text-default-new);
}

.counter {
  gap: calc(var(--spacing-large-px) + var(--spacing-small-plus-px));
  direction: initial;

  & > svg {
    color: var(--color-text-default-new);
  }
}

.fontStyleLabel {
  color: var(--color-text-default-new);
  opacity: unset;
  font-weight: var(--font-weight-medium);
  padding-inline-start: var(--spacing-small-plus-px);
  padding-inline-end: var(--spacing-small-plus-px);
}
