.container {
  min-block-size: calc(4 * var(--spacing-mega));
}
.changeReciterButtonContainer {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--spacing-xsmall);
}

.skeleton {
  block-size: calc(2.2 * var(--spacing-mega));
  inline-size: 100%;
}
