.previewTitle {
  color: var(--color-text-faded-new);
  font-size: var(--font-size-xxsmall-px);
  padding-block-end: var(--spacing-xsmall-px);
  border-block-end: var(--spacing-hairline-px) solid var(--color-separators-ayah-level);
  margin-block-end: calc(2 * var(--spacing-large-px));
  font-weight: var(--font-weight-medium);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium-px);
}

.translationText {
  font-size: var(--font-size-small-px);
  line-height: 150%;
}

.skeletonPlaceholder {
  height: calc(1.5 * var(--spacing-mega));
  width: 100%;
}

.skeletonContainer + .skeletonContainer {
  margin-block-start: var(--spacing-large);
}