.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-small);
  margin-block-end: var(--spacing-small);
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxsmall);
}

.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
}

.separator {
  margin-block: var(--spacing-small);
}
