@use "src/styles/breakpoints";
@use "src/styles/theme";

$dark-theme-filter: invert(76%) contrast(100%) saturate(500%) hue-rotate(274deg);
$light-theme-filter: contrast(100%) hue-rotate(50deg);
.imageContainer {
  @include theme.light {
    img {
      filter: $light-theme-filter;
    }
  }
  @include theme.dark {
    img {
      filter: $dark-theme-filter;
    }
  }
  @include theme.sepia {
    img {
      filter: $light-theme-filter;
    }
  }
}

.xs {
  img {
    zoom: 0.4;
    @include breakpoints.tablet {
      zoom: 0.5;
    }
  }
}
.sm {
  img {
    zoom: 0.5;
    @include breakpoints.tablet {
      zoom: 0.65;
    }
  }
}
.md {
  img {
    zoom: 0.7;
    @include breakpoints.tablet {
      zoom: 0.75;
    }
  }
}
.lg {
  img {
    zoom: 0.8;
    @include breakpoints.tablet {
      zoom: 0.9;
    }
  }
}
.xl {
  img {
    zoom: 0.9;
    @include breakpoints.tablet {
      zoom: 0.92;
    }
  }
}

.xl2 {
  img {
    zoom: 1;
  }
}

.xl3 {
  img {
    zoom: 1.1;
    @include breakpoints.tablet {
      zoom: 1.02;
    }
  }
}

.xl4 {
  img {
    zoom: 1.2;
    @include breakpoints.tablet {
      zoom: 1.04;
    }
  }
}

.xl5 {
  img {
    zoom: 1.3;
    @include breakpoints.tablet {
      zoom: 1.06;
    }
  }
}

.xl6 {
  img {
    zoom: 1.4;
    @include breakpoints.tablet {
      zoom: 1.08;
    }
  }
}
