@keyframes overlayShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay {
  background-color: rgba($color: #000000, $alpha: 0.1);
  position: fixed;
  inset: 0;
  @media (prefers-reduced-motion: no-preference) {
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

@keyframes contentShow {
  0% {
    opacity: 0;
    transform: "translate(-50%, -48%) scale(.96)";
  }
  100% {
    opacity: 1;
    transform: "translate(-50%, -50%) scale(1)";
  }
}

.content {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;

  @media (prefers-reduced-motion: no-preference) {
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform;
  }

  &:focus {
    outline: none;
  }
}

.title {
  margin: 0px;
  font-weight: 500;
  // color: ${mauve.mauve12};
  font-size: 17px;
}

.description {
  margin: 10px 0 20px;
  // color: ${mauve.mauve11};
  font-size: 15px;
  line-height: 1.5;
}
.actionContainer {
  display: flex;
  justify-content: stretch;
}
