@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay {
  background-color: rgba(#000, 0.25);
  position: fixed;
  inset: 0;
}

.overlay[data-state="open"],
.content[data-state="open"] {
  animation: fadeIn 300ms ease-out;
}

.overlay[data-state="closed"],
.content[data-state="closed"] {
  animation: fadeOut 300ms ease-in;
}

@keyframes contentShow {
  0% {
    opacity: 0;
    transform: "translate(-50%, -48%) scale(.96)";
  }
  100% {
    opacity: 1;
    transform: "translate(-50%, -50%) scale(1)";
  }
}

.content {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: var(--shadow-large);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;

  @media (prefers-reduced-motion: no-preference) {
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform;
  }

  &:focus {
    outline: none;
  }
}

.body {
  padding: var(--spacing-mega);
}

.title {
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-jumbo);
}
.subtitle {
  text-align: center;
  color: var(--color-text-faded);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-xlarge);
}

.description {
  margin: 10px 0 20px;
  font-size: 15px;
  line-height: 1.5;
}
.actionsContainer {
  display: flex;
  justify-content: stretch;
}
.action {
  flex: 1;
  border: none;
  border-top: 1px solid var(--color-borders-hairline);
  font-size: var(--font-size-normal);
  background-color: inherit;
  padding: var(--spacing-large);
  color: var(--color-text-faded);
  overflow: hidden;
}
.action:not(:only-child):not(:last-child) {
  border-right: 1px solid var(--color-borders-hairline);
}
.action:last-child {
  color: var(--color-text-default);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large);
}
