@use "src/styles/breakpoints";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: var(--spacing-medium);
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  > a {
    margin-block-start: var(--spacing-xxsmall);
    margin-inline-end: var(--spacing-xxsmall);
    margin-block-end: var(--spacing-xxsmall);
    margin-inline-start: var(--spacing-xxsmall);
    @include breakpoints.tablet {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: var(--spacing-xsmall);
      margin-inline-end: var(--spacing-xsmall);
    }
  }
}

.progressWidgetContainer {
  margin-block-start: var(--spacing-xsmall);
  margin-inline: auto;
  max-width: 100%;
  @include breakpoints.tablet {
    max-width: 80%;
  }
}

.donationBannerContainer {
  margin-block-start: var(--spacing-large);
}
