@use 'src/components/QuestionAndAnswer/Pill/shared.module.scss' as shared;

$pill-font-size-multiplier: 0.625;

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text-default-new);

  & :global(.milkdown) *,
  & :global(.ProseMirror) *,
  :global(.content) *,
  :global(.editor) * {
    font-size: inherit;

    & :where(ol, ul) {
      list-style-position: inside;
      padding-inline: 0;

      & > li > * {
        display: inline;
      }
    }
  }
}

.pillContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(
    var(--answer-dynamic-font-size, var(--font-size-large2)) * #{$pill-font-size-multiplier}
  );
  gap: var(--spacing-large);
  text-transform: capitalize;
  padding-block-start: var(--spacing-xsmall);
}

.summary {
  font-size: inherit;
  font-weight: var(--font-weight-bold);
}
