.container {
    border: 1px solid var(--color-primary-medium);
    border-radius: var(--border-radius-rounded);
    background-color: var(--color-background-inverse);
    color: var(--color-text-inverse);
    font-size: var(--font-size-xsmall);
    width: fit-content;
    padding: 0 var(--spacing-micro);
}
