.iconContainer {
  padding-block-start: var(--spacing-micro);
  padding-inline-end: var(--spacing-small);
  svg {
    inline-size: var(--spacing-medium-plus2-px);
    block-size: var(--spacing-medium-plus2-px);
  }
}

.container {
  padding-block: var(--spacing-xsmall);
  padding-inline: var(--spacing-xsmall);
  &:hover {
    background-color: var(--color-background-alternative-faded);
    border-radius: var(--border-radius-default);
  }
}

.linkContainer {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
}

.arabic {
  font-family: UthmanicHafs;
  text-align: end;
  direction: rtl;
  inline-size: 100%;
  display: block;
  /* stylelint-disable-next-line csstools/use-logical */
  margin-left: auto;
  /* stylelint-disable-next-line csstools/use-logical */
  margin-right: 0;
}

.resultText {
  flex-grow: 1;
  em {
    font-weight: var(--font-weight-bold);
    color: var(--color-highlight-dark);
  }
  sup {
    display: none;
  }
}
