@use "src/styles/constants";
@use "src/styles/utility";
@use "src/styles/breakpoints";

$container-max-width: calc(23 * var(--spacing-mega));

.container {
  max-width: 90%;
  margin-block-start: var(--spacing-small);
  margin-block-end: var(--spacing-small);
  margin-inline-start: auto;
  margin-inline-end: auto;
  @include breakpoints.tablet {
    max-width: $container-max-width;
  }
}
.tafsirName {
  border-block-start: 1px solid var(--color-borders-hairline);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  padding-block-start: var(--spacing-medium);
  padding-block-end: var(--spacing-xxsmall);
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: var(--spacing-xxsmall);
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.tafsirContainer {
  padding-block-start: var(--spacing-medium);
  padding-block-end: var(--spacing-large);
  padding-inline-start: 0;
  padding-inline-end: 0;
  letter-spacing: 0;
  line-height: normal;
  p {
    margin-block-end: var(--spacing-small);
    opacity: var(--opacity-85);
    line-height: normal;
  }
  br {
    content: "";
    margin-block-start: var(--spacing-small);
    margin-inline-end: var(--spacing-small);
    margin-block-end: var(--spacing-small);
    margin-inline-start: var(--spacing-small);
    display: block;
  }
  h2 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xlarge);
    margin-block-end: var(--spacing-small);
    margin-block-start: calc(1.5 * var(--spacing-medium));
    &:first-child {
      margin-block-start: 0;
    }
  }
  * {
    letter-spacing: 0;
    line-height: normal;
  }
  // target any item which has a class that contains arabic
  *[class~="arabic"] {
    direction: rtl;
    /* stylelint-disable-next-line csstools/use-logical */
    text-align: right;
    margin-block-end: var(--spacing-small);
  }
  // target any item which has a class that contains uthmani
  *[class~="uthmani"] {
    font-family: UthmanicHafs;
    font-size: larger;
  }
}

.rtl {
  direction: rtl;
  /* stylelint-disable-next-line csstools/use-logical */
  text-align: right;
}

.surahAndAyahSelectionContainer {
  display: flex;
}
.tafsirSelectionContainer {
  display: flex;
  margin-block-start: var(--spacing-medium);
  overflow-x: scroll;
  width: 100%;
  padding-block-end: var(--spacing-medium);
}
.tafsirSelectionItem {
  text-transform: capitalize;
  background-color: var(--color-background-alternative-faint);
  border-radius: var(--border-radius-rounded);
  white-space: nowrap;
  height: auto;
  padding-block: var(--spacing-xxsmall);
  padding-inline: var(--spacing-small);
  border: none;
  color: var(--color-text-default);
  &:hover {
    background-color: var(--color-background-alternative-faint);
    opacity: var(--opacity-75);
  }

  margin-inline-start: var(--spacing-medium);
}

.tafsirItemSelected {
  background-color: var(--color-success-medium);
  color: var(--color-text-inverse);
  &:hover {
    background-color: var(--color-success-medium);
    color: var(--color-text-inverse);
    opacity: var(--opacity-85);
  }
}

.separatorContainer {
  margin-block: var(--spacing-medium);
}
.verseTextContainer {
  margin-block-end: var(--spacing-mega);
}
.selectionItem {
  margin-inline-start: var(--spacing-medium);
}
.ayahSelection {
  max-width: calc(2.5 * var(--spacing-mega));
}

.tafsirSkeletonItem {
  height: var(--spacing-mega);
  margin-block-end: var(--spacing-medium);
}
.ayahSekletonItem {
  margin-inline-end: auto;
  height: calc(2.5 * var(--spacing-mega));
  margin-block-end: var(--spacing-mega);

  width: 100%;
}
.tafsirSkeletonItem1 {
  width: 100%;
}

.tafsirSkeletonItem2 {
  width: 80%;
}

.tafsirSkeletonItem3 {
  width: 60%;
}

.tafsirSelectionSkeleton {
  margin-block-start: var(--spacing-small);
}

.languageSelection {
  min-width: calc(6 * var(--spacing-medium));
  width: calc(6 * var(--spacing-medium));
}

@include utility.generate-font-scales("tafsir");
