.inputContainer {
  inline-size: 100%;
}
.deleteButton {
  inline-size: 100%;
}

.confirmationText {
  font-weight: var(--font-weight-bold);
}

.instructionText {
  padding-block: var(--spacing-medium);
}

.deleteAccountWarningTitle {
  font-weight: var(--font-weight-bold);
}
