.inputContainer {
  height: calc(2 * var(--spacing-medium2-px));
  width: 100%;
}
.deleteButton {
  width: 100%;
}

.confirmationText {
  font-weight: var(--font-weight-bold);
}

.instructionText {
  padding-block: var(--spacing-medium);
}

.deleteAccountWarningContainer {
  color: var(--color-text-default-new);
  margin-block-start: var(--spacing-small-px);
}

.deleteAccountWarningTitle {
  font-weight: var(--font-weight-bold);
}
