.skeletonContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium-px);
}

.notificationRow {
  display: flex;
  align-items: start;
  gap: var(--spacing-xsmall-px);
}

.checkbox {
  width: var(--spacing-medium2-px);
  height: var(--spacing-medium2-px);
  border-radius: var(--border-radius-xsmall2-px);
  flex-shrink: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-micro-px);
  flex: 1;
}

.title {
  height: var(--spacing-small-px);
  width: 40%;
  border-radius: var(--border-radius-xsmall-px);
}

.description {
  height: var(--font-size-xsmall-px);
  width: 80%;
  border-radius: var(--border-radius-xsmall-px);
}

.buttonContainer {
  margin-block-start: var(--spacing-small-px);
}

.button {
  height: var(--spacing-medium3-px);
  width: calc(var(--spacing-mega-px) + var(--spacing-medium2-px));
  border-radius: var(--border-radius-small-px);
}
