@use 'src/styles/breakpoints';

.profilePictureContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small-px);
  .profilePictureTitle {
    color: var(--color-text-default-new);
    font-size: var(--font-size-small-px);
  }
  .profilePictureDetailAction {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small-px);
    @include breakpoints.tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    .profilePictureDetail {
      display: flex;
      align-items: center;
      gap: var(--spacing-xxsmall-px);
      .profilePictureImage {
        svg {
          inline-size: calc(var(--spacing-large-px) * 2);
          block-size: calc(var(--spacing-large-px) * 2);
          fill: var(--color-grey-icons);
          path {
            fill: var(--color-grey-icons);
          }
        }
        .profilePictureImageElement {
          inline-size: calc(var(--spacing-large-px) * 2);
          block-size: calc(var(--spacing-large-px) * 2);
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .profilePictureDescription {
        p {
          color: var(--color-text-faded-new);
          font-size: var(--font-size-xxsmall-px);
        }
      }
    }
    .profilePictureAction {
      display: flex;
      align-items: center;
      gap: var(--spacing-small-px);
      .profilePictureInput {
        display: none;
      }
      .profilePictureActionButton {
        border-radius: var(--border-radius-small-px);
        font-weight: var(--font-weight-normal);
      }
      .uploadPictureButton {
        background-color: var(--color-background-alternative-faint);
      }
    }
  }
}
