@use 'src/styles/breakpoints';

.pageContainerSkeleton {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xlarge-px);
  .headerSkeleton {
    inline-size: 100%;
    max-inline-size: calc(var(--spacing-mega-px) * 2);
    block-size: var(--spacing-xlarge-px);
  }

  .skeletonSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium2-px);
  }

  .profilePictureSkeleton {
    inline-size: calc(var(--spacing-large-px) * 2);
    block-size: calc(var(--spacing-large-px) * 2);
  }

  .inputSkeleton {
    inline-size: 100%;
    block-size: var(--spacing-xlarge-px);
  }

  .checkboxSkeleton {
    inline-size: 100%;
    block-size: var(--spacing-large-px);
  }

  .disclaimerSkeleton {
    inline-size: 100%;
    block-size: var(--spacing-mega-px);
  }

  .ctaSkeleton {
    block-size: var(--spacing-large-px);
    inline-size: 100%;
    max-inline-size: var(--spacing-mega-px);
  }

  .profileSkeletonContainer {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-medium2-px);
  }

  .editDetailsSkeleton {
    display: grid;
    gap: var(--spacing-medium2-px);
    @include breakpoints.tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .changePasswordSkeleton {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium2-px);
    @include breakpoints.tablet {
      max-inline-size: 50%;
      padding-inline-end: var(--spacing-small-px);
    }
  }
}
