@use 'src/styles/breakpoints';

.menuContent {
  padding-inline: var(--spacing-medium-px);
  padding-block-start: var(--spacing-medium-px);
  padding-block-end: 0;
  border-radius: var(--spacing-xxsmall-px);
  box-shadow: var(--shadow-surah-search);
  min-inline-size: auto;
  margin-inline-end: calc(1.2 * var(--spacing-mega));
  z-index: var(--z-index-modal);

  @include breakpoints.smallerThanTablet {
    margin-inline-end: var(--spacing-medium-px);
  }
}

.menuItem {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  padding-block-end: var(--spacing-medium-px);

  &:hover,
  &:focus {
    background: transparent;
  }
}

.menuItemText {
  font-weight: var(--font-weight-medium);
  color: var(--color-text-default);
}

.menuItemIcon {
  inline-size: var(--spacing-small2-px);
  block-size: var(--spacing-small2-px);
  color: var(--color-grey-icons-new);
}
