@use 'src/styles/breakpoints';
$white: #fff;
$colorPickerBorderRadius: calc(var(--spacing-medium) * 3);

.separatorContainer {
  margin-block: var(--spacing-large);
  @include breakpoints.smallerThanTablet {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-block-size: calc(8 * var(--spacing-mega));
}

.player {
  inline-size: 100% !important;
  margin-block-start: var(--spacing-large);
}

.playerHeight {
  block-size: 100% !important;
}

.playerHeightSafari {
  block-size: calc(100% - 40px) !important;
}

.loadingContainer {
  inline-size: 100% !important;
  block-size: 100% !important;
  display: flex;
  align-items: center;
}

.spinner {
  background-color: var(--color-background-default);
  border-radius: var(--spacing-xxsmall);
  padding: var(--spacing-micro);
}

.playerWrapper {
  position: relative;
  padding: var(--spacing-large);
  aspect-ratio: 16 / 9;
}

.portraitAspectRatio {
  aspect-ratio: 9 / 16;
  max-inline-size: 30% !important;
  @include breakpoints.smallerThanTablet {
    max-inline-size: 90% !important;
    // TODO: we should add the banner height here if it's shown
    // margin-block-start: var(--banner-height);
  }
}

.versePreviewContainer {
  padding: var(--spacing-large);
  background-color: var(--color-background-alternative-faded);
}

.pageContainer {
  padding-block-end: var(--spacing-small);
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  block-size: 100%;
  flex-direction: column;
}

.titleContainer {
  border-block-end: solid;
  border-color: var(--color-secondary-medium);
  border-width: 1px;
  inline-size: 70%;
  margin: 0 auto;
  text-align: center;

  h1 {
    margin: auto;
    margin-block-end: var(--spacing-large);
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
  }

  @include breakpoints.smallerThanDesktop {
    inline-size: 90%;
    // TODO: we should add the banner height here if it's shown
    // margin-block-start: var(--banner-height);
  }
}

// juz layout (masonry layout)
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.switchContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  inline-size: 75%;
  margin: 0 auto;
  margin-block-end: var(--spacing-large);
  @include breakpoints.smallerThanTablet {
    inline-size: 90%;
  }
}

.switch {
  inline-size: 100%;
  margin-inline-end: var(--spacing-mega);
}

.settings {
  inline-size: 90%;
  align-self: center;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.verseContainer {
  margin: 3rem 0px;
}

.verse {
  display: flex;
  flex-direction: row;
  direction: rtl;
}

.number {
  font-size: 12px;
  text-align: end;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0px 20px;
  border: 1px solid black;
}

.text {
  font-size: 3.5rem;
  text-align: end;
  margin-inline-start: 10px;
  padding: 0 2rem;
}

.translation {
  padding: 5px;
  margin: 3px 0px;
  display: flex;
  flex-direction: row;
}

.translationText {
  font-size: 1.4rem;
  text-align: end;
  margin-inline: 10px 0;
  margin-inline-start: auto;
  padding: 0 2rem;
}

.colorPickerContainer {
  border-radius: $colorPickerBorderRadius;
  background-color: $white;
  border: 1px solid var(--color-secondary-faded);
}

.colorPicker {
  inline-size: 100%;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-inline: var(--spacing-micro);
}

.colorPicker::-webkit-color-swatch {
  border-radius: $colorPickerBorderRadius;
  border: none;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.language {
  text-transform: capitalize;
  margin-block-end: var(--spacing-xsmall);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.item {
  margin-block-end: var(--spacing-xsmall);
  display: flex;
  align-items: center;
}

.group {
  margin-block-end: var(--spacing-large);
}

.searchInputContainer {
  margin-block-end: var(--spacing-small);
  margin-block-start: var(--spacing-xsmall);
  margin-inline-end: var(--spacing-mega);
}

.label {
  display: flex;
  flex-direction: column;
}

.author {
  font-size: var(--font-size-xsmall);
  color: var(--color-text-faded);
}

.input {
  inline-size: 95%;
}

.container {
  min-block-size: calc(4 * var(--spacing-mega));
}
.changeReciterButtonContainer {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--spacing-xsmall);
}

.skeleton {
  block-size: calc(2.2 * var(--spacing-mega));
  inline-size: 100%;
}

.translationControlButtons {
  display: flex;
  justify-content: flex-start;
  inline-size: 100%;
}

.translationControlButtons > button {
  margin: 0 1rem 1rem 0;
}

.selectedSetting {
  border: 3px solid rgb(4, 255, 0) !important;
}

.BackgroundVideosWrapper {
  position: relative;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  @include breakpoints.smallerThanTablet {
    grid-template-columns: repeat(3, 1fr);
  }
}

.img {
  object-fit: cover;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    transform: scale(1.08);
    box-shadow: 10px 10px 48px -25px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 48px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 48px -25px rgba(0, 0, 0, 0.75);
  }
}

.verseRangeContainer {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.versesLabel {
  margin-block-end: 1rem;
}

.translationListContainer {
  block-size: 50vh;
  height: 50dvh;
  min-inline-size: 100%;
  overflow: auto;
  position: relative;
  margin-block-start: var(--spacing-medium);
}

.translationClearSearchButton {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 20px;
}

.translationModalWrapper .body {
  padding-block-end: 0px !important;
}

.renderControlsContainer {
  margin-block-start: 0 !important;
  display: flex;
  flex-direction: column;

  button {
    inline-size: 10rem;
  }
}

.error {
  color: var(--color-text-error);
}

.selectContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xsmall);
}

.select select {
  inline-size: 100%;
}

.tabContainer {
  display: flex;
  align-items: space-between;
  column-gap: calc(var(--spacing-medium) * 3.5);
  @include breakpoints.smallerThanTablet {
    flex-direction: column;
    align-items: center;
  }
}

.section {
  flex: 1;
  margin-block: var(--spacing-large);
  @include breakpoints.smallerThanTablet {
    inline-size: 90%;
  }
}

.sectionTitle {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  padding-block-end: var(--spacing-xsmall);
  display: flex;
  flex-direction: row;
  align-items: center;

  @include breakpoints.smallerThanDesktop {
    font-size: var(--font-size-small);
  }
}

.label {
  color: var(--color-text-default);
  opacity: var(--opacity-75);
  font-size: var(--font-size-xsmall);
  padding-inline-start: var(--spacing-xxsmall);
  @include breakpoints.desktop {
    padding-block-start: var(--spacing-micro);
  }
}

.counterContainer {
  @include breakpoints.smallerThanTablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.opacityCounter {
  display: flex;
  justify-content: center;
  padding-block-start: var(--spacing-xsmall);
}

.generateVideoButton {
  inline-size: 100%;
  max-inline-size: 250px;
  margin: 0 auto;
  margin-block-end: var(--spacing-mega);
  display: flex;
  justify-content: center;
  align-items: center;
}
