.container {
  inline-size: 100%;
  font-size: var(--font-size-small-px);
  font-weight: var(--font-weight-bold);
  line-height: inherit;
  margin: 0;

  --_background-color: var(--background-color, var(--color-background-alternative-faint-new));
  --_text-color: var(--text-color, var(--color-text-link-new));
  --_fade-stop-percentage: var(--fade-stop-percentage, 45%);
}

.textWrapper {
  position: relative;
}

.content {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.truncated {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.fadeOverlay {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  padding-inline-start: calc(var(--spacing-mega) * 2.5);
  padding-inline-end: var(--spacing-micro2-px);

  [dir='rtl'] &:dir(ltr),
  &:dir(ltr) {
    background: linear-gradient(
      to right,
      transparent,
      var(--_background-color) var(--_fade-stop-percentage)
    );
  }

  :dir(rtl) & {
    background: linear-gradient(
      to left,
      transparent,
      var(--_background-color) var(--_fade-stop-percentage)
    );
  }
}

.moreBtn,
.lessBtn {
  display: inline;
  cursor: pointer;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  white-space: nowrap;

  span {
    color: var(--_text-color);
  }

  &:hover span {
    text-decoration: underline;
    text-underline-offset: var(--spacing-micro-px);
    text-decoration-thickness: var(--spacing-micro-px);
  }

  &:focus-visible span {
    outline: var(--spacing-micro-px) solid var(--color-primary-medium);
    outline-offset: var(--spacing-micro-px);
  }
}
