.answerBody {
    background-color: var(--color-background-alternative-faded);
    border-radius: var(--border-radius-rounded);
    padding: var(--spacing-medium2-px);
    font-size: var(--font-size-small);
}

.header {
    font-size: var(--font-size-small);
    color: var(--color-text-faded);
    padding-block-end: var(--spacing-small);
    font-weight: var(--font-weight-bold);
}

.text {
    padding-block-end: var(--spacing-small);
}

.shareButton {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.shareButtonText {
    color: var(--color-text-faded);
    display: flex;
    align-items: center;
    gap: var(--spacing-xxsmall);
}

.shareOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-medium);
    width: 100%;
}

.shareOptionsButtons {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.shareOptionButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xsmall);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;

    span {
        font-size: var(--font-size-small);
        color: var(--color-text-default);
    }
}

.socialIcon {
    width: var(--spacing-xlarge-px);
    height: var(--spacing-xlarge-px);
}

.utilityIconWrapper {
    width: var(--spacing-xlarge-px);
    height: var(--spacing-xlarge-px);
    background-color: var(--color-background-alternative);
    border-radius: var(--border-radius-circle);
    display: flex;
    align-items: center;
    justify-content: center;
}
