.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xxsmall) 0;
  margin: var(--spacing-xxsmall) 0;
  position: relative;
}

.left {
}

.right {
}

.QOutlineWrapper {
  position: absolute;
}

.chapterId {
  margin-bottom: 1rem;
  text-align: right;
}

.bismillahContainer {
  display: flex;
  justify-content: center;
}
