.container {
  text-align: center;
  padding: var(--spacing-xxsmall) 0;
  margin: var(--spacing-xxsmall) 0;
}

.item {
  font-size: calc(2 * var(--font-size-large));
  letter-spacing: 0;
  line-height: normal;
  color: var(--color-text-default);
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
