@use 'src/styles/breakpoints';

$translation-button-max-width-desktop: 200px;
$translation-button-max-width-mobile: 150px;

.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-small-px);
  margin-inline-start: var(--spacing-small-px);
}

.translationButton {
  max-inline-size: $translation-button-max-width-desktop;

  @include breakpoints.smallerThanTablet {
    max-inline-size: $translation-button-max-width-mobile;
  }
}

.translationButtonContent {
  min-inline-size: 0;
  overflow: hidden;
}

.translationText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdownIcon {
  inline-size: var(--spacing-small2-px);
  block-size: var(--spacing-small2-px);
  flex-shrink: 0;
  transition: transform var(--transition-regular);
}

.dropdownIconOpen {
  transform: rotate(180deg);
}

.dropdownContent {
  padding-block: 0;
}
