@use "src/styles/breakpoints";

$playChapterAudioButtonMinInlineSize: 95px;
$playChapterAudioButtonMinInlineSizeMobile: 0.9375rem;

@mixin customButton {
  border: none;
  background-color: var(--color-background-elevated-new);
  box-shadow: var(--shadow-small-new);

  svg {
    color: var(--color-success-medium);

    @include breakpoints.smallerThanTablet {
      width: $playChapterAudioButtonMinInlineSizeMobile;
      height: $playChapterAudioButtonMinInlineSizeMobile;
    }
  }

  &:hover {
    border: 1px solid var(--color-success-medium);
    color: var(--color-text-faded-new);
  }
}

.container {
  display: flex;
  justify-content: center;
}

.playChapterAudioButton {
  button {
    @include customButton;
    min-inline-size: $playChapterAudioButtonMinInlineSize;
    font-size: var(--font-size-small);
  }
}
