@use 'src/styles/breakpoints';

$playChapterAudioButtonMinInlineSize: 95px;

@mixin customButton {
  border: 1px solid transparent;
  background-color: var(--color-background-elevated-new);
  box-shadow: var(--shadow-small-new);

  svg {
    color: var(--color-success-medium);

    @include breakpoints.smallerThanTablet {
      inline-size: var(--spacing-medium-px);
      block-size: var(--spacing-medium-px);
    }
  }

  &:hover {
    border: 1px solid var(--color-success-medium);
    color: var(--color-text-faded-new);
  }
}

.container {
  display: flex;
  justify-content: center;
}

.playChapterAudioButton {
  button {
    @include customButton;
    min-inline-size: $playChapterAudioButtonMinInlineSize;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    padding-inline: var(--spacing-small2-px);
    white-space: nowrap;
  }
}
