@use "src/styles/constants";
@use "src/styles/breakpoints";
@use "src/styles/utility";

$quran-reader-padding-mobile: 2rem;
$quran-reader-padding-tablet: 3rem;

.infiniteScroll {
  @include utility.container;
  margin: 0 auto;
}

.loading {
  text-align: center;
  max-width: 80%;
  margin: var(--spacing-medium) auto;
}

.container {
  padding: $quran-reader-padding-mobile 0;
  background: var(--color-background-default);
  @include breakpoints.tablet {
    padding: $quran-reader-padding-tablet 0;
    transition: var(--transition-regular);
    margin-right: 0;
  }
}

.withVisibleSideBar {
  @include breakpoints.tablet {
    margin-right: constants.$notes-side-bar-desktop-width;
  }
}

.playButton {
  display: flex;
  justify-content: center;
}
