@use "src/styles/breakpoints";

.content {
    padding-block-start: var(--spacing-large);
}

.contentModal {
    @include breakpoints.tablet {
        padding-inline-start: var(--spacing-xlarge-px);
        padding-inline-end: var(--spacing-xlarge-px);
        padding-block-start: var(--spacing-xlarge-px);
        padding-block-end: var(--spacing-xlarge-px);
    }
}

.closeIcon {
    @include breakpoints.tablet {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
    }
}

.header {
    @include breakpoints.tablet {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
