@use "src/styles/theme";

$size: var(--spacing-medium);

.toggle {
  cursor: pointer;
  height: $size;
  width: calc(2.5 * $size);

  padding: calc(0.3 * var(--spacing-xsmall));

  transition: 100ms linear;
  border-radius: var(--border-radius-pill);
  display: flex;
  align-items: center;
  background-color: var(--color-text-faded);
}

.handle {
  background-color: var(--color-background-default);
  @include theme.dark {
    background-color: var(--color-background-inverse);
  }

  border-radius: 50%;

  display: inline-block;
  height: $size;
  width: $size;
  transition: transform var(--transition-fast) ease;
}

.checked > .handleOn {
  transform: translateX(150%);
  [dir="rtl"] & {
    transform: translateX(-150%);
  }
}

.checked.toggle {
  background-color: var(--color-success-medium);
}
