.root {
  width: calc(2 * var(--spacing-medium)) !important;
  height: var(--spacing-large) !important;
  background-color: var(--color-background-default) !important;
  border-radius: var(--border-radius-pill) !important;
  position: relative !important;
  border: 1px solid var(--color-borders-hairline) !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;

  &:focus {
    box-shadow: 0 0 0 2px var(--color-background-inverse) !important;
  }

  &[data-state="checked"] {
    background-color: var(--color-success-medium) !important;
  }
  &[data-disabled] {
    background: var(--color-background-alternative-medium) !important;
  }

  [dir="rtl"] & {
    /* rtl: swap transform direction */
    transform: translateX(calc(-1 * var(--spacing-micro)));
  }
}

.thumb {
  display: block;
  width: var(--spacing-medium);
  height: var(--spacing-medium);
  background-color: var(--color-background-inverse);
  border-radius: var(--border-radius-circle);
  border: 1px solid var(--color-borders-hairline);
  transition: transform 100ms;
  transform: translateX(var(--spacing-micro));
  will-change: transform;

  &[data-state="checked"] {
    transform: translateX(var(--spacing-small));

    [dir="rtl"] & {
      /* rtl: swap transform direction */
      transform: translateX(calc(-1 * var(--spacing-small)));
    }
  }
  &[data-disabled] {
    opacity: var(--opacity-30);
  }

  [dir="rtl"] & {
    /* rtl: swap transform direction */
    transform: translateX(calc(-1 * var(--spacing-micro)));
  }
}

.label {
  color: var(--color-text-default);
  line-height: 1;
  padding-inline-end: var(--spacing-medium);
  font-weight: var(--font-weight-bold);
}

.container {
  button {
    all: unset;
  }
  display: flex;
  align-items: center;
}
