@use "src/styles/breakpoints";

.reciterImage {
  min-width: calc(5 * var(--spacing-mega));
  min-height: calc(5 * var(--spacing-mega));
  background-color: var(--color-background-alternative-deep);
  border-radius: var(--border-radius-rounded);
  margin-inline-end: var(--spacing-medium);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: var(--spacing-large);
  padding-block-start: var(--spacing-large);
}

.reciterName {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xlarge);
  margin-block-end: var(--spacing-medium);
}

.surahListContainer {
  display: grid;
  gap: var(--spacing-medium);
  @include breakpoints.tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sectionTitle {
  margin-block-end: var(--spacing-medium);
  font-weight: var(--font-weight-semibold);
}

.chapterListItem {
  display: flex;
  padding: var(--spacing-medium) var(--spacing-small);
  margin-block-end: var(--spacing-medium);
  border-radius: var(--border-radius-rounded);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    background-color: var(--color-background-alternative-faded);
  }
}

.chapterId {
  margin-inline: var(--spacing-medium);
}

.chapterName {
  font-weight: var(--font-weight-semibold);
}

.reciterContainer {
  display: flex;
  align-items: center;
}

.searchContainer {
  margin-block-end: var(--spacing-medium);
}
