@use 'src/styles/breakpoints';

.logoWrapper {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  block-size: var(--spacing-medium2-px);

  & > svg {
    margin-block-start: 1px;
    inline-size: auto;

    & > path {
      fill: var(--color-text-default);
    }
  }
}
