$pixel: 1px;

.container {
  display: flex;
  flex-direction: column;
  padding-inline-start: var(--spacing-medium) !important;
  padding-inline-end: var(--spacing-medium) !important;
}

.controlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: var(--spacing-large);
  flex-wrap: wrap;
  row-gap: var(--spacing-small);
}

.copyButton {
  color: var(--color-primary-medium);
  background-color: var(--color-secondary-faded);
  inline-size: calc(var(--spacing-medium) * 10);
}

.lineBackground {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-block-end: var(--spacing-medium);

  &:before {
    border-block-start: $pixel solid var(--color-secondary-medium);
    content: '';
    margin: 0 auto;
    position: absolute;
    inset: 50% 0;
    inline-size: 100%;
    z-index: -1;
  }

  span {
    background: var(--color-background-default);
    padding: 0 var(--spacing-medium);
  }
}

.text {
  margin-block-start: var(--spacing-xsmall);
  text-align: center;
  font-size: var(--font-size-xsmall);
  :nth-child(2) {
    font-weight: var(--font-weight-bold);
  }
}

.error {
  color: var(--color-error-medium);
}

.urlDisplayContainer {
  border: 1px solid var(--color-borders-hairline);
  padding: var(--spacing-small);
  border-radius: var(--border-radius-default);
  max-inline-size: 100%;
  overflow: hidden;
  background-color: var(--color-background-elevated);

  p {
    font-weight: var(--font-weight-medium);
    margin-block-end: var(--spacing-xsmall);
  }

  .urlDisplayHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-block-end: var(--spacing-xsmall);

    p {
      margin-block-end: 0;
    }
  }

  .urlBox {
    padding: var(--spacing-xsmall);
    border: 1px solid var(--color-borders-hairline);
    border-radius: var(--border-radius-default);
    word-break: break-all;
    background-color: var(--color-background-default);
    font-family: monospace;
    font-size: var(--font-size-small);
    cursor: text;
  }
}
