@use 'src/styles/breakpoints';
@use 'src/styles/theme';

.headerOuterContainer {
  @include theme.light {
    background: var(--color-background-elevated);
  }
  @include theme.sepia {
    background: var(--color-background-elevated);
  }
  @include theme.dark {
    background: rgba(52, 58, 64, 1);
  }
  position: relative;
  border-radius: var(--border-radius-pill);
  box-shadow: var(--shadow-small);
  inline-size: 100%;
  margin: 0 auto;
  z-index: 1;
  @include breakpoints.tablet {
    inline-size: 750px;
    block-size: 49px;
  }
}

.prefixSuffixContainer {
  svg {
    fill: var(--color-grey-icons) !important;
  }
}

.expanded {
  z-index: 100;
  border-radius: var(--border-radius-circle-small);
  border-radius: var(--border-radius-circle-small) var(--border-radius-circle-small) 0 0;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100%;
}

.form {
  display: contents;
}

.input {
  border: none !important;
  inline-size: 100%;
  block-size: 100%;
  @include breakpoints.smallerThanTablet {
    block-size: 44px !important;
  }

  input::placeholder {
    color: var(--color-text-faded-new);
    opacity: 1;
    font-size: var(--font-size-small-px);
    @include breakpoints.tablet {
      font-size: var(--font-size-normal-px);
    }
  }

  input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px transparent inset !important;
      -webkit-text-fill-color: var(--color-text-default) !important;
      transition: background-color 5000s ease-in-out 0s;
      background-color: transparent !important;
    }
  }
}

.dropdownContainer {
  position: absolute;
  inset-block-start: 100%;
  inset-inline: 0;
  inline-size: 100%;
  z-index: 100;
  border-radius: 0 0 var(--border-radius-circle-small) var(--border-radius-circle-small);
  box-shadow: var(--shadow-small);
  ::-webkit-scrollbar {
    inline-size: 7px;
    block-size: 7px;
  }
}
