@use 'src/styles/theme';
@use 'src/styles/breakpoints';

.container {
  padding-block: var(--spacing-large-px);
  @include breakpoints.smallerThanTablet {
    padding-block: var(--spacing-medium2-px);
  }
}

.title {
  font-size: var(--font-size-xxlarge-px);
  font-weight: var(--font-weight-bold);
  margin-block-end: var(--spacing-small-px);
  color: var(--color-text-default-new);
  @include breakpoints.smallerThanTablet {
    font-size: var(--font-size-xlarge-px);
  }
}

.subtitle {
  font-size: var(--font-size-xsmall-px);
  color: var(--color-text-default-new);
  margin-block-end: var(--spacing-medium2-px);

  @include breakpoints.tablet {
    margin-block-end: var(--spacing-large-px);
    font-size: var(--font-size-normal-px);
  }
}

.resourcesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-medium2-px);

  @include breakpoints.desktop {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--spacing-small-px);
  }
}

.resourceCard {
  position: relative;
  border-radius: var(--border-radius-rounded);
  padding: var(--spacing-medium2-px);
  background-color: var(--color-background-elevated-new);
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  box-sizing: border-box;
  cursor: pointer;
  gap: var(--spacing-small-px);

  @include breakpoints.tablet {
    gap: var(--spacing-medium2-px);
  }

  @include theme.light {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  }

  @include theme.dark {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.8);
  }

  @include theme.sepia {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  }
}

.resourceIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-small-px);

  svg {
    block-size: var(--spacing-medium2-px);
    inline-size: auto;
  }
}

.resourceTitle {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-default-new);
}

.quranSpaceTitle {
  color: var(--color-text-default-new);
  font-weight: var(--font-weight-light);
  line-height: 1;
  font-size: var(--spacing-medium2-px);

  @include breakpoints.tablet {
    font-size: var(--spacing-medium3-px);
  }
}

.quranSpaceTitleAccent {
  line-height: 1;
  font-weight: var(--font-weight-bold);
}

.resourceDescription {
  font-size: var(--font-size-xsmall-px);
  color: var(--color-text-faded-new);
  font-weight: var(--font-weight-medium);
  flex-grow: 1;

  @include breakpoints.tablet {
    font-size: var(--font-size-normal-px);
  }
}

.resourceButton {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-xsmall-px);
  margin-block-start: auto;
  font-size: var(--font-size-xxsmall-px);
  color: var(--color-text-faded-new);
  font-weight: var(--font-weight-semibold);
  position: relative;
  z-index: 2;

  @include breakpoints.tablet {
    font-size: var(--font-size-medium-px);
  }
}
