@use 'src/styles/utility';
@use 'src/styles/mixins/_flexbox.module';
@use 'src/styles/breakpoints';

.itemsContainer {
  @include flexbox.row-between;
  height: 100%;
  background-color: var(--color-background-elevated);
}

.bannerContainerTop {
  @include flexbox.row-center;
  @include breakpoints.tablet {
    display: none;
  }
}

.bannerContainerCenter {
  display: none;
  @include breakpoints.tablet {
    @include flexbox.row-center;
  }
}

.centerVertically {
  @include utility.center-vertically;
}

.leftCTA {
  @include flexbox.row-start;
  margin-inline-start: var(--spacing-medium);
  @include breakpoints.tablet {
    margin-inline-start: var(--spacing-mega);
  }
}

.rightCTA {
  @include flexbox.row-start;
  margin-inline-end: var(--spacing-medium);
  > button {
    margin-inline-start: var(--spacing-micro);
  }
  @include breakpoints.tablet {
    margin-inline-end: var(--spacing-mega);
    > button {
      margin-inline-start: var(--spacing-xsmall);
    }
  }
}
