@use "src/styles/breakpoints";
@use "src/styles/constants";

.container {
  background: var(--color-background-default);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: var(--z-index-header);
  transition: var(--transition-regular);
  transition-timing-function: ease-in;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  @include breakpoints.tablet {
    width: constants.$side-menu-desktop-width;
  }
  &.left {
    left: -100%;
    @include breakpoints.tablet {
      left: calc(-1 * constants.$side-menu-desktop-width);
    }
  }
  &.right {
    right: -100%;
    @include breakpoints.tablet {
      right: calc(-1 * constants.$side-menu-desktop-width);
    }
  }
}

.containerOpen {
  box-shadow: var(--shadow-normal);
  transition-timing-function: ease-out;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.bodyContainer {
  margin-top: constants.$navbar-height;
  padding-top: var(--spacing-small);
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

.bodyWithBottomPadding {
  padding-bottom: calc(4 * var(--spacing-large));
}

.navigationBodyContainer {
  padding: 0;
}

.header {
  font-size: var(--font-size-large);
  width: 100%;
  background-color: var(--color-background-default);
  position: fixed;
  height: constants.$navbar-height;
  border-bottom: 1px var(--color-borders-hairline) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include breakpoints.tablet {
    width: constants.$side-menu-desktop-width;
  }
  z-index: var(--z-index-header);
}

.headerContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 var(--spacing-xsmall);
}

.voiceSearchHeader {
  align-items: flex-end;
}
