@use "src/styles/breakpoints";
@use "src/styles/theme";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  color: var(--color-text-default);
  text-align: center;
  transition: var(--transition-fast);
}

.tajweedContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  background: var(--color-background-default);
  background: var(--color-background-elevated);
  box-shadow: var(--shadow-small);
  margin-top: var(--spacing-micro);
}

.switcher {
  display: flex;
  align-self: center;
  width: fit-content;
  column-gap: var(--spacing-xsmall);
  padding: var(--spacing-micro) var(--spacing-xsmall) var(--spacing-micro) var(--spacing-xsmall);
  border-bottom-left-radius: var(--spacing-xsmall);
  border-bottom-right-radius: var(--spacing-xsmall);
  justify-content: center;
  background: var(--color-background-default);
  background: var(--color-background-elevated);
  box-shadow: var(--shadow-small);
  cursor: pointer;
  user-select: none;
}

.colorsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  column-gap: var(--spacing-mega);
  @include breakpoints.smallerThanTablet {
    width: 95%;
    column-gap: var(--spacing-medium);
  }
}

.colorContainer {
  display: flex;
  align-items: center;
  height: var(--line-height-jumbo);
}

.circle {
  height: var(--spacing-large);
  width: var(--spacing-large);
  border-radius: var(--border-radius-circle);
  display: inline-block;
  margin-inline-end: var(--spacing-medium);
  @include breakpoints.smallerThanTablet {
    margin-inline-end: var(--spacing-xsmall);
  }
}

.edgham {
  background-color: #afafaf;
}

.mad-2 {
  background-color: #53bbfc;
}

.mad-6 {
  background-color: #afafaf;
}

.mad-2-4-6 {
  background-color: #2c93fc;
}

.mad-4-5 {
  background-color: #4572fb;
}

.ekhfa {
  background-color: #fc8e03;
}

.qalqala {
  background-color: #fc060a;
}

.tafkhim {
  background-color: #3f48e6;
}

.rotate180 {
  transition: var(--transition-regular);
  transform: rotate(180deg);
}

.rotate {
  transition: var(--transition-regular);
  transform: rotate(0);
}

.colorsBarVisible {
  transition: var(--transition-fast);
  transform: translateY(0%);
}

.colorsBarInvisible {
  transition: var(--transition-fast);
  transform: translateY(-100%);
}
