.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.spinnerContainer {
  margin-block-start: var(--spacing-medium-px);
  margin-block-end: var(--spacing-xxxlarge-px);
}
