@use "src/styles/breakpoints";
.container {
  line-height: var(--spacing-small);
  > span {
    line-height: var(--spacing-small);
  }
  [data-radix-popper-content-wrapper] {
    z-index: var(--z-index-default);
  }
}
