.visuallyHidden {
  position: absolute !important;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Deprecated but still needed for some browsers */
  clip-path: inset(50%);
  white-space: nowrap;
}
