.verseText {
  flex-wrap: wrap;
  display: flex;
  color: var(--color-text-default);
}
.verseTextContainer {
  display: block;
  direction: rtl;
}

.verseTextCenterAlign {
  justify-content: center;
}
.verseTextSpaceBetween {
  justify-content: space-between;
}
