@use "src/styles/constants";
@use "src/styles/utility";
@use "src/styles/breakpoints";

.verseText {
  display: flex;
  color: var(--color-text-default);
  align-items: center;
}
.verseTextContainer {
  display: block;
  direction: rtl;
}

.bigText {
  display: block;
  @include breakpoints.tablet {
    display: flex;
  }
}

.verseTextCenterAlign {
  justify-content: center;
}
.verseTextSpaceBetween {
  justify-content: space-between;
}
.verseTextWrap {
  flex-wrap: wrap;
}

@include utility.generate-font-sizes();
