.container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: var(--spacing-xxsmall);
  &:hover {
    border-radius: var(--border-radius-default);
    background: var(--color-background-alternative-medium);
  }
  svg {
    min-width: 10%;
    width: var(--spacing-medium);
    height: var(--spacing-medium);
    path {
      fill: var(--color-background-inverse);
    }
  }
}
.title {
  color: var(--color-text-default);
  margin-left: var(--spacing-medium);
  font-size: var(--font-size-normal);
  vertical-align: text-top;
}
