$bismillah-font-size-large: 3rem;
$bismillah-font-size-small: 2rem;

.bismillah {
  font-family: "bismillah";
}

.bismillahSmall {
  font-size: $bismillah-font-size-small;
}

.bismillahLarge {
  font-size: $bismillah-font-size-large;
}
