$bismillah-font-size: 3rem;
.bismillah {
  font-size: var(--font-size-xlarge);
  font-family: $bismillah-font-size;
}

.bismillahSmall {
  font-size: var(--font-size-small);
}

.bismillahLarge {
  font-size: var(--font-size-jumbo);
}
