.pageText {
  text-align: center;
  padding-block-start: var(--spacing-xxsmall);
  padding-block-end: var(--spacing-medium);
  width: fit-content;
  font-size: 1.6vh;
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: var(--color-text-faded);
}

.pageLink {
  &:hover {
    cursor: pointer;
  }
}
