.pageText {
  text-align: center;
  padding: var(--spacing-xxsmall) 0;
  font-size: var(--font-size-small);
  width: fit-content;
  margin: 0 auto;
}

.pageLink {
  &:hover {
    cursor: pointer;
  }
}
