@use "src/styles/breakpoints";
@use "src/styles/constants";

$container-min-width: calc(9.5 * var(--spacing-mega));
.container {
  border-bottom: 1px var(--color-borders-hairline) solid;
  margin-block-start: var(--spacing-xsmall);
  margin-block-end: var(--spacing-mega);
  max-width: 100%;
  min-width: $container-min-width;
}

.mobileCenterText {
  text-align: center;
  @include breakpoints.tablet {
    text-align: start;
  }
}
