@use "src/styles/breakpoints";
@use "src/styles/constants";

.container {
  border-bottom: 1px var(--color-borders-hairline) solid;
  margin-block-start: constants.$reading-view-container-top-margin;
  margin-block-end: var(--spacing-mega);
  max-width: 100%;
  min-width: constants.$reading-view-page-min-width;
}

.mobileCenterText {
  text-align: center;
  @include breakpoints.tablet {
    text-align: start;
  }
}
