@use "src/styles/breakpoints";

.container {
  max-width: 100%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.virtuosoScroller {
  & [data-viewport-type="window"] {
    // virtuoso adds position: absolute by default so we need to over-ride it
    position: unset !important;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  inset-block-end: var(--spacing-mega);
  transition: var(--transition-regular);
  z-index: var(--z-index-sticky);
  inset-inline-end: var(--spacing-large);
}

.prevButton {
  margin-block-end: var(--spacing-micro);
  & svg {
    transform: rotate(180deg);
  }
}
