@use "src/styles/breakpoints";

.container {
  max-width: 100%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.virtuosoScroller {
  & [data-viewport-type="window"] {
    // virtuoso adds position: absolute by default so we need to over-ride it
    position: unset !important;
  }
}
