@use "src/styles/breakpoints";
@use "src/styles/utility";
@use "src/styles/theme";

.skeleton {
  width: 100%;
  min-width: calc(9.5 * var(--spacing-mega));
  max-width: calc(14 * var(--font-size));
  margin-inline: auto;
  height: calc(1.2 * var(--font-size));
  margin-block-end: calc(0.75 * var(--font-size));
}

@include utility.generate-font-sizes("code_v1");
@include utility.generate-font-sizes("code_v2");
@include utility.generate-font-sizes("text_indopak");
@include utility.generate-font-sizes("qpc_uthmani_hafs");
