.container {
  max-width: 100%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.scroller {
  & [data-viewport-type="window"] {
    position: unset !important;
  }
}
