@use "src/styles/utility";
@use "src/styles/constants";
@use "src/styles/breakpoints";

.skeletonContainer {
  // the page's bottom margin + the height of the page footer
  margin-block-end: calc(var(--spacing-mega) + var(--spacing-large));
}

.skeleton {
  margin-inline: auto;
  @include breakpoints.tablet {
    margin-block-start: constants.$reading-view-container-top-margin;
  }
  margin-block-start: var(--spacing-xsmall);
  height: var(--skeleton-height);
}

.fixedWidth {
  width: var(--line-width, auto);
}
