.horizontalSeparator {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

.verticalSeparator {
  margin-inline-start: var(--spacing-medium);
  margin-inline-end: var(--spacing-medium);
  height: 100%;
}
