$separator-size: 1px;

.faded {
  --color-gradient-transition: 196, 196, 196;

  [data-theme="dark"] & {
    --color-borders-hairline: 70, 75, 80;
    &[data-orientation="vertical"] {
      --gradient-borders-hairline: linear-gradient(180deg, rgba(var(--color-gradient-transition), 0) -3%, rgba(var(--color-borders-hairline), 0.6) 10%, rgba(var(--color-borders-hairline), 0.6) 67%, rgba(var(--color-gradient-transition), 0) 110%);
    }
    &[data-orientation="horizontal"] {
      --gradient-borders-hairline: linear-gradient(90deg, rgba(var(--color-gradient-transition), 0) -3%, rgba(var(--color-borders-hairline), 0.6) 10%, rgba(var(--color-borders-hairline), 0.6) 67%, rgba(var(--color-gradient-transition), 0) 110%);
    }
  }

  [data-theme="light"] & {
    --color-borders-hairline: calc(235 * 0.9), calc(238 * 0.9), calc(240 * 0.9);
    &[data-orientation="vertical"] {
      --gradient-borders-hairline: linear-gradient(180deg, rgba(var(--color-gradient-transition), 0) -7%, rgba(var(--color-borders-hairline), 0.6) 7%, rgba(var(--color-borders-hairline), 0.6) 95%, rgba(var(--color-gradient-transition), 0) 10%);
    }
    &[data-orientation="horizontal"] {
      --gradient-borders-hairline: linear-gradient(90deg, rgba(var(--color-gradient-transition), 0) -7%, rgba(var(--color-borders-hairline), 0.6) 7%, rgba(var(--color-borders-hairline), 0.6) 95%, rgba(var(--color-gradient-transition), 0) 105%);
    }
  }

  position: relative;
  top: 1px;

  &[data-orientation="horizontal"] {
    background: var(--gradient-borders-hairline);
    height: $separator-size;
    width: 100%;
  }

  &[data-orientation="vertical"] {
    background: var(--gradient-borders-hairline);
    height: 100%;
    width: $separator-size;
  }
}

.base {
  background-color: var(--color-borders-hairline);

  &[data-orientation="horizontal"] {
    height: $separator-size;
    width: 100%;
  }

  &[data-orientation="vertical"] {
    height: 100%;
    width: $separator-size;
  }
}
