.horizontalSeparator {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

.verticalSeparator {
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
  height: 100%;
}
