.sorter {
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
}

.sortTrigger {
  display: flex;
  align-items: center;
}

.itemIcon {
  display: flex;
  --icon-size: var(--spacing-medium);
  width: var(--icon-size);
  > svg {
    width: 100%;
  }
}
