.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
}

.headerLeft {
  display: flex;
  align-items: flex-start;
}

.prefixContainer {
  display: flex;
  align-items: center;
  margin-inline-end: var(--spacing-xxsmall);
  transition: transform var(--transition-fast) ease-in-out;
}

.prefixRotated {
  transform: rotate(180deg);
}

.suffixContainer {
  display: flex;
  align-items: center;
  margin-inline-end: var(--spacing-xxsmall);
  transition: transform var(--transition-fast) ease-in-out;
}

.suffixRotated {
  transform: rotate(180deg);
}
