[Unit]
Description=Run Quran.com Playwright tests continuously
Requires=quran-tests.service

[Timer]
OnCalendar=*:*:0/5
Persistent=true

[Install]
WantedBy=timers.target
