@use 'src/styles/breakpoints';

.inputs {
  width: 100%;
}

.inputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-block: var(--spacing-large);

  select {
    width: 100%;
  }
}

.label {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  margin-block-end: var(--spacing-small);
}

.actionButton {
  width: 100%;
}

.confirmationText {
  font-weight: var(--font-weight-bold);
}

.instructionText {
  padding-block: var(--spacing-medium);
}

.radioGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: var(--spacing-large) !important;
  width: 100%;
}

.radioItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-xsmall);
}

.footerCtaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-micro);
}

.editGoalButton {
  font-weight: var(--font-weight-semibold);
  @include breakpoints.tablet {
    color: var(--color-streaks-dark);
  }
}
