$webkit-thumb-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);

.label {
  padding: var(--spacing-micro) 0;
}

.itemsContainer {
  border-radius: var(--border-radius-default);
  overflow: hidden;
  max-height: calc(5 * var(--spacing-mega));
  overflow-y: scroll;

  // Hack to show the scrollbar on OSX, otherwise the scrollbar is hidden and the component does not indicate scrollability
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: var(--spacing-xxsmall);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-default);
    background-color: var(--color-background-backdrop);
    box-shadow: $webkit-thumb-shadow;
  }
}

.clearIconContainer {
  user-select: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-small);
  height: var(--spacing-small);
  color: var(--color-background-alternative-deep);
  position: absolute;
  right: var(--spacing-medium);
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  cursor: pointer;
}

.disabledSearch,
.disabledSearch * {
  pointer-events: none;
  cursor: not-allowed;
}

.comboboxBodyContainer {
  position: absolute;
  margin-top: var(--spacing-micro);
  border-radius: var(--border-radius-default);
  box-shadow: var(--shadow-large);
  width: calc(8 * var(--spacing-mega));
  z-index: var(--z-index-dropdown);
  transition: var(--transition-fast);
  background-color: var(--color-background-default);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  font-size: var(--font-size-normal);
}

.largeComboboxBodyContainer {
  font-size: var(--font-size-large);
}

.openedComboboxBodyContainer {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.caretIconButton {
  width: var(--spacing-medium);
  height: var(--spacing-medium);
  position: absolute;
  right: var(--spacing-medium);
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-background-alternative-deep);
  svg {
    transition: var(--transition-fast);
  }
  cursor: pointer;
}

.openedCaretIconButton {
  svg {
    transform: rotate(180deg);
    transition: var(--transition-fast);
  }
}

.comboboxContainer {
  max-width: 100%;
  width: calc(8 * var(--spacing-mega));
}

.enabled {
  cursor: text;
}
// ----------------------

.select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 100%;
}

.selector {
  padding: var(--spacing-micro) var(--spacing-xsmall);
  position: relative;
  background-color: var(--color-background-default);
  border: 1px solid var(--color-borders-hairline);
  border-radius: var(--border-radius-default);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--spacing-mega);
  color: var(--color-text-default);
}

.activeSelector {
  border: 1px solid var(--color-primary-medium);
}
.selector:not(.disabledSelector):not(.hasError) {
  &:hover {
    border: 1px solid var(--color-primary-medium);
  }
}
.hasError {
  border: 1px solid var(--color-error-medium);
}

.disabledSelector {
  background: var(--color-background-neutral-grey);
  cursor: not-allowed;
}

.placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  flex: 1;
  overflow: hidden;
  color: var(--color-text-faded);
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  max-width: 80%;
}

.iconContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: inline-block;
  width: var(--spacing-small);
  height: var(--spacing-small);
  color: var(--color-background-alternative-deep);
  user-select: none;
}

.icon svg {
  display: inline-block;
  width: var(--spacing-small);
  height: var(--spacing-small);
  overflow: hidden;
}

.selectSearch {
  left: var(--spacing-medium);
}

.overflow {
  position: relative;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
}

.item {
  position: relative;
  display: flex;
  flex: none;
  box-sizing: border-box;
  max-width: 100%;
  height: var(--spacing-large);
  margin: var(--spacing-micro) 0;
  background: var(--color-background-alternative);
  border-radius: var(--border-radius-default);
  user-select: none;
  margin-inline-end: var(--spacing-xxsmall);
  padding-inline-end: var(--spacing-xxsmall);
  padding-inline-start: var(--spacing-xxsmall);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--font-size-normal);
}

.largeItem {
  font-size: var(--font-size-large);
}

.itemContent {
  display: inline-block;
  margin-right: var(--spacing-micro);
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.itemRemove {
  cursor: pointer;
  svg {
    width: var(--spacing-xsmall);
    height: var(--spacing-xsmall);
  }
}

.multiSelectSearchInput {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  outline: none;
  appearance: none;
  width: 100%;
}

.smallSearchInput {
  height: var(--spacing-mega);
}
.mediumSearchInput {
  height: calc(2 * var(--spacing-large));
}
.largeSearchInput {
  height: calc(3 * var(--spacing-medium));
}

.overflowItem {
  flex: none;
  align-self: center;
  max-width: 100%;
}

.search {
  position: relative;
  max-width: 100%;
  width: var(--spacing-medium);
}

.fullWidth {
  width: 100%;
}
