$baseSize: var(--spacing-mega);
$animationDuration: 8s;

.baseSize {
  height: $baseSize;
  width: $baseSize;
}

.skeleton {
  position: relative;
  display: block;
  border-radius: var(--border-radius-default);
}

.active::before {
  border-radius: var(--border-radius-default);

  [data-theme="dark"] & {
    background-color: rgba(255, 255, 255, 0.13);
  }
  [data-theme="light"] & {
    background-color: rgba(0, 0, 0, 0.11);
  }
  animation: 1.5s ease-in-out 0.5s infinite normal none running loading;

  content: " ";
  position: absolute;

  // using -1px to avoid some part of children border leaking outside
  inset-block: -1px;
  inset-inline-start: -1px;
  inset-inline-end: -1px;
}

.rounded::before {
  border-radius: var(--border-radius-circle);
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
