@use "src/styles/breakpoints";

.content {
  padding-block-start: var(--spacing-micro);
  padding-block-end: var(--spacing-micro);
  padding-inline-start: var(--spacing-micro);
  padding-inline-end: var(--spacing-micro);
  background-color: var(--color-background-elevated);
  & > span {
    fill: var(--color-background-elevated);
  }
}

.trigger {
  @include breakpoints.smallerThanTablet {
    // disable word selecting when on mobile so that we can show the popover on long tap.
    -webkit-touch-callout: none;
    user-select: none;
  }
}
