.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-borders-hairline);
  border-radius: var(--border-radius-default);
  background-color: var(--color-secondary-medium);
  padding: var(--spacing-xsmall);
  margin: var(--spacing-micro) 0;
  width: 100%;
  text-align: left;
  color: var(--color-text-default);
  &:hover {
    background-color: var(--color-background-alternative-deep);
  }
}

.removeButton {
  background: none;
  border: none;
  color: var(--color-text-default);
  font-size: var(--font-size-small);
  &:hover {
    color: var(--color-text-link);
    text-decoration: underline;
  }
}
