@use "src/styles/breakpoints";

$body-min-height: 80vh;
$body-min-height-mobile: 65vh;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  min-height: $body-min-height-mobile;
  @include breakpoints.tablet {
    min-height: $body-min-height;
  }
}

.noResultContainer {
  text-align: center;
}

.commandBarContainer {
  @include breakpoints.tablet {
    margin-block-start: calc(2 * var(--spacing-mega));
  }
}
