@use 'src/styles/breakpoints';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xlarge-px);
  .topDivider {
    display: none;
    @include breakpoints.tablet {
      display: block;
      margin-block-start: var(--spacing-xlarge-px);
      margin-block-end: var(--spacing-small-px);
    }
  }
  .divider {
    margin-block: var(--spacing-medium2-px);
  }
  .deleteAccountSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium2-px);
    .deleteAccountSectionDescription {
      font-size: var(--font-size-small-px);
    }
    .deleteAccountSectionDescriptionTitle {
      font-weight: var(--font-weight-bold);
    }
  }
}
