.container {
  border-radius: var(--border-radius-pill);
  background-color: var(--color-success-medium);
  border: none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  color: var(--color-text-inverse);
  border-radius: var(--border-radius-pill);
  padding-inline: var(--spacing-small);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;

  &.small {
    font-size: var(--font-size-xsmall-dangerous);
  }
}
