.container {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: calc(var(--spacing-large) + var(--spacing-xxsmall));
  background: rgba(var(--color-primary-medium), 0.15);
  border: 1px solid rgba(var(--color-primary-medium), 0.5);
  padding: var(--spacing-small) var(--spacing-mega);
  color: var(--color-primary-medium);
  &:hover {
    background: var(--color-primary-medium);
    color: var(--color-primary-deep);
  }
}
