@use "src/styles/breakpoints";

$shadow-background: linear-gradient(180deg, #000000a6, transparent);
$max-width: 95rem;

.container {
  width: 100%;
  inset-inline: 0;
  max-width: $max-width;
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--spacing-medium);

  position: absolute;
  color: var(--color-text-default);
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-semibold);
}

.hijriDate {
  box-sizing: border-box;
  padding-block: var(--spacing-xsmall);
}

.prayerName {
  text-transform: capitalize;
}

.prayerTimesContainer {
  text-align: end;
}

.locationContainer {
  display: flex;
  align-items: center;
}

.findLocationButton {
  fill: var(--color-text-default);
  &:hover {
    fill: var(--color-text-default);
  }
  margin-inline-end: var(--spacing-xxsmall);
}
