@use "src/styles/breakpoints";

$shadow-background: linear-gradient(180deg, #000000a6, transparent);

.container {
  width: 100%;
  inset-inline: 0;
  box-sizing: border-box;
  padding-inline: calc(1.3 * var(--spacing-mega));
  padding-block: var(--spacing-medium);
  position: absolute;
  color: var(--color-text-inverse);
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-semibold);
}

.hijriDate {
  box-sizing: border-box;
  padding-block: var(--spacing-xsmall);
}

.prayerName {
  text-transform: capitalize;
}

.prayerTimesContainer {
  text-align: end;
}

.locationContainer {
  display: flex;
  align-items: center;
}

.findLocationButton {
  fill: var(--color-text-inverse);
  &:hover {
    fill: var(--color-text-default);
  }
  margin-inline-end: var(--spacing-xxsmall);
}
