.commandPrefix {
  margin-inline-end: var(--spacing-small);
  display: flex;
  align-items: center;
  > svg {
    width: var(--spacing-large);
    height: var(--spacing-large);
  }
}

.container {
  display: flex;
  align-items: center;
  max-width: 90%;
}

.name {
  em {
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
  }
}
