.commandPrefix {
  margin-right: var(--spacing-small);
  > svg {
    width: var(--spacing-large);
    height: var(--spacing-large);
  }
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}
