.container {
  min-height: 100vh;
}

.loadMoreContainer {
  display: flex;
  margin-block-start: var(--spacing-medium);
  justify-content: center;
}

.emptyContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-block-start: var(--spacing-mega);
}
