.container {
  border-radius: var(--border-radius-rounded);
  margin-block: var(--spacing-medium);
  position: relative;
  padding: var(--spacing-mega);
  background-color: var(--color-success-faded);
}

.buttonsContainer {
  margin-block-start: var(--spacing-small);
}

.header {
  color: var(--color-success-deep);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}
.paragraph {
  margin-block-start: var(--spacing-small);
  color: var(--color-success-deep);
}

.backgroundImageContainer {
  width: calc(4 * var(--spacing-mega));
  height: calc(4 * var(--spacing-mega));
  position: absolute;
  inset-block-start: var(--spacing-large);
  inset-inline-end: 0;
  opacity: var(--opacity-10);
  color: var(--color-success-deep);
}
