.calendarMonthSelector {
  margin-block-end: var(--spacing-medium);
  display: flex;
  align-items: center;
  margin-inline: auto;
  justify-content: center;
  gap: var(--spacing-medium);
  font-size: var(--font-size-large);
}

.verseRangesListContainer {
  margin-block-start: var(--spacing-mega);
}

.selectedDateHeaderContainer {
  display: flex;
}

.modalHeader {
  .backButton {
    position: absolute;
    pointer-events: initial;
    inset-inline-start: 0;
  }
}

.monthName {
  width: calc(3 * var(--spacing-mega));
  text-align: center;
}

.durationInputWrapper {
  margin-block-start: var(--spacing-large);
}

.inputLabelContainer {
  display: flex;
  align-items: center;
}
