.clearIconContainer {
  user-select: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-small);
  height: var(--spacing-small);
  color: var(--color-background-alternative-deep);
  position: absolute;
  right: var(--spacing-medium);
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  cursor: pointer;
}

.icon svg {
  display: inline-block;
  width: var(--spacing-small);
  height: var(--spacing-small);
  overflow: hidden;
}
