.iconContainer {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: inline-block;
  width: var(--spacing-small);
  height: var(--spacing-small);
  color: var(--color-background-alternative-deep);
  user-select: none;
}

.icon svg {
  display: flex;
  align-items: center;
  width: var(--spacing-small);
  height: var(--spacing-small);
  overflow: hidden;
}

.selectSearch {
  inset-inline-start: var(--spacing-medium);
}
