@mixin mode {
  --color-primary-faded: #fff;
  --color-primary-faint: #fff;
  --color-primary-medium: #fff;
  --color-primary-deep: #fff;

  --color-secondary-faded: #333;
  --color-secondary-faint: #444;
  --color-secondary-medium: #888;
  --color-secondary-deep: #eaeaea;

  --color-success-faded: #012f69;
  --color-success-faint: #0070f3;
  --color-success-medium: #3291ff;
  --color-success-deep: #d3e5ff;

  --color-error-faded: #e60000;
  --color-error-faint: #f00;
  --color-error-medium: #f00;
  --color-error-deep: #f33;

  --color-warning-faded: #ab570a;
  --color-warning-faint: #f5a623;
  --color-warning-medium: #f7b955;
  --color-warning-deep: #ffefcf;

  --color-text-default: #fff;
  --color-text-faded: #777;
  --color-text-inverse: #000;
  --color-text-link: #3291ff;
  --color-text-warning: #f7b955;
  --color-text-error: #f33;

  --color-background-default: #1f2125;

  --color-background-alternative-faded: #444;
  --color-background-alternative-faint: #444;
  --color-background-alternative-medium: #444;
  --color-background-alternative-deep: #b4b2b2;

  --color-background-inverse: #fff;
  --color-background-backdrop: rgba(255, 255, 255 0.25);
  --color-background-lighten: rgba(0, 0, 0, 0.75);
  // lighten the `background-color` by using it in `background-image`. check Button's ghost variant for example

  --color-borders-hairline: rgb(52, 53, 54);

  --color-highlight: #f81ce5;

  --shadow-small: 0px 2px 4px rgba(255, 255, 255, 0.1);
  --shadow-normal: 0px 4px 8px rgba(255, 255, 255, 0.12);
  --shadow-large: 0 5px 10px rgba(255, 255, 255, 0.12);
  --shadow-xlarge: 0 8px 30px rgba(255, 255, 255, 0.12);
  --shadow-jumbo: 0 30px 60px rgba(255, 255, 255, 0.12);
  --shadow-hover: 0 30px 60px rgba(255, 255, 255, 0.12);
  --shadow-sticky: 0 12px 10px -10px rgba(255, 255, 255, 0.12);
}
