@mixin mode {
  --color-primary-faded: #fff;
  --color-primary-faint: #fff;
  --color-primary-medium: #000;
  --color-primary-deep: #fff;

  --color-secondary-faded: #fff;
  --color-secondary-faint: #fff;
  --color-secondary-medium: #c8c8c8;
  --color-secondary-deep: #fff;

  --color-success-faded: #fff;
  --color-success-faint: #fff;
  --color-success-medium: #0070f3;
  --color-success-deep: #fff;

  --color-error-faded: #fff;
  --color-error-faint: #fff;
  --color-error-medium: #ee0102;
  --color-error-deep: #fff;

  --color-warning-faded: #fff;
  --color-warning-faint: #fff;
  --color-warning-medium: #f5a623;
  --color-warning-deep: #fff;

  --color-alert-faded: #fff;
  --color-alert-faint: #fff;
  --color-alert-medium: #ff0080;
  --color-alert-deep: #fff;

  --color-tertiary-faded: #fff;
  --color-tertiary-faint: #fff;
  --color-tertiary-medium: #fff;
  --color-tertiary-deep: #fff;

  --color-text-default: #000;
  --color-text-inverse: #fff;
  --color-text-link: #fff;
  --color-text-warning: #fff;
  --color-text-error: #fff;

  --color-background-default: #fff;
  --color-background-alternative: #eaeaea;
  --color-background-inverse: #000;
  --color-background-backdrop: rgba(0, 0, 0, 0.5);

  --color-borders-hairline: rgb(235, 238, 240);

  --shadow-light: "";
  --shadow-regular: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --shadow-heavy: "";
}
