$navbar-height: 3.6rem;

$side-menu-desktop-width: 24rem;

$notes-side-bar-desktop-width: 26rem;

$audio-player-minimized-height: 2rem;

$audio-player-default-height: 5rem;
$audio-player-default-height-mobile: 3rem;

$maximum-font-step: 5;
