/** 
  Important note: these shades are meant to be used in the theme file, and not accessed directly. If you are looking to use a shade of grey, please search for the corresponding token in the theme file.
*/

$gray0: #f8f9fa;
$gray1: #f4f5f6;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;
