@use "src/styles/constants";
@use "src/styles/breakpoints";
@use "sass:map";

@mixin center-horizontally {
  display: inline-block;
  margin-block-start: auto;
  margin-inline-end: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
}

@mixin center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin lighten-background-color {
  background-image: linear-gradient(
    to right,
    var(--color-background-lighten),
    var(--color-background-lighten)
  );
}

// On mobile, font size 1-3 will try to preserve the line, using flex
// font 4-5 no longer using the flex. And not preserving the line

// If you're updating font size, double check on font size 3.
// make sure it will not break the layout

$line-heights-map: (
  tajweed: (
    tablet: (),
  ),
  fallback_qpc_uthmani_hafs: (
    tablet: (
      1: 6vh,
      2: 6vh,
      3: 6.1vh,
      4: 6vh,
      5: 5.68vh,
      6: 8.14vh,
      7: 10.61vh,
      8: 13.07vh,
      9: 15.54vh,
      10: 18vh,
    ),
  ),
  qpc_uthmani_hafs: (
    tablet: (
      1: 6vh,
      2: 6vh,
      3: 6.1vh,
      4: 6vh,
      5: 5.68vh,
      6: 8.14vh,
      7: 10.61vh,
      8: 13.07vh,
      9: 15.54vh,
      10: 18vh,
    ),
  ),
  text_indopak_15_lines: (
    tablet: (
      1: 6vh,
      2: 6vh,
      3: 6.1vh,
      4: 6vh,
      5: 5.68vh,
      6: 8.34vh,
      7: 11.01vh,
      8: 13.67vh,
      9: 16.34vh,
      10: 19vh,
    ),
  ),
  text_indopak_16_lines: (
    tablet: (
      1: 5.7vh,
      2: 5.7vh,
      3: 5.7vh,
      4: 5.6vh,
      5: 5.6vh,
      6: 7.36vh,
      7: 9.12vh,
      8: 10.88vh,
      9: 12.64vh,
      10: 14.4vh,
    ),
  ),
  code_v2: (
    tablet: (
      1: 6.1vh,
      2: 6.1vh,
      3: 6.1vh,
      4: 6.1vh,
      5: 6.1vh,
      6: 9.28vh,
      7: 12.46vh,
      8: 15.64vh,
      9: 18.82vh,
      10: 22vh,
    ),
  ),
  tajweed_v4: (
    tablet: (
      1: 6.1vh,
      2: 6.1vh,
      3: 6.1vh,
      4: 6.1vh,
      5: 6.1vh,
      6: 9.28vh,
      7: 12.46vh,
      8: 15.64vh,
      9: 18.82vh,
      10: 22vh,
    ),
  ),
  code_v1: (
    tablet: (
      1: 6.1vh,
      2: 6vh,
      3: 5.8vh,
      4: 5.4vh,
      5: 5vh,
      6: 8vh,
      7: 11vh,
      8: 14vh,
      9: 17vh,
      10: 20vh,
    ),
  ),
  translation: (
    tablet: (
      1: 3.2vh,
      2: 3.5vh,
      3: 4vh,
      4: 4.2vh,
      5: 4.3vh,
    ),
  ),
  tafsir: (
    tablet: (
      1: 3.2vh,
      2: 3.5vh,
      3: 4vh,
      4: 4.2vh,
      5: 4.3vh,
    ),
  ),
);

// TODO: rename to $font-size-scales-map
$scales-map: (
  fallback_qpc_uthmani_hafs: (
    tablet: (
      1: 3.19vh,
      2: 3.2vh,
      3: 3.39vh,
      4: 3.6vh,
      5: 4.4vh,
      6: 5.55vh,
      7: 6.7vh,
      8: 7.85vh,
      9: 9vh,
      10: 10.15vh,
    ),
    mobile: (
      1: 4vw,
      2: 4.5vw,
      3: 5vw,
      4: 8.9vw,
      5: 11vw,
      6: 12vw,
      7: 13vw,
      8: 14vw,
      9: 15vw,
      10: 16vw,
    ),
  ),
  //TODO: rename qpc_uthmani_hafs to text_qpc_hafs
  qpc_uthmani_hafs:
    (
      tablet: (
        1: 3.2vh,
        2: 3.5vh,
        3: 4vh,
        4: 4vh,
        5: 4.4vh,
        6: 5.56vh,
        7: 6.72vh,
        8: 7.88vh,
        9: 9.04vh,
        10: 10.27vh,
      ),
      mobile: (
        1: 4vw,
        2: 4.5vw,
        3: 4.6vw,
        4: 8.9vw,
        5: 11vw,
        6: 12vw,
        7: 13vw,
        8: 14vw,
        9: 15vw,
        10: 16vw,
      ),
    ),
  text_indopak_15_lines: (
    tablet: (
      1: 3.2vh,
      2: 3.5vh,
      3: 4vh,
      4: 4.2vh,
      5: 4.3vh,
      6: 5.64vh,
      7: 6.98vh,
      8: 8.32vh,
      9: 9.66vh,
      10: 11vh,
    ),
    mobile: (
      1: 4.4vw,
      2: 4.8vw,
      3: 5.1vw,
      4: 6vw,
      5: 9.3vw,
      6: 9.8vw,
      7: 10.2vw,
      8: 11vw,
      9: 12vw,
      10: 13vw,
    ),
  ),
  text_indopak_16_lines: (
    tablet: (
      1: 3.1vh,
      2: 3.2vh,
      3: 3.4vh,
      4: 3.7vh,
      5: 3.95vh,
      6: 5.08vh,
      7: 6.21vh,
      8: 7.34vh,
      9: 8.47vh,
      10: 9.6vh,
    ),
    mobile: (
      1: 4.4vw,
      2: 4.8vw,
      3: 5.1vw,
      4: 6vw,
      5: 9.3vw,
      6: 9.8vw,
      7: 10.2vw,
      8: 11vw,
      9: 12vw,
      10: 13vw,
    ),
  ),
  code_v2: (
    tablet: (
      1: 2.9vh,
      2: 3vh,
      3: 3.2vh,
      4: 3.5vh,
      5: 3.7vh,
      6: 5.16vh,
      7: 6.62vh,
      8: 8.08vh,
      9: 9.54vh,
      10: 11vh,
    ),
    mobile: (
      1: 4vw,
      2: 5vw,
      3: 5.3vw,
      4: 8.4vw,
      5: 10vw,
      6: 11vw,
      7: 12vw,
      8: 13vw,
      9: 14vw,
      10: 15vw,
    ),
  ),
  tajweed_v4: (
    tablet: (
      1: 2.9vh,
      2: 3vh,
      3: 3.2vh,
      4: 3.5vh,
      5: 3.7vh,
      6: 5.16vh,
      7: 6.62vh,
      8: 8.08vh,
      9: 9.54vh,
      10: 11vh,
    ),
    mobile: (
      1: 4vw,
      2: 5vw,
      3: 5.3vw,
      4: 8.4vw,
      5: 10vw,
      6: 11vw,
      7: 12vw,
      8: 13vw,
      9: 14vw,
      10: 15vw,
    ),
  ),
  code_v1: (
    tablet: (
      1: 3.5vh,
      2: 3.8vh,
      3: 4vh,
      4: 4.3vh,
      5: 4.5vh,
      6: 6.14vh,
      7: 7.77vh,
      8: 9.42vh,
      9: 11.05vh,
      10: 12.7vh,
    ),
    mobile: (
      1: 4vw,
      2: 5vw,
      3: 5.9vw,
      4: 10vw,
      5: 12vw,
      6: 13vw,
      7: 14vw,
      8: 15vw,
      9: 16vw,
      10: 17vw,
    ),
  ),
  translation: (
    tablet: (
      1: 0.85rem,
      2: 1rem,
      3: 1.18rem,
      4: 1.4rem,
      5: 2rem,
      6: 2.3rem,
      7: 2.7rem,
      8: 3rem,
      9: 3.5rem,
      10: 4rem,
    ),
    mobile: (
      1: 0.85rem,
      2: 0.95rem,
      3: 1.05rem,
      4: 1.2rem,
      5: 1.5rem,
      6: 1.8rem,
      7: 2.1rem,
      8: 2.4rem,
      9: 2.75rem,
      10: 3rem,
    ),
  ),
  tafsir: (
    tablet: (
      1: 0.85rem,
      2: 1.1rem,
      3: 1.2rem,
      4: 1.4rem,
      5: 2rem,
      6: 2.3rem,
      7: 2.7rem,
      8: 3rem,
      9: 3.5rem,
      10: 4rem,
    ),
    mobile: (
      1: 0.85rem,
      2: 0.95rem,
      3: 1.1rem,
      4: 1.2rem,
      5: 1.4rem,
      6: 1.8rem,
      7: 2.1rem,
      8: 2.4rem,
      9: 2.75rem,
      10: 3rem,
    ),
  ),
  tajweed: (
    tablet: (),
    mobile: (),
  ),
);

$skeleton-height-map: (
  tajweed: (
    desktop: (
      1: 2.52rem,
      2: 3.47rem,
      3: 4.08rem,
      4: 5.03rem,
      5: 5.15rem,
      6: 5.65rem,
      7: 5.8rem,
      8: 5.9rem,
      9: 6.05rem,
      10: 6.15rem,
    ),
    mobile: (
      1: 1.9rem,
      2: 3.4rem,
      3: 4.1rem,
      4: 5.03rem,
      5: 7.24rem,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
  ),
  qpc_uthmani_hafs: (
    desktop: (
      1: 4.57vh,
      2: 4.57vh,
      3: 4.65vh,
      4: 4.56vh,
      5: 4.63vh,
      6: 6.79vh,
      7: 9.2vh,
      8: 11.72vh,
      9: 14.21vh,
      10: 16.6vh,
    ),
    mobile: (
      1: 4.55vw,
      2: 5.5vw,
      3: 5.5vw,
      4: 8.9vw,
      5: 11vw,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
  ),
  text_indopak_15_lines: (
    desktop: (
      1: 4.56vh,
      2: 4.56vh,
      3: 4.66vh,
      4: 4.65vh,
      5: 4.56vh,
      6: 6.96vh,
      7: 9.66vh,
      8: 12.38vh,
      9: 15.03vh,
      10: 17.65vh,
    ),
    mobile: (
      1: 6.8vw,
      2: 7.6vw,
      3: 8.26vw,
      4: 6vw,
      5: 9.3vw,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
  ),
  text_indopak_16_lines: (
    desktop: (
      1: 4.24vh,
      2: 4.24vh,
      3: 4.24vh,
      4: 4.13vh,
      5: 4.32vh,
      6: 5.96vh,
      7: 7.64vh,
      8: 9.44vh,
      9: 11.15vh,
      10: 12.86vh,
    ),
    mobile: (
      1: 6.8vw,
      2: 7.6vw,
      3: 8.26vw,
      4: 6vw,
      5: 9.3vw,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
  ),
  code_v2: (
    desktop: (
      1: 4.65vh,
      2: 4.65vh,
      3: 4.65vh,
      4: 4.65vh,
      5: 4.65vh,
      6: 7.84vh,
      7: 11.03vh,
      8: 14.22vh,
      9: 17.41vh,
      10: 20.6vh,
    ),
    mobile: (
      1: 4.17vw,
      2: 6.54vw,
      3: 7.1vw,
      4: 8.4vw,
      5: 10vw,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
  ),
  tajweed_v4: (
    desktop: (
      1: 4.65vh,
      2: 4.65vh,
      3: 4.65vh,
      4: 4.65vh,
      5: 4.65vh,
      6: 7.84vh,
      7: 11.03vh,
      8: 14.22vh,
      9: 17.41vh,
      10: 20.6vh,
    ),
    mobile: (
      1: 4.17vw,
      2: 6.54vw,
      3: 7.1vw,
      4: 8.4vw,
      5: 10vw,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
  ),
  code_v1: (
    desktop: (
      1: 4.62vh,
      2: 4.55vh,
      3: 4.5vh,
      4: 4.45vh,
      5: 4.65vh,
      6: 7.16vh,
      7: 9.94vh,
      8: 12.63vh,
      9: 15.55vh,
      10: 18.6vh,
    ),
    mobile: (
      1: 5.08vw,
      2: 7.05vw,
      3: 8.78vw,
      4: 10vw,
      5: 12vw,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
  ),
  default: (
    desktop: (
      1: 4.57vh,
      2: 4.57vh,
      3: 4.65vh,
      4: 4.56vh,
      5: 4.63vh,
      6: 6.79vh,
      7: 9.2vh,
      8: 11.72vh,
      9: 14.21vh,
      10: 16.6vh,
    ),
    mobile: (
      1: 4vw,
      2: 5vw,
      3: 5.4vw,
      4: 8.9vw,
      5: 11vw,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
  ),
);

// for now, we're only doing fixed witdth for tablet & desktop.
// because mobile is relatively more stable compared to desktop
// TODO: implement fixed on mobile as well
$line-width-map: (
  tajweed: (
    tablet: (
      1: calc(12.5 * var(--spacing-mega)),
      2: calc(16.5 * var(--spacing-mega)),
      3: calc(18.8 * var(--spacing-mega)),
      4: calc(22.5 * var(--spacing-mega)),
      5: calc(23.2 * var(--spacing-mega)),
      6: calc(25.2 * var(--spacing-mega)),
      7: calc(25.6 * var(--spacing-mega)),
      8: calc(26.2 * var(--spacing-mega)),
      9: calc(27 * var(--spacing-mega)),
      10: calc(27.3 * var(--spacing-mega)),
    ),
  ),
  fallback_qpc_uthmani_hafs: (
    tablet: (
      1: 55vh,
      2: 59vh,
      3: 63.8vh,
      4: 65vh,
      5: 66vh,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
    desktop: (
      1: 56vh,
      2: 56.2vh,
      3: 60vh,
      4: 63vh,
      5: 81vh,
      6: 102.6vh,
      7: 124.3vh,
      8: 146.2vh,
      9: 168vh,
      10: 190vh,
    ),
  ),
  qpc_uthmani_hafs: (
    tablet: (
      1: 55vh,
      2: 59vh,
      3: 63.8vh,
      4: 65vh,
      5: 66vh,
      6: 1rem,
      7: 1rem,
      8: 1rem,
      9: 1rem,
      10: 1rem,
    ),
    desktop: (
      1: 60vh,
      2: 65vh,
      3: 73.5vh,
      4: 74vh,
      5: 81vh,
      6: 102.8vh,
      7: 124.6vh,
      8: 146.4vh,
      9: 168.2vh,
      10: 190vh,
    ),
  ),
  text_indopak_15_lines: (
    tablet: (
      1: 58vh,
      2: 64vh,
      3: 76vh,
      4: 75vh,
      5: 76vh,
      6: 98.6vh,
      7: 121.2vh,
      8: 143.8vh,
      9: 166.4vh,
      10: 189vh,
    ),
  ),
  text_indopak_16_lines: (
    tablet: (
      1: 55vh,
      2: 61vh,
      3: 63vh,
      4: 65vh,
      5: 69vh,
      6: 93.2vh,
      7: 117.4vh,
      8: 141.6vh,
      9: 165.8vh,
      10: 190vh,
    ),
  ),
  code_v2: (
    tablet: (
      1: 52vh,
      2: 54vh,
      3: 56vh,
      4: 61vh,
      5: 64.5vh,
      6: 90.4vh,
      7: 116.3vh,
      8: 142.2vh,
      9: 168.1vh,
      10: 194vh,
    ),
  ),
  tajweed_v4: (
    tablet: (
      1: 52vh,
      2: 54vh,
      3: 56vh,
      4: 61vh,
      5: 64.5vh,
      6: 90.4vh,
      7: 116.3vh,
      8: 142.2vh,
      9: 168.1vh,
      10: 194vh,
    ),
  ),
  code_v1: (
    tablet: (
      1: 54vh,
      2: 56.5vh,
      3: 59.5vh,
      4: 63vh,
      5: 67vh,
      6: 91.6vh,
      7: 116.2vh,
      8: 140.8vh,
      9: 165.4vh,
      10: 190vh,
    ),
  ),
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function get-scales($name, $device-type, $map) {
  @return map-deep-get($map, $name, $device-type);
}

// generate line-width based on font type, font-scale, and screen width;
@mixin generate-line-width-scales($name) {
  $mobile-scales: get-scales($name, "mobile", $line-width-map);
  $tablet-scales: get-scales($name, "tablet", $line-width-map);
  $desktop-scales: get-scales($name, "desktop", $line-width-map);

  @for $i from 1 through constants.$maximum-font-step {
    .#{$name}-line-width-#{$i} {
      @if $mobile-scales != null and map.has-key($tablet-scales, $i) {
        --line-width: #{map.get($mobile-scales, $i)};
      }

      @if $tablet-scales != null and map.has-key($tablet-scales, $i) {
        @include breakpoints.tablet {
          --line-width: #{map.get($tablet-scales, $i)};
        }
      }

      @if $desktop-scales != null and map.has-key($desktop-scales, $i) {
        @include breakpoints.desktop {
          --line-width: #{map.get($desktop-scales, $i)};
        }
      }
    }
  }
}

@mixin generate-font-scales($name) {
  $mobile-scales: null;
  $tablet-scales: null;
  $tablet-line-height-scales: null;
  $desktop-skeleton-height-scales: null;
  $mobile-skeleton-height-scales: null;

  // reading view skeletons mapping
  @if map.has-key($skeleton-height-map, $name) {
    $desktop-skeleton-height-scales: get-scales(
      $name,
      "desktop",
      $skeleton-height-map
    );
    $mobile-skeleton-height-scales: get-scales(
      $name,
      "mobile",
      $skeleton-height-map
    );
  } @else {
    $desktop-skeleton-height-scales: get-scales(
      "default",
      "desktop",
      $skeleton-height-map
    );
    $mobile-skeleton-height-scales: get-scales(
      "default",
      "mobile",
      $skeleton-height-map
    );
  }

  // line heights mapping
  @if map.has-key($line-heights-map, $name) {
    $tablet-line-height-scales: get-scales($name, "tablet", $line-heights-map);
  } @else {
    $tablet-line-height-scales: get-scales(
      "default",
      "tablet",
      $line-heights-map
    );
  }

  // font scales mapping
  @if map.has-key($scales-map, $name) {
    $mobile-scales: get-scales($name, "mobile", $scales-map);
    $tablet-scales: get-scales($name, "tablet", $scales-map);
  } @else {
    $mobile-scales: get-scales("default", "mobile", $scales-map);
    $tablet-scales: get-scales("default", "tablet", $scales-map);
  }

  @for $i from 1 through constants.$maximum-font-step {
    .#{$name}-font-size-#{$i} {
      --skeleton-height: #{map.get($mobile-skeleton-height-scales, $i)};
      --font-size: #{map.get($mobile-scales, $i)};
      --line-height: normal;
      @include breakpoints.tablet {
        --font-size: #{map.get($tablet-scales, $i)};
        --line-height: #{map.get($tablet-line-height-scales, $i)};
        --skeleton-height: #{map.get($desktop-skeleton-height-scales, $i)};
      }
      font-size: var(--font-size);
    }
  }
}

// Sets a max-width based on the device width. Inspired by the bootstrap container (https://getbootstrap.com/docs/5.0/layout/containers/).
$large-device-width-ratio: 95%;
$quran-max-container-width: 112rem;
@mixin quranContainer() {
  width: 95%;

  @include breakpoints.tablet {
    width: $large-device-width-ratio;
    max-width: $quran-max-container-width;
  }
}

$page-container-max-width: 80rem;
@mixin pageContainer {
  max-width: $page-container-max-width;
  @include breakpoints.tablet {
    width: 80%;
  }
}
