body {
  min-height: 100vh;
  background: var(--color-background-default);
  color: var(--color-text-default);

  ::selection {
    background: var(--color-highlight);
  }

  ::-moz-selection {
    background: var(--color-highlight);
  }

  overscroll-behavior-y: none;
  font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// reference: https://github.com/necolas/normalize.css/blob/fc091cce1534909334c1911709a39c22d406977b/normalize.css#L165
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

a {
  color: var(--color-text-default);
}

// these spacer utilities are used to add hard coded spaces to components
// names of these spacer classes is coming from the api.
// One sample usage is for Indopak words, some words need extra space at the end(see 2:2:4)
// detecting these spaces in FE is hard, and will slow down the app
.mr-10 {
  margin-inline-end: 10px;
}
.mr-15 {
  margin-inline-end: 15px;
}
