@use "src/styles/theme";

body {
  min-height: 100vh;
  background: var(--color-background-default);
  color: var(--color-text-default);

  ::selection {
    background: var(--color-highlight);
  }

  ::-moz-selection {
    background: var(--color-highlight);
  }

  overscroll-behavior-y: none;
  font-family: "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .ltr, :dir(ltr) {
    /* stylelint-disable-next-line csstools/use-logical */
    text-align: left;
    direction: ltr;
  }

  .rtl, :dir(rtl) {
    direction: rtl;
    /* stylelint-disable-next-line csstools/use-logical */
    text-align: right;
  }

  :lang(ur), .ur, .urdu {
    font-family: "NotoNastaliqUrdu", "Noto Nastaliq Urdu", "Noto Nastaliq Arabic", "ProximaVara", "Helvetica Neue", Helvetica, Arial;
  }

  :lang(ar){
    font-family: "Noto Nastaliq Arabic", "NotoNastaliq", "ProximaVara", "Helvetica Neue", Helvetica, Arial;
  }

  :lang(bn) {
    font-family: "NotoSerifBengali", "Helvetica Neue", Helvetica,
      Arial;
  }
}

// reference: https://github.com/necolas/normalize.css/blob/fc091cce1534909334c1911709a39c22d406977b/normalize.css#L165
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

a {
  color: var(--color-text-default);
}

select option {
  background-color: var(--color-background-default);
  color: var(--color-text-default);
}
