body {
  min-height: 100vh;
  background: var(--color-background-default);
  color: var(--color-text-default);

  ::selection {
    background: var(--color-highlight);
  }

  ::-moz-selection {
    background: var(--color-highlight);
  }

  overscroll-behavior-y: none;
  font-family: "ProximaVara", "Helvetica Neue", Helvetica, Arial;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-text-default);
}
