@use "src/styles/breakpoints";

.bookmarksHeader {
  margin-block-end: var(--spacing-xsmall);
}

.verseLinksContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

.container {
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: var(--flow-side-spacing);
  padding-inline-end: var(--flow-side-spacing);
  overflow-x: auto;
}

.bookmarkItem {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-inline-end: var(--spacing-small);
  white-space: nowrap;
  background-color: var(--color-success-medium);
  border-radius: var(--border-radius-pill);
  padding-inline-start: var(--spacing-small);
  padding-block: var(--spacing-xsmall);
}

.linkButtonContainer {
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-weight: var(--font-weight-semibold);
}

.closeIconContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: white;
  border: none;
  width: var(--spacing-mega);
  background-color: transparent;
  & svg {
    fill: white;
    height: 16px;
    width: 16px;
  }
}
