@use "src/styles/breakpoints";

.bookmarksContainer {
  padding: var(--spacing-large) 0;
}

.bookmarksHeader {
  margin-bottom: var(--spacing-xsmall);
}

.verseLinksContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-small);
  @include breakpoints.tablet {
    display: flex;
    align-items: center;
  }
}
