$verseLinkMinWidth: calc(6 * var(--spacing-mega));
.sessionsContainer {
  padding: 0;
}

.sessionsHeader {
  margin-bottom: var(--spacing-xsmall);
  padding: 0 var(--flow-side-spacing, 0);
  display: flex;
  align-items: center;
  font-size: var(--font-size-large);
  & > span {
    margin-right: var(--spacing-xxsmall);
  }
}

.verseLinksContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  & > .verseLink {
    min-width: $verseLinkMinWidth;
  }

  & > .verseLink:first-child {
    margin-left: var(--flow-side-spacing, 0);
  }
  & > .verseLink:last-child {
    margin-right: var(--flow-side-spacing, 0);
  }
  & > .verseLink + .verseLink {
    margin-left: var(--spacing-small);
  }
}

.button {
  margin: 0 var(--spacing-micro);
  > span {
    width: max-content;
  }
}
