.sessionsContainer {
  padding: var(--spacing-large) 0;
}

.sessionsHeader {
  margin-bottom: var(--spacing-xsmall);
  display: flex;
  align-items: center;
  & > span {
    margin-right: var(--spacing-xxsmall);
  }
}

.verseLinksContainer {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}

.button {
  margin: 0 var(--spacing-micro);
  > span {
    width: max-content;
  }
}
