.outerContainer {
  min-height: calc(var(--spacing-mega) * 9.3);
}

.calendarContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: calc(var(--spacing-mega) * 12);
  margin-inline: auto;

  & > div {
    padding-block: var(--spacing-small);

    &.bordered {
      border-block-start: 1px solid var(--color-background-alternative-medium);
    }

    & > button {
      background: none;
      border: none;
      color: var(--color-text-default);
      font-weight: var(--font-weight-bold);
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: var(--border-radius-pill);

      &.disabled {
        opacity: var(--opacity-50);
        font-weight: var(--font-weight-normal);
        cursor: not-allowed;
      }

      &:hover {
        background: var(--color-background-alternative-medium);
      }
    }
  }
}
