.videoContainer {
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoContainer video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  [dir="rtl"] & {
    transform: translate(50%, -50%);
  }
  object-fit: cover;
}

.verseCentre {
  padding: 0 2rem;
  text-align: center;
}

.verseJustified {
  width: 100%;
  text-align: justify;
  padding: 0 2rem;
}

.verseTranslationCentre {
  padding: 0.5rem 2rem;
  text-align: center;
}

.verseTranslationJustified {
  width: 100%;
  padding: 0.5rem 2rem;
  text-align: justify;
}

.translation {
  direction: ltr;
}

.watermarkLight {
  color: white;
}

.watermarkDark {
  color: black;
}

.watermark {
  font-weight: 700;
  text-align: left;
  margin-inline-start: 5px;
  opacity: 0.7;
}

.logo {
  font-size: 30px;
}

.chapterTitle {
  opacity: 0.7;
  font-family: unset !important;
  text-align: center;
  font-size: 40px;
  margin-block-start: 55px;
  // when switching languages, the font-family we don't want to be applied to the chapter title
  & * {
    font-family: unset !important;
  }
}

.verseText {
  line-height: 1.7;
  font-family: UthmanicHafs !important;
  direction: rtl !important;
  margin-block: 3px;
}

.indopakFont {
  font-family: Indopak !important;
}

.surahNumber {
  font-size: 35px;
}

.surahFont {
  font-weight: 500;
  font-family: "SurahNames" !important;
}

.verseContainer {
  justify-content: center !important;
  width: fit-content !important;
  max-width: 97% !important;
  height: fit-content !important;
  max-height: 73% !important;
  margin: auto !important;
  border: 2px gray solid !important;
  border-radius: 20px !important;
  align-items: center !important;
}

.verseBorder {
  border: var(--border-size) var(--border-color) solid !important;
}

.verseLandscape {
  min-width: 60% !important;
  min-height: 50% !important;
}

.versePortrait {
  min-width: 80% !important;
  min-height: 25% !important;
}
