.input {
  display: none;
}

.itemLabel {
  cursor: pointer;
}

.itemContainer {
  color: var(--color-text-default);
  padding: var(--spacing-xsmall) var(--spacing-small);
}

.enabledItem {
  cursor: pointer;
  &:hover {
    background: var(--color-background-alternative);
  }
}
.disabledItem {
  color: var(--color-secondary-medium);
}

.checkedItem {
  font-weight: var(--font-weight-bold);
  background: var(--color-background-alternative);
}

.prefix {
  pointer-events: none;
  display: flex;
  align-items: center;
  padding-right: var(--spacing-xsmall);
  > svg {
    width: var(--spacing-small);
    height: var(--spacing-small);
  }
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prefixContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.suffixContainer {
  background: var(--color-primary-medium);
  border-radius: var(--border-radius-pill);
  padding: var(--spacing-micro);
  color: var(--color-primary-deep);
  text-transform: uppercase;
  font-size: var(--font-size-small);
}
