.container {
  > div {
    margin-block-end: var(--spacing-large);
    padding-block-end: var(--spacing-large);
    border-block-end: var(--spacing-hairline-px) solid var(--color-separators-ayah-level);

    &:last-child {
      border-block-end: none;
    }
  }
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  padding: var(--spacing-medium);
}

div.headerClassName {
  align-items: flex-start;
  gap: var(--spacing-xsmall);

  & > :nth-child(2) {
    margin-inline-end: 0;
    margin-block-start: calc(2 * var(--spacing-micro-px));
  }
}
