@use "src/styles/breakpoints";
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: calc(8 * var(--spacing-mega));
  }
  
.playerWrapper {
  position: relative;
  padding: var(--spacing-large);
}

.versePreviewContainer {
  padding: var(--spacing-large);
  background-color: var(--color-background-alternative-faded);
}


.pageContainer {
  @include breakpoints.smallerThanTablet {
    padding-block-start: var(--banner-height);
  }
  @include breakpoints.tablet {
    padding-block-start: var(--spacing-small);
  }
  padding-block-end: var(--spacing-small);
  padding-inline-start: 0;
  padding-inline-end: 0;
}

// juz layout (masonry layout)
.settingsContainer {
  display: grid;
  @include breakpoints.tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoints.desktop {
    grid-template-columns: repeat(3, 1fr);
  }
  gap: 2em;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.verseContainer {
  margin: 3rem 0px;
}

.verse {
  display: flex;
  flex-direction: row;
  direction: rtl;
}

.number {
  font-size: 12px;
  text-align: right;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0px 20px;
  border: 1px solid black;
}


.text {
  font-size: 3.5rem;
  text-align: right;
  margin-left: 10px;
  padding: 0 2rem; 
}

.translation {
  padding: 5px;
  margin: 3px 0px;
  display: flex;
  flex-direction: row;
}

.translationText {
  font-size: 1.4rem;
  text-align: right;
  margin-left: 10px;
  margin-left: auto; 
  margin-right: 0; 
  padding: 0 2rem;
}