@use "src/styles/breakpoints";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include breakpoints.tablet {
    width: 40%;
    justify-content: space-between;
  }

  > a {
    margin: var(--spacing-xxsmall);
  }
}
