.header {
  font-weight: var(--font-weight-bold);
  padding-block-start: var(--spacing-small);
  padding-block-end: var(--spacing-small);
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: 100%;
  text-align: start;
}
