@use '@/styles/breakpoints';
@use '@/styles/utility';

.containerSkeleton {
  @include utility.pageContainer();
  margin-inline: auto;
  padding: var(--spacing-medium2-px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium2-px);

  .titleContainerSkeleton {
    display: flex;
    justify-content: center;
    align-items: center;

    .titleSkeleton {
      inline-size: 50%;
      block-size: var(--spacing-xlarge-px);
    }
  }

  .contentSkeleton {
    display: grid;
    gap: var(--spacing-medium2-px);

    @include breakpoints.tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    .cardsSkeletonContainer {
      block-size: calc(3 * var(--spacing-mega-px));
    }
  }
}
