.button {
    color: var(--color-text-faded-new);
    background: var(--color-background-elevated);
    &:hover {
        background: var(--color-background-elevated);
        color: var(--color-text-faded-new);
    }
    border: none;
    padding: var(--spacing-medium2-px);
}

.buttonContent {
    display: flex;
    align-items: center;
    gap: var(--spacing-xsmall);
}

.buttonContainer {
    background: var(--color-background-elevated);
}
