@use "src/styles/theme";

.passwordValidation {
    margin-inline-start: var(--spacing-small-px);
    row-gap: var(--spacing-small-px);
    display: flex;
    flex-direction: column;
}

.validationRule {
    display: flex;
    align-items: center;
}

.ruleText {
    font-size: var(--font-size-small);

    @include theme.light {
        color: var(--color-border-gray-dark);
    }

    @include theme.sepia {
        color: var(--color-border-gray-dark);
    }

    @include theme.dark {
        color: var(--color-text-white);
    }
}

.valid {
    margin-inline-end: var(--spacing-xsmall-px);
}

.invalid {
    margin-inline-end: var(--spacing-small-px);

    @include theme.light {
        color: var(--color-text-black);
        filter: brightness(1);
    }

    @include theme.sepia {
        color: var(--color-text-default);
        filter: brightness(1);
    }

    @include theme.dark {
        color: var(--color-text-inverse);
        filter: brightness(0) invert(1);
    }
}
