.passwordValidation {
    margin-top: 8px;
}

.validationRule {
    display: flex;
    align-items: center;
    margin-block: var(--spacing-xxsmall);
    color: var(--color-text-gray);
    font-size: var(--font-size-xsmall-px);
}

.ruleIcon {
    margin-inline-end: var(--spacing-xxsmall);
    font-weight: bold;
}
