$container-height: calc(var(--spacing-medium2-px) + var(--spacing-large-px));

.passwordInputContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--spacing-small-px);
  height: $container-height;
  box-sizing: border-box;
  border-radius: var(--border-radius-medium-px);
  border: var(--spacing-hairline-px) solid var(--color-border-gray-lighter);
  background-color: var(--color-background-default);
  transition: border-color 0.2s ease;
  &:hover:not(.disabled),
  &:focus:not(.disabled),
  &.hasValue {
    border: var(--spacing-hairline-px) solid var(--color-success-medium);
  }

  &:has(input:disabled) {
    input {
      cursor: not-allowed;
    }
  }

  input {
    &::placeholder {
      color: var(--color-border-gray-light) !important;
    }
  }
}

.toggleButton {
  position: relative;
  background: none;
  border: none;
  padding: calc(var(--spacing-xxxsmall-px) + var(--spacing-hairline-px));
  margin-top: var(--spacing-xxsmall-px);
  cursor: pointer;
  color: var(--color-text-faded);
  padding-inline: var(--spacing-xxsmall);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--color-text-default);
  }
  &:hover {
    color: var(--color-text-default);
  }

  &:focus {
    outline: none;
    color: var(--color-text-default);
  }

  svg {
    width: var(--spacing-medium2-px);
    height: var(--spacing-medium2-px);
  }
  svg {
    width: var(--spacing-medium2-px);
    height: var(--spacing-medium2-px);
  }
}

.icon {
  width: var(--spacing-large);
  height: var(--spacing-large);
  width: var(--spacing-large);
  height: var(--spacing-large);
}