.passwordInputContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-borders-hairline);
    border-radius: var(--border-radius-rounded);
    padding-inline: var(--spacing-small);
    height: calc(2 * var(--spacing-large));
}

.toggleButton {
    position: relative;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-faded);
    padding-inline: var(--spacing-xxsmall);

    &:hover {
        color: var(--color-text-default);
    }

    &:focus {
        outline: none;
        color: var(--color-text-default);
    }
}

.icon {
    width: var(--spacing-large);
    height: var(--spacing-large);
}
