.passwordValidation {
    margin-inline-start: var(--spacing-small-px);
    row-gap: var(--spacing-small-px);
    display: flex;
    flex-direction: column;
}

.validationRule {
    display: flex;
    align-items: center;
}

.ruleText {
    color: var(--color-border-gray-dark);
    font-size: var(--font-size-small);
}

.valid {
    margin-inline-end: var(--spacing-xsmall-px);
}

.invalid {
    margin-inline-end: var(--spacing-small-px);
}
