$container-height: 52px;

.passwordInputContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--spacing-small-px);
  height: $container-height;
  box-sizing: border-box;
  border-radius: var(--border-radius-medium-px);
  border: 1px solid var(--color-border-gray-lighter);
  background-color: var(--color-background-default);
  transition: border-color 0.2s ease;
  &:hover:not(.disabled),
  &:focus:not(.disabled),
  &.hasValue {
    border: 1px solid var(--color-success-medium);
  }

  &:has(input:disabled) {
    input {
      cursor: not-allowed;
    }
  }

  input {
    &::placeholder {
      color: var(--color-border-gray-light) !important;
    }
  }
}

.label {
  padding-block: var(--spacing-micro-px);
  padding-inline: 0;
}

.toggleButton {
  position: relative;
  background: none;
  border: none;
  padding: 4px;
  margin-top: var(--spacing-xxsmall-px);
  cursor: pointer;
  color: var(--color-text-faded);
  padding-inline: var(--spacing-xxsmall);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--color-text-default);
  }

  &:focus {
    outline: none;
    color: var(--color-text-default);
  }

  svg {
    width: var(--spacing-medium2-px);
    height: var(--spacing-medium2-px);
  }
}

.icon {
  width: var(--spacing-large);
  height: var(--spacing-large);
}
