.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.customMessage {
  color: var(--color-text-default);
  padding: var(--spacing-xxsmall);
  border: 1px solid var(--color-borders-hairline);
  border-radius: var(var(--border-radius-default));
}

.label {
  margin-top: var(--spacing-xsmall);
  margin-bottom: var(--spacing-xsmall);
  color: var(--color-text-default);
}

// clone of checkbox properties
.emptyCheckbox {
  min-height: var(--spacing-medium);
  border: 1px solid transparent;
  margin-top: var(--spacing-micro);
  margin-bottom: var(--spacing-micro);
}
