.searchDropdownLabel {
  margin-top: var(--spacing-xsmall);
  margin-bottom: var(--spacing-xsmall);
  font-weight: var(--font-weight-bold);
}
.selectorContainer {
  margin-top: var(--spacing-micro);
  margin-bottom: var(--spacing-micro);
}
.selectorsContainer {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.selectorsContainerInvisible {
  display: none;
}
