.container {
  position: relative;
  display: inline-block;
}
.content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-inverse);
  height: var(--spacing-small);
  width: var(--spacing-small);
  background-color: var(--color-success-deep);
  border-radius: var(--border-radius-circle);
  font-size: var(--font-size-xsmall);
}
.bottomRight {
  inset-block-end: var(--spacing-xxsmall);
  inset-inline-end: var(--spacing-xxsmall);
}

.topLeft {
  inset-inline-start: var(--spacing-xxsmall);
  inset-block-end: var(--spacing-mega);
}
