.dayCircle {
  inline-size: var(--spacing-medium3-px);
  block-size: var(--spacing-medium3-px);
  border-radius: var(--border-radius-circle);
  border: var(--spacing-micro-px) solid var(--color-blue-buttons-and-icons);
  background-color: var(--color-background-default);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);

  [dir='rtl'] & {
    transform: translate(50%, -50%);
  }

  & svg {
    inline-size: 90%;
    block-size: 90%;
    color: white;
  }
}

.checked {
  background-color: var(--color-blue-buttons-and-icons);
}

.future {
  border-color: var(--color-grey-icons);
  background-color: var(--color-grey-icons);
}
