@use "src/styles/breakpoints";

.container {
  padding: calc(2 * var(--spacing-mega)) 0;
  margin: 0 auto;
  max-width: 90%;
  color: var(--color-text-default);
  @include breakpoints.tablet {
    max-width: 75%;
  }
}

.infoBody {
  width: 100%;
  display: block;
  @include breakpoints.tablet {
    display: flex;
    justify-content: center;
  }
}

.backContainer {
  width: fit-content;
  margin: var(--spacing-small) 0;
}

.backIcon {
  margin: var(--spacing-micro) 0;
  @include breakpoints.tablet {
    margin: 0 var(--spacing-micro);
  }
  > svg {
    margin-right: var(--spacing-xxsmall);
  }
}

.imageContainer {
  border: 1px solid var(--color-borders-hairline);
  border-radius: var(--border-radius-default);
  height: 200px;
  width: 250px;
  position: relative;
  @include breakpoints.tablet {
    margin-right: var(--spacing-large);
  }
}

.textBody {
  p {
    margin-bottom: var(--spacing-small);
  }
  h2,
  h3 {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-small);
  }
  em {
    font-style: italic;
  }
  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: var(--spacing-medium);
    margin-block-end: var(--spacing-medium);
    padding-inline-start: calc(2 * var(--spacing-large));
    margin-bottom: var(--spacing-small);
  }
  li {
    display: list-item;
    line-height: normal;
  }
}

.infoTextContainer {
  width: auto;
  @include breakpoints.tablet {
    width: 80%;
  }
}

.headerContainer {
  margin: var(--spacing-xsmall) 0;
  padding-bottom: var(--spacing-xsmall);
  border-bottom: 1px solid var(--color-borders-hairline);
  @include breakpoints.tablet {
    display: flex;
  }
}

.surahName {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  width: 100%;
  @include breakpoints.tablet {
    width: 50%;
  }
}

.detailsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--spacing-xsmall);
  width: 100%;
  @include breakpoints.tablet {
    padding-top: 0;
    width: 50%;
  }
}

.detailHeader {
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--spacing-xxsmall);
}
