@use 'src/styles/breakpoints';
@use 'src/styles/constants';
@use 'sass:map';

$calligraphy-offset: -0.875rem;
$container-min-height: 200px;
$line-height-relaxed: 1.6;

div {
  &.surahInfoOverlay {
    --spacing-block: calc(1.5 * var(--spacing-mega));
    --spacing-inline: var(--spacing-small);

    @include breakpoints.tablet {
      --spacing-inline: calc(1.5 * var(--spacing-mega));

      overflow-y: hidden;
      align-items: flex-end;
      justify-items: center;
      padding-block-start: 0;
      padding-block-end: 0;
    }
  }

  &.surahInfoHeader {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-block: 0;
    background-color: var(--color-background-elevated-new);
    min-block-size: calc(var(--spacing-medium-plus2-px) * 3);
    border-block-end: var(--spacing-hairline-px) solid var(--color-separators-ayah-level);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-faded-new);
    font-size: var(--font-size-large2);

    .closeIconContainer {
      inset-inline-end: 0;
    }

    @include breakpoints.tablet {
      position: relative;
      padding-inline: var(--spacing-inline);
      min-block-size: var(--spacing-xxlarge-px);
      align-items: flex-start;
      border-block-end: 0;

      &::before {
        content: '';
        position: absolute;
        inset-block-end: 0;
        inset-inline: var(--spacing-inline);
        block-size: var(--spacing-hairline-px);
        background-color: var(--color-separators-ayah-level);
      }

      .closeIconContainer {
        inset-block-start: var(--spacing-small2-px);
        inset-inline-end: calc(var(--spacing-inline) - var(--spacing-small-px));
      }
    }
  }

  &.surahInfoContent {
    background-color: var(--color-background-elevated-new);
    overflow-y: auto;

    padding-inline: 0;

    @include breakpoints.tablet {
      padding-block: var(--spacing-block) 0;
      overflow-y: unset;
      border-radius: var(--border-radius-rounded) var(--border-radius-rounded) 0 0;
      block-size: 95vh;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-block-end: 0;
    }
  }

  &.surahInfoInnerContent {
    overflow-y: auto;
    padding-inline: 0;
    padding-block-end: var(--spacing-block);
  }
}

.headerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--spacing-xsmall);
  padding-block: var(--spacing-large-px);
  padding-inline: var(--spacing-inline);
  border-block-end: 0;

  &::before {
    content: '';
    position: absolute;
    inset-block-end: 0;
    inset-inline: var(--spacing-inline);
    block-size: var(--spacing-hairline-px);
    background-color: var(--color-separators-ayah-level);
  }
}

.options {
  display: flex;
  gap: var(--spacing-medium2-px);
  margin-block: var(--spacing-medium2-px);
  padding-inline-start: var(--spacing-inline);
}

.calligraphyContainer {
  max-inline-size: max-content;

  // The calligraphy SVG has a lot of whitespace on the left side in LTR, so we shift it left to visually center it.
  // If we applied this transform in RTL, it would shift the calligraphy further to the right, increasing whitespace on the right
  // and misaligning the calligraphy away from the main content. Therefore, only apply this transform for LTR layouts.
  :global([dir='ltr']) & {
    transform: translateX($calligraphy-offset);
  }
}

.surahName {
  font-size: var(--font-size-large2);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-default-new);
}

.detailsContainer {
  display: flex;
  color: var(--color-text-default-new);
  font-size: var(--font-size-normal);
  gap: var(--spacing-medium);
}

.detailItem {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--spacing-xxsmall);
}

.detailHeader {
  font-weight: var(--font-weight-bold);
}

.descriptionContainer {
  color: var(--color-text-default-new);
  padding-inline: var(--spacing-inline);

  p,
  h2,
  h3,
  li,
  em {
    line-height: $line-height-relaxed;
  }

  p {
    margin-block-end: var(--spacing-medium3-px);
  }

  h2,
  h3 {
    font-weight: var(--font-weight-bold);
    margin-block-end: var(--spacing-medium3-px);
  }

  em {
    font-style: italic;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-end: var(--spacing-medium);
    padding-inline-start: calc(2 * var(--spacing-large));
  }

  li {
    display: list-item;
    margin-block-end: var(--spacing-xxsmall);
  }

  & > *:last-child {
    margin-block-end: 0;
  }
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: $container-min-height;
  padding-block: var(--spacing-large);

  &[data-status='empty'] {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
  }
}

.resourceTabs {
  display: flex;
  gap: var(--spacing-small2-px);
  overflow-x: auto;
  padding-inline-end: var(--spacing-inline);

  &::-webkit-scrollbar {
    block-size: var(--spacing-xxsmall-px);
  }

  & > :last-child {
    margin-inline-end: var(--spacing-micro-px);
  }
}

.resourceTab {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  block-size: calc(var(--spacing-small-plus-px) * 4);
  padding-inline: var(--spacing-medium-px);
  border-radius: var(--border-radius-pill);
  background-color: var(--color-background-alternative-faint);
  color: var(--color-text-default-new);
  line-height: 1;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  transition: background-color var(--transition-fast), transform var(--transition-fast);

  &:where(:hover, :focus-visible, [aria-selected='true'], &.resourceTabActive):not(:disabled) {
    background-color: var(--color-success-medium);
    color: var(--color-text-white);
  }

  &:active:not(:disabled) {
    transform: scale(constants.$button-active-scale);
  }
}

$surah-info-scales: (
  tablet: (
    1: 0.8rem,
    2: 0.9rem,
    3: 1rem,
    4: 1.3rem,
    5: 1.7rem,
    6: 2.1rem,
    7: 2.5rem,
    8: 2.9rem,
    9: 3.3rem,
    10: 3.7rem,
  ),
  mobile: (
    1: 0.8rem,
    2: 0.9rem,
    3: 1rem,
    4: 1.2rem,
    5: 1.5rem,
    6: 1.8rem,
    7: 2.1rem,
    8: 2.4rem,
    9: 2.7rem,
    10: 3rem,
  ),
);

@for $i from 1 through 10 {
  .surahInfo-font-size-#{$i} {
    --surah-info-font-size: #{map-get(map-get($surah-info-scales, mobile), $i)};
    font-size: var(--surah-info-font-size);

    @include breakpoints.tablet {
      --surah-info-font-size: #{map-get(map-get($surah-info-scales, tablet), $i)};
      font-size: var(--surah-info-font-size);
    }
  }
}
