@use 'src/styles/breakpoints';

.container {
  position: relative;
  margin-block-start: calc(1.5 * var(--spacing-mega));
  @include breakpoints.tablet {
    margin-block-start: var(--spacing-micro);
  }
  background-image: url('/images/ramadan-background.jpg');
  color: white;
}

.rowContainer {
  max-inline-size: 80%;
  padding-inline: var(--spacing-mega);
  margin-inline: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.header {
  font-weight: var(--font-weight-bold);
  margin-block-start: var(--spacing-large);
  font-size: var(--font-size-jumbo);
  inline-size: 100%;
  padding-block-end: var(--spacing-medium);
}

.desc {
  margin-block-end: var(--spacing-medium);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  inline-size: 100%;

  b {
    font-weight: var(--font-weight-extra-bold);
  }
}
