.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.title {
  font-size: var(--font-size-jumbo);
  margin-bottom: var(--spacing-medium);
}

.actionItem + .actionItem {
  margin-left: var(--spacing-medium);
}
