.contentPage {
  padding-top: var(--spacing-mega);
  max-width: 40rem;
  margin: 0 auto;
  padding: var(--spacing-mega) var(--spacing-medium);
  h1 {
    font-size: var(--font-size-xlarge);
    line-height: var(--line-height-jumbo);
    margin-bottom: var(--spacing-xsmall);
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-xsmall);
    font-weight: var(--font-weight-semibold);
  }
  p {
    line-height: var(--line-height-large);
    margin-bottom: var(--spacing-medium);
  }
  a {
    text-decoration: underline;
    font-weight: var(--font-weight-semibold);
    &:hover {
      opacity: var(--opacity-50);
    }
  }
}

.lokalizeImage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-medium) 0;
}
