@use "src/styles/breakpoints";

.contentPage {
  margin: auto;
  @include breakpoints.desktop {
    width: 65%;
  }
  @include breakpoints.smallerThanDesktop {
    width: 90%;
  }
  * {
    line-height: calc(1.3 * var(--line-height-xlarge));
  }
}

.contentPage {
  h1,
  & .heading {
    font-size: var(--font-size-xlarge);
    line-height: var(--line-height-jumbo);
    margin-block-end: var(--spacing-xsmall);
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-jumbo);
    margin-block-end: var(--spacing-xsmall);
    font-weight: var(--font-weight-bold);
  }
  p {
    line-height: var(--line-height-large);
    margin-block-end: var(--spacing-medium);
  }
  a {
    text-decoration: underline;
    font-weight: var(--font-weight-semibold);
    &:hover {
      opacity: var(--opacity-50);
    }
  }
  ol {
    list-style: lower-latin;
  }
  li {
    margin-inline-start: var(--spacing-mega);
  }
  ul li {
    list-style: disc;
  }
  i {
    font-style: italic;
    &.italicLarge {
      font-size: var(--font-size-large);
    }
  }
  b {
    font-weight: var(--font-weight-bold);
  }
}

.image {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block-start: var(--spacing-medium);
  padding-block-end: var(--spacing-medium);
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.list {
  list-style: unset;
  padding-inline-start: var(--spacing-mega);
}

.underline {
  text-decoration: underline;
}

.subListItem {
  list-style-type: circle;
  margin-inline-start: var(--spacing-large);
}

.ctaContainer {
  padding-block: var(--spacing-large);
  display: flex;
  align-items: center;
  flex-direction: column;

  a {
    text-decoration: none;
  }
}

.section {
  padding-block-start: var(--spacing-mega);
}
.subSection {
  padding-block-start: var(--spacing-medium);
}
.innerSection {
  padding-block: var(--spacing-medium);
}

.bold {
  font-weight: bold;
}

.subHeading {
  font-weight: var(--font-weight-bold);
}
