@use "src/styles/breakpoints";

$image-max-width: 100rem;
$list-max-width: 80rem;

.pageContainer {
  padding: var(--spacing-small);
}

.imageContainer {
  @include breakpoints.tablet {
    width: 90%;
    max-width: $image-max-width;
    margin: 0 auto;
  }
}

.listContainer {
  padding-top: calc(2 * var(--spacing-large));
  @include breakpoints.tablet {
    width: 65%;
    max-width: $list-max-width;
    margin: 0 auto;
  }
}
