@use "src/styles/theme";
.outerContainer {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: calc(10 * var(--spacing-mega));
}

.loginButton {
  margin-block-start: var(--spacing-small);
  font-weight: var(--font-weight-semibold);
}

.title {
  font-size: var(--font-size-jumbo);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-block-end: var(--spacing-large);
}

.googleButton {
  --themed-bg: var(--color-primary-faded);
  --themed-fg: var(--shade-9);
  @include theme.sepia {
    --themed-border: transparent;
  }

  @media (hover: hover) {
    &:hover {
      --themed-bg: var(--color-text-default);
      --themed-border: var(--color-text-default);
    }
  }
}

.facebookButton {
  --facebook-brand-color: #4267b2;

  --themed-bg: var(--facebook-brand-color);
  --themed-fg: var(--shade-0);
  --themed-border: var(--facebook-brand-color);
  @media (hover: hover) {
    &:hover {
      --themed-bg: var(--color-text-default);
      --themed-border: var(--color-text-default);
    }
  }
}
