@use "src/styles/utility";

.container {
  margin-block-start: var(--spacing-medium);
  min-height: 80vh;
}

.profileContainer {
  display: flex;
  align-items: center;
  margin-block-end: calc(2 * var(--spacing-medium));
}

.profilePicture {
  --profile-picture-size: calc(5 * var(--spacing-medium));
  width: var(--profile-picture-size);
  height: var(--profile-picture-size);
  background-color: var(--shade-4);
  border-radius: var(--border-radius-circle);
}

.profileInfoContainer {
  margin-inline-start: var(--spacing-small);
}

.skeletonContainer {
  & * + * {
    margin-block-start: var(--spacing-xxsmall);
  }
}

.name {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-xlarge);
}
.email {
  color: var(--color-text-faded);
}

.actionsContainer {
  margin-block-start: var(--spacing-mega);
}

.action {
  display: flex;
  justify-content: center;
  margin-block-end: var(--spacing-xsmall);
}

.recentReadingContainer {
  margin-block-end: var(--spacing-medium);
}

.bookmarksAndCollectionsContainer {
  margin-block-start: var(--spacing-large);
}

.collectionListContainer {
  margin-block-start: var(--spacing-mega);
}
