.title {
  padding-block-start: var(--spacing-mega);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.footerContainer {
  margin-block-start: calc(3 * var(--spacing-mega));
}
