@use "src/styles/breakpoints";

.pageContainer {
  padding: calc(2 * var(--spacing-mega)) 0;
  margin: 0 auto;
  width: 90%;
}

.header {
  margin: var(--spacing-medium) 0;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.paginationContainer {
  min-height: calc(2 * var(--spacing-mega));
}

.searchInputContainer {
  border: 1px solid var(--color-borders-hairline);
  border-radius: var(--border-radius-pill);
  padding: var(--spacing-xxsmall) var(--spacing-xsmall);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--spacing-large);
  margin: var(--spacing-medium) 0;
}

.rtlFlexDirection {
  flex-direction: row-reverse;
}

.searchInput {
  border: 0;
  width: 90%;
  font-size: var(--font-size-normal);
  background: var(--color-background-default);
  &:focus {
    outline: none;
  }
  &:disabled {
    background: none;
  }
}

.pageBody {
  width: 100%;
  padding-top: var(--spacing-small);
}

.filtersHeader {
  font-weight: var(--font-weight-bold);
  padding-top: var(--spacing-small);
  width: 100%;
  text-align: left;
}

.filtersContainer {
  border: 1px solid var(--color-borders-hairline);
  border-radius: var(--border-radius-default);
  background-color: var(--color-background-alternative);
  padding: var(--spacing-small);
  margin-top: var(--spacing-small);
  @include breakpoints.tablet {
    display: flex;
    justify-content: space-between;
    > div {
      width: 49%;
    }
  }
}
