@use "src/styles/breakpoints";
@use "src/styles/theme";

.header {
  font-size: var(--font-size-jumbo);
  font-weight: var(--font-weight-bold);
  text-align: center;
  padding-block-end: var(--spacing-medium);
}

.container {
  padding-block-start: var(--spacing-mega);
  width: 95%;
  margin: 0 auto;
  @include breakpoints.tablet {
    width: 25%;
  }
}

.colorContainer {
  display: flex;
  padding-block-end: var(--spacing-xxsmall);
}

.circle {
  height: var(--spacing-large);
  width: var(--spacing-large);
  border-radius: var(--border-radius-circle);
  display: inline-block;
  margin-inline-end: var(--spacing-medium);
}

.edgham {
  @include theme.light {
    background-color: #afafaf;
  }
  @include theme.dark {
    background-color: #676767;
  }
}
.mad-2 {
  @include theme.light {
    background-color: #53bbfc;
  }
  @include theme.dark {
    background-color: #d21ffb;
  }
}
.mad-6 {
  @include theme.light {
    background-color: #afafaf;
  }
  @include theme.dark {
    background-color: #676767;
  }
}
.mad-2-4-6 {
  @include theme.light {
    background-color: #2c93fc;
  }
  @include theme.dark {
    background-color: #ee30fa;
  }
}
.mad-4-5 {
  @include theme.light {
    background-color: #4572fb;
  }
  @include theme.dark {
    background-color: #ff55f1;
  }
}
.ekhfa {
  @include theme.light {
    background-color: #fc8e03;
  }
  @include theme.dark {
    background-color: #00b600;
  }
}
.qalqala {
  @include theme.light {
    background-color: #fc060a;
  }
  @include theme.dark {
    background-color: #82f200;
  }
}
