@use "src/styles/breakpoints";

.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 var(--spacing-large);
}

.spinner {
  margin-inline-end: var(--spacing-xsmall);
}
.iconsCenter {
  padding-right: 0 !important;
  margin-inline-start: var(--spacing-xxsmall);
  margin-inline-end: var(--spacing-xxsmall);
}

.iconContainer {
  padding-top: 0.4rem;

  & > svg {
    width: var(--spacing-medium);
    -webkit-margin-end: var(--spacing-large);
    margin-inline-end: var(--spacing-large);
  }

  @include breakpoints.smallerThanTablet {
    padding-right: var(--spacing-large);
    & > svg {
      width: var(--spacing-small);
      -webkit-margin-end: 0;
      margin-inline-end: 0;
    }
  }
}
