.footer {
  padding-block-start: var(--spacing-small-px);
  font-style: italic;
  opacity: var(--opacity-75);
  font-size: var(--font-size-xsmall-px);
  color: var(--color-text-default);
}

.invisible {
  display: none;
}
