@use "src/styles/breakpoints";

.header {
  margin-bottom: var(--spacing-xsmall);
  padding-left: var(--flow-side-spacing, var(--spacing-small));
}

.quickLinksContainer {
  display: flex;
  align-items: center;
  overflow-x: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0;
  }
}

.link {
  > span {
    width: max-content;
  }

  &:first-child {
    margin-left: var(--flow-side-spacing, var(--spacing-small));
  }
  &:last-child {
    margin-right: var(--flow-side-spacing, var(--spacing-small));
  }

  & + & {
    margin-left: var(--spacing-small);
  }
}
