@use "src/styles/breakpoints";
@use "src/styles/theme";

$link-shadow: 0px 3px 11px 1px rgb(0 0 0 / 3%);

.header {
  margin-block-end: var(--spacing-xsmall);
  padding-inline-start: var(--flow-side-spacing, var(--spacing-small));
}

.quickLinksContainer {
  width: 100%;
  gap: var(--spacing-xsmall);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  margin-inline: auto;
  padding-block-end: var(--spacing-small);
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0;
  }
}

.link {
  border: none;
  box-shadow: $link-shadow;
  background-color: var(--color-background-elevated);
  &:hover {
    background-color: var(--color-background-elevated);
    box-shadow: var(--shadow-large);
  }

  > span {
    width: max-content;
    color: var(--color-text-default);
    &:hover {
      color: var(--color-text-faded);
    }
  }
}

.randomButton {
  background-color: transparent;
  border: none;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: rgba(#000000, 0.3);
  }
}
