.container {
  display: flex;
}

.item {
  cursor: pointer;
  padding: var(--spacing-xsmall) var(--spacing-small);
  background-color: var(--color-background-default);
  border: 1px solid var(--color-borders-hairline);
  font-size: var(--font-size-normal);
}
.item:first-child {
  border-top-left-radius: var(--border-radius-default);
  border-bottom-left-radius: var(--border-radius-default);
}
.item:last-child {
  border-top-right-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
}
.item + .item {
  border-left: none;
}

.itemSelected {
  font-weight: var(--font-weight-bold);
  background-color: var(--color-background-alternative-faded);
}

.item[disabled] {
  cursor: not-allowed;
  opacity: var(--opacity-50);
}

// sizing
.itemLarge {
  padding: var(--spacing-small) var(--spacing-small);
}

.itemSmall {
  font-size: var(--font-size-small);
  padding: var(--spacing-xxsmall) var(--spacing-small);
}
