.container {
  display: grid;
  background-color: var(--color-background-alternative-faint);
  border-radius: var(--border-radius-default);
  padding: calc(0.5 * var(--spacing-xxsmall));
  grid-template-columns: repeat(
    auto-fit,
    minmax(0, 1fr)
  ); // use grid to prevent layout shift when `font-family: bold` on item selected https://css-tricks.com/bold-on-hover-without-the-layout-shift/
}

.item {
  cursor: pointer;
  color: var(--color-text-default);
  background-color: var(--color-background-alternative-faint);
  border-radius: var(--border-radius-default);
  border: none;
}

.itemSelected {
  font-weight: var(--font-weight-bold);
  background-color: var(--color-background-default);
  box-shadow: var(--shadow-small);
}

.item[disabled] {
  cursor: not-allowed;
  opacity: var(--opacity-50);
}

// sizing
.itemNormal {
  padding: var(--spacing-xsmall) var(--spacing-small);
  font-size: var(--font-size-normal);
}

.itemLarge {
  padding: var(--spacing-small) var(--spacing-small);
}

.itemSmall {
  font-size: var(--font-size-small);
  padding: var(--spacing-xxsmall) var(--spacing-small);
}
