@use 'src/styles/breakpoints';
$max-width: calc(7 * var(--spacing-mega-px) - 3 * var(--spacing-small-px)); // (700 - padding) = 670

.main {
  div .headerNavigationInnerClassName {
    max-inline-size: $max-width;
  }

  .mainContent {
    .pageContainer {
      overflow: hidden;
      max-inline-size: unset;
      padding: unset;
      margin-block-end: 0;
      @include breakpoints.tablet {
        max-inline-size: $max-width;
        padding-block: var(--spacing-xlarge-px);
      }

      .tabContent {
        padding-block: var(--spacing-xlarge-px);
        @include breakpoints.smallerThanTablet {
          padding-inline: var(--spacing-medium2-px);
          padding-block: var(--spacing-large-px);
        }
      }
    }
  }
}
