@use "src/styles/breakpoints";
$height: calc(9 * var(--spacing-mega));

.container {
  padding: 0 var(--spacing-large);
  box-sizing: border-box;
}

.textInputContainer {
  display: flex;
  align-items: center;
  flex: 1;

  & > svg {
    fill: var(--color-text-faded);
    opacity: var(--opacity-50);
  }

  & > .input {
    margin-inline-start: var(--spacing-xsmall);
  }
}

.inputContainer {
  border-block-end: 1px solid var(--color-borders-hairline);
  padding-block: var(--spacing-small);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.voiceFlowContainer {
  justify-content: flex-end;
  border-block-end: 0;
}

.input {
  appearance: none;
  border-radius: 0;
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: var(--font-size-normal);
  @include breakpoints.tablet {
    font-size: var(--font-size-xlarge);
  }
  padding: var(--spacing-small) 0;
  color: var(--color-text-faded);
  &::placeholder {
    color: var(--color-text-faded);
    opacity: var(--opacity-50);
  }
}

.bodyContainer {
  @include breakpoints.tablet {
    padding-block-start: var(--spacing-xsmall);
    padding-block-end: var(--spacing-xsmall);
  }
  padding-inline-start: 0;
  padding-inline-end: 0;
  overflow-y: auto;
  position: relative;
  height: $height;
  box-sizing: border-box;
}

.attribution {
  display: flex;
  justify-content: flex-end;
}
