$height: calc(8 * var(--spacing-mega));

.container {
  padding: var(--spacing-small);
}

.inputContainer {
  border-bottom: 1px solid var(--color-borders-hairline);
  padding-bottom: var(--spacing-small);
  display: flex;
}

.voiceFlowContainer {
  justify-content: flex-end;
}

.input {
  appearance: none;
  border-radius: 0;
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: var(--font-size-large);
  color: var(--color-text-faded);
}

.bodyContainer {
  padding: var(--spacing-xsmall) 0;
  overflow-y: auto;
  position: relative;
  height: $height;
}
