@use 'src/styles/breakpoints';
@use 'src/styles/utility';

$section-spacing: calc(var(--spacing-large-px) * 1.5);
$section-padding: var(--spacing-large-px);

$widget-border: var(--spacing-hairline-px) solid var(--color-separators-ayah-level);
$widget-border-radius: var(--border-radius-rounded);

.contentContainer {
  background-color: var(--color-background-default);
  border-radius: $widget-border-radius;

  @include breakpoints.tablet {
    border-radius: 0;
  }
}

.widgetsContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-medium2-px);

  @include breakpoints.tablet {
    margin-block-start: $section-padding;
  }

  @include breakpoints.smallerThanDesktop {
    flex-direction: column;
  }
}

.streakContainer {
  display: flex;
  gap: var(--spacing-small-px);
  align-items: center;
  margin-block-end: var(--spacing-large-px);
}

.mushaf {
  inline-size: var(--spacing-xlarge-px);
  block-size: var(--spacing-xlarge-px);

  @include breakpoints.tablet {
    inline-size: var(--spacing-xxlarge-px);
    block-size: var(--spacing-xxlarge-px);
  }

  path {
    stroke: var(--color-blue-buttons-and-icons);
  }
}

.streakText {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-small-px);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-normal-px);
  color: var(--color-text-faded);

  @include breakpoints.tablet {
    font-size: var(--font-size-large-px);
  }
}

.streakNumber {
  color: var(--color-primary-medium);
  font-size: var(--font-size-jumbo-px);

  @include breakpoints.tablet {
    font-size: var(--font-size-jumbo2-px);
  }
}

.widget {
  --day-circle-color: var(--color-success-faded);

  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-block: var(--spacing-medium-px);
  padding-inline: var(--spacing-medium2-px);
  border: $widget-border;
  border-radius: $widget-border-radius;

  @include breakpoints.tablet {
    padding-block: var(--spacing-large-px);
    padding-inline: var(--spacing-large-px);
  }

  &.streakWidget {
    flex-direction: column;
  }
}

.emptyWidget {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressWidget {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-large-px);
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium2-px);
  background-color: var(--color-streaks-light);
  border: $widget-border;
  border-radius: $widget-border-radius;
}

.progressWidgetWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium-px);
}

.circularProgressbar {
  inline-size: var(--spacing-xxxlarge-px);
  block-size: var(--spacing-xxxlarge-px);
}

.circularProgressbarPath {
  stroke: var(--color-streaks-dark);
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.circularProgressbarTrail {
  stroke: var(--color-daily-progress);
  stroke-linecap: round;
}

.circularProgressbarText {
  fill: var(--color-text-black);
  font-size: var(--font-size-normal-px);
  font-weight: var(--font-weight-bold);
  dominant-baseline: middle;
  text-anchor: middle;
}

.progressWidgetContent {
  display: flex;
  flex-direction: column;
}

.progressWidgetTitle {
  color: var(--color-text-black);
  font-size: var(--font-size-large-px);
  font-weight: var(--font-weight-bold);
}

.progressWidgetDaysLeft {
  font-weight: var(--font-weight-medium);
  color: var(--color-text-gray);

  span {
    color: var(--color-text-black);
    font-weight: var(--font-weight-bold);
  }
}

.progressWidgetCta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium2-px);
}

.historySection {
  margin-block-start: $section-spacing;
}

.historyContainer {
  margin-block-start: $section-padding;
}
