@use "src/styles/breakpoints";
@use "src/styles/constants";

.container {
  position: fixed;
  inset-block-end: var(--spacing-mega);
  inset-inline-end: calc(1 * var(--spacing-medium));
  transition: var(--transition-regular);
  z-index: var(--z-index-sticky);
  @include breakpoints.tablet {
    display: inherit;
    inset-inline-end: calc(var(--spacing-mega) + var(--spacing-medium));
  }
  &.isMobileMinimizedForScrolling.audioPlayerOpen {
    margin-block-end: constants.$audio-player-minimized-height;
    inset-block-end: var(--spacing-medium);
    @include breakpoints.tablet {
      margin-block-end: constants.$audio-player-default-desktop-height;
    }
  }
}

.audioPlayerOpen {
  margin-block-end: constants.$audio-player-default-height;
  @include breakpoints.tablet {
    margin-block-end: constants.$audio-player-default-desktop-height;
  }
  inset-block-end: var(--spacing-medium);
}
