@use "src/styles/breakpoints";
@use "src/styles/constants";

.container {
  display: none; // Disable the feedback widget on mobile, Feedback fish introduced CLS on small devices
  position: fixed;
  bottom: var(--spacing-mega);
  right: calc(1 * var(--spacing-medium));
  transition: var(--transition-regular);
  z-index: var(--z-index-sticky);
  @include breakpoints.tablet {
    display: inherit;
    right: calc(var(--spacing-mega) + var(--spacing-medium));
  }
}

.audioPlayerOpen {
  margin-bottom: constants.$audio-player-default-height;
  bottom: var(--spacing-medium);
}

.audioPlayerExpanded {
  margin-bottom: constants.$audio-player-expanded-height;
  bottom: var(--spacing-medium);
}
