.iconContainer {
  display: inline-flex;
  align-items: center;
  line-height: normal;
  font-size: var(--font-size-large);
}

.iconContainerSmall {
  font-size: var(--font-size-xsmall);
}

.iconContainerLarge {
  font-size: var(--font-size-jumbo);
}

.iconContainerMega {
  font-size: calc(1.5 * var(--font-size-jumbo));
}

.iconContainerXMega {
  font-size: calc(2 * var(--font-size-jumbo));
}

.iconContainerMassive {
  font-size: calc(3 * var(--font-size-jumbo));
}
