@mixin footnote-styling {
  line-height: normal;
  sup {
    color: var(--color-text-link);
    inset-block-start: calc(-1 * var(--spacing-xsmall));
    position: relative;
    font-size: var(--font-size-xsmall);
    line-height: 0;
    vertical-align: baseline;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: var(--spacing-micro);
    padding-inline-end: var(--spacing-micro);
    cursor: pointer;
    padding-inline-end: 0;
  }
  sup[class="qiraat"] {
    display: none;
  }
  i {
    font-size: var(--font-size-normal);
  }
  span,
  b {
    color: var(--color-text-warning);
  }
}
