@use "src/components/QuranReader/TranslationView/TranslationText/footnote";

$container-min-height: calc(3 * var(--spacing-large));

.footnoteContainer {
  padding-block-start: var(--spacing-small);
  padding-block-end: var(--spacing-small);
  padding-inline-start: var(--spacing-small);
  padding-inline-end: var(--spacing-small);
  margin-block-start: var(--spacing-xxsmall);
  margin-block-end: var(--spacing-xxsmall);
  margin-inline-start: 0;
  margin-inline-end: 0;
  border: 1px solid var(--color-borders-hairline);
  border-radius: var(--border-radius-default);
  background-color: var(--color-background-alternative-faded);
  min-height: $container-min-height;
}

.text {
  @include footnote.footnote-styling;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-bold);
  font-size: calc(0.8 * var(--font-size));
}
