@use "src/styles/utility";
@use "src/components/QuranReader/TranslationView/TranslationText/footnote";

.text {
  letter-spacing: 0;
  line-height: normal;
  padding-block-end: var(--spacing-micro);
  @include footnote.footnote-styling;
}

@include utility.generate-font-sizes("translation");

.ltr {
  /* stylelint-disable-next-line csstools/use-logical */
  text-align: left;
  direction: ltr;
}

.rtl {
  direction: rtl;
  /* stylelint-disable-next-line csstools/use-logical */
  text-align: right;
}

.urdu {
  font-family: "nafees" !important; // important is needed to over-ride the language specific font-family
}

.kurdish {
  font-family: "DroidArabicNaskh" !important; // important is needed to over-ride the language specific font-family
}

.divehi {
  font-family: "divehi" !important; // important is needed to over-ride the language specific font-family
}

.translationName {
  color: var(--color-text-faded);
  font-size: var(--font-size-small);
}
