@use "src/styles/utility";
@use "src/components/QuranReader/TranslationView/TranslationText/footnote";

.text {
  letter-spacing: 0;
  line-height: normal;
  padding-bottom: var(--spacing-micro);
  @include footnote.footnote-styling;
}

@include utility.generate-font-sizes("translation");
