@use 'src/styles/breakpoints';

$gap-between-blocks: 1rem;
$hadith-font-line-height: 1.6;

.flex {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium-px);
}

.container {
  @extend .flex;
  block-size: 100%;
  font-size: inherit;
}

.divider {
  block-size: var(--spacing-hairline-px);
  background-color: var(--color-separators-ayah-level);
}

.hadithCard {
  @extend .flex;
  &,
  & * {
    line-height: $hadith-font-line-height;
  }
}

.hadithSource {
  color: var(--color-text-default-new);
  font-weight: var(--font-weight-normal);
  unicode-bidi: plaintext;
  text-decoration: none;

  [dir='rtl'] & {
    text-align: end;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: var(--spacing-micro2-px);
  }
}

.hadithContentContainer {
  @extend .flex;
}

.hadithBody {
  @extend .flex;
  color: var(--color-text-default-new);

  p {
    margin: 0;
    padding: 0;

    :global(.multiline) {
      display: block;
      block-size: $gap-between-blocks;
    }

    :global(.single) {
      display: block;
      block-size: $gap-between-blocks * 0.5;
    }
  }

  &:not([data-lang='ar']) * {
    font-weight: var(--font-weight-light);
  }
}

.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-block-size: calc(3 * var(--spacing-max));
  color: var(--color-text-faded-new);

  &:where([data-status='empty'], [data-status='error']) {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-faded-new);
    text-align: center;
    text-wrap: balance;

    @include breakpoints.tablet {
      font-size: var(--font-size-large2);
    }
  }
}

.infiniteScrollTrigger {
  block-size: var(--spacing-hairline-px);
}
