@use 'src/styles/breakpoints';

.container {
  border-radius: var(--border-radius-rounded);
  padding: var(--spacing-medium-px);
  background-color: var(--color-success-faded);
  color: var(--color-text-default-new);
  font-size: var(--font-size-xsmall-px);

  margin-block-end: var(--spacing-xlarge-px);
  @include breakpoints.smallerThanTablet {
    margin-block-end: var(--spacing-large-px);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-micro);
    margin-block-start: var(--spacing-xxsmall);
    line-height: inherit;

    list-style: initial;
    padding-inline-start: var(--spacing-medium2);

    li {
      line-height: calc(var(--font-size-xsmall-px) * 1.5);
    }
  }
}

.title {
  font-weight: var(--font-weight-bold);
  line-height: calc(var(--font-size-xsmall-px) * 1.5);
}
