.container {
  appearance: none;
  display: inline-flex;
  align-items: center;
  outline: none;
  text-transform: uppercase;
  user-select: none;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-default);
  white-space: nowrap;
  line-height: 0;
}

.withBackground {
  background: var(--color-background-alternative-faded);
}

.defaultStyledContainer {
  padding: calc(0.5 * var(--spacing-xxsmall));
  box-sizing: border-box;
}

.smallContainer {
  height: var(--spacing-mega);
}
.mediumContainer {
  height: calc(2 * var(--spacing-large));
}
.largeContainer {
  height: calc(3 * var(--spacing-medium));
}

.disabledContainer {
  background-color: var(--color-background-alternative-medium);
}

.arrow {
  width: var(--spacing-mega);
  height: 100%;
  position: absolute;
  inset-inline-end: 0;
  pointer-events: none;
  display: flex;
  background: transparent;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  .withBackground & {
    background: var(--color-background-alternative-faded);
  }

  > svg {
    color: currentcolor;
  }
}

.disabledArrow {
  box-shadow: none;
  background-color: var(--color-background-alternative-medium);
}

.select {
  appearance: none;
  height: 100%;
  border: none;
  box-shadow: none;
  color: var(--color-text-default);
  background: transparent;
  font-size: var(--font-size-normal);
  text-transform: none;
  text-rendering: initial;
}

.defaultStyledSelect {
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: var(--spacing-xxsmall);
  padding-inline-end: var(--spacing-xxsmall);
}

.disabledSelect {
  background-color: var(--color-background-alternative-medium);
  cursor: not-allowed;
  color: var(--color-primary-default);
}
