.streakCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.streak {
    font-size: var(--font-size-jumbo);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-black);
}

.streakCardLeft {
    display: flex;
    align-items: center;
    gap: var(--spacing-micro);
}

.customGoalButton {
    background-color: var(--color-streaks-dark);
    color: var(--color-text-white);
    font-weight: var(--font-weight-bold);
    svg {
        path {
            fill: var(--color-text-white);
        }
    }
    &:hover {
        background-color: var(--color-streaks-dark);
    }
}

.circularProgressbar {
    height: 60px;
    width: 60px;
}

.circularProgressbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-micro);
}

.streakDay {
    font-size: var(--font-size-normal);
    color: var(--color-text-gray);
    font-weight: var(--font-weight-semibold);
}

.circularProgressbarPath {
    stroke: var(--color-streaks-dark);
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.circularProgressbarTrail {
    stroke: var(--color-daily-progress);
    /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
    stroke-linecap: round;
}

.circularProgressbarText {
    fill: var(--color-text-black);
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
    font-weight: var(--font-weight-bold);
}
