@use 'src/styles/breakpoints';

.outerStreakCard {
  display: block;
  inline-size: 100%;
}

.streakCard {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.streak {
  padding-inline-end: var(--spacing-small-px);
  font-size: var(--font-size-jumbo);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-black);
  @include breakpoints.tablet {
    font-size: var(--font-size-xjumbo-px);
  }
}

.streakCardLeft {
  display: flex;
  align-items: center;
  gap: var(--spacing-micro);
  & > svg:first-child {
    padding-inline-start: var(--spacing-small-px);
    padding-inline-end: var(--spacing-small-px);

    inline-size: var(--spacing-medium2-px);
    block-size: var(--spacing-medium2-px);
    @include breakpoints.tablet {
      inline-size: var(--spacing-large-px);
      block-size: var(--spacing-large-px);
      padding-inline-start: var(--spacing-medium-px);
      padding-inline-end: var(--spacing-medium2-px);
      inline-size: 60px;
      block-size: 60px;
    }
  }
}

.customGoalButton {
  background-color: var(--color-streaks-dark);
  color: var(--color-text-white);
  font-weight: var(--font-weight-bold);
  svg {
    path {
      fill: var(--color-text-white);
    }
  }
  &:hover {
    background-color: var(--color-streaks-dark);
  }
  @include breakpoints.tablet {
    font-size: var(--font-size-normal-px);
  }
}

.streakDay {
  font-size: var(--font-size-normal);
  color: var(--color-text-gray);
  font-weight: var(--font-weight-semibold);
  @include breakpoints.tablet {
    font-size: var(--font-size-large-px);
  }
}
