.input {
  display: none;
}

.itemLabel {
  cursor: pointer;
}

.itemContainer {
  padding: var(--spacing-xxsmall);
}

.enabledItem {
  cursor: pointer;
  &:hover {
    background: var(--color-borders-hairline);
  }
}
.disabledItem {
  color: var(--color-secondary-medium);
}

.checkedItemContainer {
  background: var(--color-borders-hairline);
}
