.text {
    color: var(--color-success-medium);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
}

.cta {
    padding-block-start: var(--spacing-small);
    min-height: calc(1.5 * var(--spacing-large));
}

.highlight {
    color: var(--color-text-faded);
}
