$internal-container-height: 85vh;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainBodyContainer {
  min-height: $internal-container-height;
}

.popularSearchesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-micro);
  padding-bottom: var(--spacing-large);
  width: 100%;
}
