.popularSearchesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-micro);
  padding-bottom: var(--spacing-large);
  width: 100%;
}

.header {
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-small) 0;
  width: 100%;
  text-align: left;
}

.keywordButton {
  display: block;
  border: 1px solid var(--color-borders-hairline);
  border-radius: var(--border-radius-default);
  background-color: var(--color-background-alternative);
  padding: var(--spacing-xsmall);
  margin: var(--spacing-micro) 0;
  width: 100%;
  text-align: left;
}
