@use "src/styles/utility";
@use "src/styles/breakpoints";

.container {
  @include utility.center-vertically;

  margin-left: var(--spacing-xxsmall);
  color: var(--color-text-default);

  @include breakpoints.tablet {
    margin-left: var(--spacing-medium);
  }
}