@use "src/styles/utility";
@use "src/styles/breakpoints";

.container {
  @include utility.center-vertically;

  margin-inline-start: var(--spacing-xxsmall);

  @include breakpoints.tablet {
    margin-inline-start: var(--spacing-medium);
  }
}

.globeIconWrapper {
  display: flex;
  align-items: center;
  & > svg > path {
    height: var(--spacing-small);
    stroke: var(--color-text-default);
  }
}
