@use "src/styles/constants";
@use "src/styles/breakpoints";

.emptySpacePlaceholder {
  height: constants.$navbar-height;
}

.container {
  inset-block-start: 0;
  position: fixed;
  height: constants.$navbar-height;
  width: 100%;
  transition: var(--transition-regular);
  background: var(--color-background-elevated);
  z-index: var(--z-index-header);
  will-change: transform;
}

.hiddenNav {
  transform: translate3d(0, 0 - constants.$navbar-height, 0);
}
