.suffix {
    border-inline-start: 1px solid var(--color-background-alternative-deep);
    border-start-end-radius: var(--border-radius-default);
    border-end-end-radius: var(--border-radius-default);
    background: var(--color-background-alternative-medium);

    padding-inline-start: var(--spacing-xxsmall);
    padding-inline-end: var(--spacing-xsmall);
}
