@use "src/styles/utility";

.verseLink {
  text-align: center;
  color: var(--color-text-default);

  &:hover {
    color: var(--color-success-medium);
    opacity: 1;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 1;
      color: var(--color-success-medium);
      background-color: var(--color-success-medium);
      @include utility.lighten-background-color;
    }
  }
}

.fadedVerseAction {
  opacity: var(--opacity-50);
}
