.popoverContainer {
  position: relative;
}

/* For popovers that appear on the left side of the word */
.leftSidePopover {
  margin-left: var(--popover-margin-left);
  margin-right: var(--popover-margin-right, 0);
  margin-top: var(--popover-margin-top, 0);
  /* Ensure the popover appears outside the content area */
  position: absolute;
}

/* For popovers that appear on the right side of the word */
.rightSidePopover {
  margin-left: var(--popover-margin-left);
  margin-right: var(--popover-margin-right, 0);
  margin-top: var(--popover-margin-top, 0);
  /* Ensure the popover appears outside the content area */
  position: absolute;
}
