@use "src/styles/breakpoints";

.content {
  z-index: var(--z-index-default);
}

.trigger {
  @include breakpoints.smallerThanTablet {
    // disable word selecting when on mobile so that we can show the popover on long tap.
    -webkit-touch-callout: none;
    user-select: none;
  }
}
