.container {
  display: flex;
  padding: var(--spacing-medium) 0;

  & > div + div {
    margin-left: var(--spacing-small);
  }
}

.flow > div {
  margin-bottom: var(--spacing-medium);
}
.platformLogo {
  width: var(--spacing-medium);
  &:hover {
    path {
      fill: var(--color-primary-medium);
    }
  }
}

.platformLogoBackground {
  position: absolute;
  z-index: -1;
  right: 0;
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}
