@use 'src/styles/utility';

.languageContainer {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  background: var(--color-background-default-elevated-new);
  transform: translateX(100%);
  transition: transform var(--transition-regular) ease-in-out;
  z-index: var(--z-index-default);

  [dir='rtl'] & {
    transform: translateX(-100%);
  }

  &.show {
    transform: translateX(0);
  }
}

.languageHeader {
  display: flex;
  align-items: center;
  padding-block: var(--spacing-medium-px);
  padding-inline: var(--spacing-medium2-px);
}

.backButton {
  gap: var(--spacing-xxsmall-px);
}

.languageTitle {
  font-size: var(--font-size-small-px);
  font-weight: var(--font-weight-semibold);
}

.languageList {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.languageItem {
  justify-content: flex-start;
  padding-inline: var(--spacing-xxlarge-px);
  padding-block: var(--spacing-small-px);
  inline-size: 100%;
  text-align: start;

  &:hover {
    background: var(--color-background-alternative-faded);
  }

  &.selected {
    font-weight: var(--font-weight-semibold);
    color: var(--color-success-medium);
  }
}
