@use "src/styles/breakpoints";
@use "src/styles/utility";

.leftCTA {
  display: flex;
  margin-left: var(--spacing-xsmall);
}

.rightCTA {
  display: flex;
  margin-right: var(--spacing-medium);

  > button {
    margin-left: var(--spacing-micro);
  }

  @include breakpoints.tablet {
    margin-right: var(--spacing-mega);

    > button {
      margin-left: var(--spacing-xsmall);
    }
  }
}

.centerVertically {
  @include utility.center-vertically;
}
