.skeletonContainer {
  display: flex;
  flex-direction: column;
}

.navRow {
  width: auto;
  height: 40px;
  margin: 8px 10px 4px;
}

.blockRow {
    width: auto;
    height: 200px;
    margin: 8px 10px 4px;
}
