@use "src/styles/breakpoints";

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xlarge);
}

.sorter {
  display: flex;
  align-items: center;
}

.sorterIcon {
  display: flex;
  margin-inline-start: var(--spacing-xxsmall);
}

.collectionItemsContainer {
  margin-block-start: var(--spacing-medium);
  > * + * {
    margin-block-start: var(--spacing-xsmall);
  }
}

.verseContainer {
  margin-block: var(--spacing-large);
}

.emptyCollectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-block-start: calc(2 * var(--spacing-mega));
  font-size: var(--font-size-xlarge);
}

.backToCollectionButtonContainer {
  margin-block-start: var(--spacing-large);
}

.bookmarkLink {
  text-decoration: underline;
}

.linkContainer {
  @include breakpoints.smallerThanTablet {
    margin-inline-start: var(--spacing-small);
  }
}
