.container {
  display: flex;
}
.container > div + div {
  margin-left: var(--spacing-xsmall);
}

.title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-medium);
  line-height: var(--line-height-xlarge);
}

.itemsContainer {
  display: flex;
  margin-bottom: var(--spacing-xxsmall);
  flex-wrap: wrap;
}
.itemsContainer > div {
  font-size: var(--font-size-small);
}

.itemsContainer > div + div {
  margin-left: var(--spacing-xsmall);
  &::before {
    content: "·";
    margin-right: calc(0.5 * var(--spacing-xxsmall));
  }
}

.iconContainer {
  margin-top: calc(0.2 * var(--spacing-xxsmall));
}

.copyright {
  font-size: var(--font-size-small);
}
