@use "src/styles/breakpoints";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoints.tablet {
    flex-direction: row;
  }
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xlarge);
}

.iconContainer {
  & > svg > path {
    fill: var(--color-text-default);
  }
}
.headingContainer {
  display: flex;
  flex-direction: column;
  @include breakpoints.tablet {
    flex-direction: row;
    .title {
      margin-inline-start: var(--spacing-xsmall);
    }
  }
}

.copyright {
  margin-block-start: var(--spacing-xsmall);
  font-size: var(--font-size-normal);
  opacity: var(--opacity-75);
}

.groupListContainer {
  display: flex;
  margin-block-start: var(--spacing-medium);
  justify-content: space-between;
  @include breakpoints.tablet {
    margin-block-start: 0;
    & > .group + .group {
      margin-inline-start: calc(2 * var(--spacing-mega));
    }
  }
}

.group {
  display: flex;
  flex-direction: column;
}

.groupTitle {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-large);
  margin-block-end: var(--spacing-xsmall);
}

.description {
  max-width: calc(15 * var(--spacing-mega));
  opacity: var(--opacity-75);
  margin-block-start: var(--spacing-xxsmall);
}

.linkContainer {
  opacity: var(--opacity-75);
  & + & {
    margin-block-start: var(--spacing-xxsmall);
  }
}
