@use "src/styles/breakpoints";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoints.desktop {
    flex-direction: row;
  }
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xlarge);
}

.iconContainer {
  & > svg > path {
    fill: var(--color-text-default);
  }
}
.headingContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include breakpoints.desktop {
    flex-direction: row;
    .iconContainer {
      margin-inline-end: var(--spacing-xsmall);
    }
  }
}

.copyright {
  margin-block-start: var(--spacing-xxsmall);
  font-size: var(--font-size-small);
  opacity: var(--opacity-50);
}

.groupListContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  max-width: calc(15 * var(--spacing-mega));
}

.group {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--spacing-medium);
}

.groupTitle {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-large);
  margin-block-end: var(--spacing-xsmall);
}

.description {
  max-width: calc(15 * var(--spacing-mega));
  opacity: var(--opacity-75);
  margin-block-start: var(--spacing-xxsmall);
}

.linkContainer {
  opacity: var(--opacity-75);
  & + & {
    margin-block-start: var(--spacing-xxsmall);
  }
}

.titleAndDescriptionContainer {
  max-width: calc(12.5 * var(--spacing-mega));
  margin-inline-end: var(--spacing-medium);
}

.bottomSectionContainer {
  display: flex;
  padding-block-start: var(--spacing-medium);
  justify-content: space-between;
}

.bottomLinks {
  & > a {
    margin-inline-end: var(--spacing-medium);
    opacity: var(--opacity-75);
  }
}
