@use "src/styles/breakpoints";

.questionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-xxsmall);
    margin-block-end: var(--spacing-micro);
    @include breakpoints.tablet {
        margin-block-end: var(--spacing-small);
    }
}
