.commandPrefix {
  margin-inline-end: var(--spacing-small);
  margin-block-start: var(--spacing-micro);
  display: flex;
  align-items: center;
  > svg {
    width: var(--spacing-medium);
    height: var(--spacing-medium);
  }
}

.container {
  display: flex;
  align-items: flex-start;
}

.name {
  em {
    font-weight: var(--font-weight-bold);
    color: var(--color-highlight-dark);
  }
  sup {
    display: none;
  }
}
