.commandPrefix {
  margin-inline-end: var(--spacing-small);
  margin-block-start: var(--spacing-micro);
  display: flex;
  align-items: center;
  > svg {
    inline-size: var(--spacing-medium);
    block-size: var(--spacing-medium);
  }
}

.container {
  display: flex;
  align-items: flex-start;
  inline-size: 100%;
}

.columns {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  direction: ltr;
  align-items: flex-start;
}
.singleColumn {
  grid-template-columns: minmax(0, 1fr);
}

.translationColumn {
  text-align: justify;
  text-align-last: start;
  padding-inline-end: var(--spacing-small);
}

.arabicColumn {
  text-align: justify;
  padding-inline-end: var(--spacing-small);
}

.arabicText {
  font-size: var(--font-size-base);
  color: var(--color-text-secondary);
  max-inline-size: 100%;
}

.arabicSuffix {
  margin-block-start: var(--spacing-xxsmall);
  font-size: var(--font-size-xsmall);
  color: var(--color-text-subtle);
}

.name {
  flex-grow: 1;
  em {
    font-weight: var(--font-weight-bold);
    color: var(--color-highlight-dark);
  }
  sup {
    display: none;
  }
}

.translationMeta {
  display: block;
  margin-block-start: var(--spacing-xxsmall);
  font-size: var(--font-size-xsmall);
  color: var(--color-text-subtle);
}

.rtlText {
  font-family: UthmanicHafs;
  direction: rtl;
}
