.item {
  list-style: none;
  margin-bottom: var(--spacing-large);
  &:hover {
    background: var(--color-background-alternative);
  }
}

.link {
  display: block;
  padding: var(--spacing-xsmall);
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
}

.number {
  margin: 0;
  color: var(--color-primary-medium);
}

.nameContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: var(--spacing-small);
}

.nameArabic {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-medium);
  color: var(--color-text-default);
}

.nameTranslated {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  color: var(--color-primary-medium);
}
