@use "src/styles/breakpoints";

.item {
  border: 1px solid var(--color-background-alternative-deep);
  border-radius: var(--border-radius-default);
  min-height: calc(4 * var(--spacing-medium));
  margin-bottom: var(--spacing-small);
  &:hover {
    background: var(--color-background-alternative);
    box-shadow: var(--shadow-normal);
    border-color: var(--color-background-inverse);
  }
  @include breakpoints.tablet {
    margin-bottom: 0;
  }
}

.link {
  text-decoration: none;
}

.sectionContainer {
  height: calc(2 * var(--spacing-large));
}

.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: var(--spacing-medium);
}

.leftContainer {
  width: 70%;
  display: flex;
}

.number {
  min-width: calc(2 * var(--spacing-large));
  margin: 0;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameArabic {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.nameTranslated {
  font-size: var(--font-size-small);
  color: var(--color-text-faded);
}

.numberOfVerses {
  text-align: right;
  font-size: var(--font-size-small);
  color: var(--color-text-faded);
}
