@use "src/styles/breakpoints";

.chapterContainer {
  width: 100%;
  margin-right: var(--spacing-small);
  background-color: var(--color-background-default);
  border-radius: var(--border-radius-default);
}

.chapterContainer + .chapterContainer {
  margin-block-start: var(--spacing-small);
  @include breakpoints.tablet {
    margin-block-start: 0;
  }
}

// tabs
.tabsContainer {
  padding-block-end: var(--spacing-medium);
}

// sorter
.sorter {
  display: flex;
  margin-block-start: var(--spacing-xsmall);
  justify-content: flex-end;
  align-items: baseline;
  font-size: var(--font-size-xsmall);
}
.sortByValue {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  cursor: pointer;
  margin-inline-start: var(--spacing-xxsmall);
  & > span {
    display: flex;
    align-items: center;
  }
  & > .rotate180 > svg {
    transform: rotate(180deg);
  }
  & > span > svg {
    width: var(--spacing-small);
    margin-inline-start: var(--spacing-xxsmall);
    transition: transform var(--transition-regular);
  }
}

.loadingContainer {
  min-height: 100vh; // reduce layout shift
}

.uppercase {
  text-transform: uppercase;
}

.revelationOrderDisclaimer {
  margin-block-start: var(--spacing-medium);
  padding: var(--spacing-small);
  border: 1px var(--color-borders-hairline) solid;
  border-radius: var(--border-radius-default);
  background-color: var(--color-success-faded);
}
