@use "src/styles/breakpoints";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include breakpoints.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-small);
  }
  @include breakpoints.desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-small);
    grid-template-rows: masonry;
  }
}

.chapterContainer + .chapterContainer {
  margin-top: var(--spacing-small);
  @include breakpoints.tablet {
    margin-top: 0;
  }
}

.juzContainer {
  border-radius: var(--border-radius-default);

  .chapterContainer + .chapterContainer {
    margin-top: var(--spacing-small);
  }
}

.juzTitle {
  margin-bottom: var(--spacing-xsmall);
}

.juzContainer + .juzContainer {
  margin-top: var(--spacing-small);
  @include breakpoints.tablet {
    margin-top: 0;
  }
}

.tabsContainer {
  padding-bottom: var(--spacing-medium);
}

.masonry {
  @include breakpoints.tablet {
    column-count: 2;
  }
  @include breakpoints.desktop {
    column-count: 3;
  }
  column-gap: 1em;
}

.juzContainer {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.sorter {
  display: flex;
  margin-top: var(--spacing-xsmall);
  justify-content: space-between;
  font-size: var(--font-size-small);
}
.sortByValue {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  cursor: pointer;
  & > span {
    display: flex;
    align-items: center;
  }
  & > .rotate180 > svg {
    transform: rotate(180deg);
  }
  & > span > svg {
    width: var(--spacing-small);
    margin-left: var(--spacing-xxsmall);
  }
}
