.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.uppercase {
  text-transform: uppercase;
}

.buttonContainer {
  margin-block-start: var(--spacing-micro);
  margin-inline-end: var(--spacing-micro);
  margin-block-end: var(--spacing-micro);
  margin-inline-start: var(--spacing-micro);
}

.selectedButton {
  background: var(--color-background-alternative-medium);
  border-radius: var(--border-radius-default);
}
