.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonContainer {
  margin: var(--spacing-micro);
}

.selectedButton {
  background: var(--color-background-faded-grey-scale);
  border-radius: var(--border-radius-circle);
}
