@use '@/styles/breakpoints';
@use '@/styles/constants';

.container {
  margin-block-end: var(--spacing-medium);
}

.tabs {
  display: flex;
  gap: var(--spacing-small2-px);
  padding-block-end: var(--spacing-xxsmall-px);
  margin-block-end: var(--spacing-medium-px);
  overflow-x: auto;

  &::-webkit-scrollbar {
    block-size: var(--spacing-xxsmall-px);
  }

  & > :last-child {
    margin-inline-end: var(--spacing-micro-px);
  }
}

.tab {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  block-size: calc(var(--spacing-small-plus-px) * 4);
  padding-inline: var(--spacing-medium-px);
  border-radius: var(--border-radius-pill);
  background-color: var(--color-background-alternative-medium);
  color: var(--color-text-default-new);
  line-height: 1;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  transition: background-color var(--transition-fast), transform var(--transition-fast);

  &:hover {
    background-color: var(--color-blue-buttons-and-icons);
    color: var(--color-text-white);
  }

  &:focus-visible {
    outline: var(--spacing-micro-px) solid var(--color-primary-medium);
    outline-offset: var(--spacing-micro-px);
  }

  &:active:not(:disabled) {
    transform: scale(constants.$button-active-scale);
  }

  &[aria-selected='true'] {
    background-color: var(--color-blue-buttons-and-icons);
    color: var(--color-text-white);
  }
}
