@use 'src/styles/breakpoints';

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-small) var(--spacing-medium);
  background: var(--color-background-alternative-faded);
  border-radius: var(--border-radius-default);
  margin-block-end: var(--spacing-medium);
  gap: var(--spacing-small);

  @include breakpoints.tablet {
    padding: var(--spacing-xsmall) var(--spacing-small);
    flex-wrap: wrap;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-text-faded);
  flex-shrink: 0;
}

.text {
  font-size: var(--font-size-normal);
  color: var(--color-text-default);
  font-weight: var(--font-weight-medium);
}

.learnMore {
  font-size: var(--font-size-small);
  white-space: nowrap;
}
