.clearIconContainer {
  user-select: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-small);
  height: var(--spacing-small);
  color: var(--color-background-alternative-deep);
  position: absolute;
  inset-inline-end: var(--spacing-medium);
  inset-block-start: 50%;
  transform: translateY(-50%);
  outline: none;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  cursor: pointer;
}

.icon svg {
  display: inline-block;
  width: var(--spacing-small);
  height: var(--spacing-small);
  overflow: hidden;
}
