@use "src/styles/breakpoints";

.surahName {
    line-height: normal;
    font-family: "surahnames" !important;
    font-size: calc(2.5 * var(--font-size-jumbo-px));
    margin-inline-start: -20px;
    @include breakpoints.smallerThanTablet {
        font-size: calc(1.2 * var(--font-size-jumbo));
        padding-inline-end: var(--spacing-medium-px);
        margin-inline-start: -15px;
    }
}

.surahInfo {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);
    align-items: center;
    justify-content: space-between;
    @include breakpoints.smallerThanTablet {
        align-items: center;
        width: 100%;
    }
    @include breakpoints.tablet {
        font-size: var(--font-size-large-px);
    }
}

.chapterCard {
    @include breakpoints.smallerThanTablet {
        padding: calc(var(--spacing-small-px) + var(--spacing-micro-px)) var(--spacing-small-px)
            calc(var(--spacing-small-px) + var(--spacing-micro-px)) var(--spacing-medium-px);
    }
    height: 100%;
    box-sizing: border-box;
}

.surahContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    @include breakpoints.smallerThanTablet {
        justify-content: start;
        align-items: center;
        flex-direction: row;
    }
}

.translatedName {
    color: var(--color-text-faded-new);
    @include breakpoints.smallerThanTablet {
        display: block;
        font-size: var(--font-size-xsmall-px);
    }
}

.continueReading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-micro);
    color: var(--color-text-faded-new);
    @include breakpoints.smallerThanTablet {
        font-size: var(--spacing-medium-px);
    }
    @include breakpoints.tablet {
        font-size: var(--font-size-normal-px);
    }
}

.transliteratedName {
    font-weight: var(--font-weight-semibold);
    @include breakpoints.smallerThanTablet {
        font-size: var(--font-size-small-px);
    }
}

.beginButton {
    border-radius: var(--border-radius-rounded);
    @include breakpoints.tablet {
        font-size: var(--font-size-normal-px);
        padding: var(--spacing-small-px) var(--spacing-medium-px);
    }
}

.continueReadingArrowIcon {
    svg {
        @include breakpoints.smallerThanTablet {
            width: 12px !important;
            height: 12px !important;
        }
    }
}
