.menuWithChevron {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  svg {
    margin-left: 8px;
  }
}

[dir="rtl"] .menuWithChevron {
  svg {
    margin-left: 0;
    margin-right: 8px;
    transform: rotate(180deg);
  }
}
