.previewWrapper {
    color: var(--color-text-default);
}

* {
    font-family: "Figtree", "Helvetica Neue", Helvetica, Arial !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
