@use 'src/styles/breakpoints';

.container {
  display: flex;
  align-items: center;
}

.container[dir='rtl'][data-auto-flip-icon='true'] {
  > svg {
    transform: scaleX(-1);
  }
}

.defaultColor {
  > svg path {
    fill: var(--color-primary-medium);
  }
}

.secondaryColor {
  > svg path {
    fill: var(--color-secondary-medium);
  }
}

.tertiaryColor {
  > svg {
    color: var(--color-grey-icons-new) !important;
  }
}

.accentColor {
  > svg path {
    fill: var(--color-daily-progress);
  }
}

.xsmallIcon {
  > svg {
    inline-size: 16px;
    block-size: 16px;
  }
}

.smallIcon {
  > svg {
    inline-size: 20px;
    block-size: 20px;
  }
}

.mediumIcon {
  > svg {
    inline-size: 32px;
    block-size: 32px;
  }
}

.largeIcon {
  > svg {
    inline-size: 36px;
    block-size: 36px;
  }
}

.customIcon {
  > svg {
    inline-size: var(--spacing-medium2);
    block-size: var(--spacing-medium2);

    @include breakpoints.smallerThanTablet {
      inline-size: var(--spacing-medium);
      block-size: var(--spacing-medium);
    }
  }
}
