@use "src/styles/breakpoints";
@use "src/styles/theme";

.pageContainer {
  padding-block-start: var(--spacing-mega);
  padding-block-end: var(--spacing-medium);
  border-block-end: 1px solid var(--color-borders-hairline);
  @include breakpoints.desktop {
    display: flex;
    justify-content: center;
  }
  width: 100%;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.title {
  font-size: calc(1.15 * var(--font-size-jumbo));
  font-weight: var(--font-weight-bold);
}

.headerSection {
  padding-block-start: var(--spacing-medium);
  padding-inline-end: calc(1.5 * var(--spacing-mega));
}

.date {
  color: var(--color-text-faded);
  @include theme.light {
    opacity: var(--opacity-75);
  }
  @include theme.dark {
    opacity: 1;
  }
  font-weight: var(--font-weight-semibold);
  font-size: calc(0.85 * var(--font-size-normal));
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.blocksContainer {
  max-width: calc(25 * var(--spacing-mega));
}
