@use "src/styles/breakpoints";

.container {
  padding-bottom: var(--spacing-large);
}

.header {
  margin-bottom: var(--spacing-xsmall);
}

.quickLinksContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-small);
  @include breakpoints.tablet {
    display: flex;
    align-items: center;
  }
}
