@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: "translateX(-2px)";
  }
  to {
    opacity: 1;
    transform: "translateX(0)";
  }
}
@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: "translateX(2px)";
  }
  to {
    opacity: 1;
    transform: "translateX(0)";
  }
}

.content {
  padding: var(--spacing-xsmall) 0;
  min-width: 220px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-state="open"] {
    &[data-side="top"] {
      animation-name: slideDownAndFade;
    }
    &[data-side="right"] {
      animation-name: slideLeftAndFade;
    }
    &[data-side="bottom"] {
      animation-name: slideUpAndFade;
    }
    &[data-side="left"] {
      animation-name: slideRightAndFade;
    }
  }
}

.item {
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  color: var(--color-text-default);
  border-radius: var(--border-radius-default);
  display: flex;
  align-items: center;
  padding: var(--spacing-small) var(--spacing-medium);
  position: relative;
  cursor: pointer;

  &[data-disabled] {
    color: var(--color-text-faded);
    pointer-events: none;

    & .iconWrapper {
      opacity: 0.5;
    }
  }

  &:focus {
    background-color: var(--color-background-alternative);
    color: var(--color-text-default);
  }

  & .iconWrapper {
    margin-right: var(--spacing-xsmall);
    display: flex;
    align-items: center;
    height: var(--spacing-medium);
    width: var(--spacing-medium);
  }
}

.separator {
  height: 1px;
  background-color: var(--color-secondary-faded);
  margin: 5px;
}
