@use "src/styles/breakpoints";

.outerContainer {
  width: 100%;
  box-sizing: border-box;
  padding-inline: var(--spacing-medium);
}

.innerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block-end: calc(2 * var(--spacing-mega));
  margin-block-start: calc(1.5 * var(--spacing-mega));
}

.transcript {
  text-align: end;
  min-height: var(--spacing-large);
}

.suggestTitle {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semibold);
  margin-block-end: var(--spacing-xxsmall);
}
.suggestSubtitle {
  opacity: var(--opacity-75);
  max-width: 80%;
  font-size: var(--font-size-large);
}

.micCircle {
  background-color: var(--color-success-medium);
  border-radius: var(--border-radius-circle);
  width: calc(4 * var(--spacing-large));
  height: calc(4 * var(--spacing-large));
  display: flex;
  flex-direction: row;
  align-items: center;
  > svg {
    width: 100%;
    & > path {
      fill: var(--color-background-default);
    }
  }
}

.circlesContainer {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    position: absolute;
  }
}

.volumeCircle {
  background-color: var(--color-secondary-faint);
  border-radius: var(--border-radius-circle);
  width: calc(var(--volume) * 4 * var(--spacing-large));
  height: calc(var(--volume) * 4 * var(--spacing-large));
  transition: width var(--transition-fast) ease,
    height var(--transition-fast) ease;
}

@mixin verticalLayout {
  .innerContainer {
    flex-direction: column;
    margin: 0;
  }
  .circlesContainer {
    width: 100%;
    height: calc(10 * var(--spacing-medium));
  }
  .suggestTitle {
    text-align: center;
  }
  .suggestSubtitle {
    max-width: 100%;
    text-align: center;
  }
}

.verticalLyaout {
  @include verticalLayout;
}

@include breakpoints.smallerThanTablet {
  @include verticalLayout();
}
