.resultsSummaryContainer {
  margin-block-start: var(--spacing-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boldHeader {
  font-weight: var(--font-weight-bold);
  margin-block-end: var(--spacing-small);
  text-transform: capitalize;
}
