.resultsSummaryContainer {
  margin-block-start: var(--spacing-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: var(--spacing-medium);
}

.header {
  margin-block-start: var(--spacing-large);
  text-transform: capitalize;
  color: var(--color-text-faded);
}

.showAll {
  text-decoration: underline;
}

.navigationItemsListContainer {
  margin-block-start: var(--spacing-large);
}
.navigationItemContainer {
  margin-inline-end: var(--spacing-small);
}
