.translationName {
  font-size: var(--font-size-xsmall);
  opacity: var(--opacity-75);
}

.translationContainer {
  margin-block-start: var(--spacing-small);
  margin-block-end: var(--spacing-small);
  margin-inline-start: 0;
  margin-inline-end: 0;
  em {
    font-weight: var(--font-weight-semibold);
  }
}

.container {
  text-decoration: none;
  border-block-end: 1px solid var(--color-borders-hairline);
  padding-block: var(--spacing-medium);
  margin-block-end: var(--spacing-xsmall);
}

.itemContainer {
  border-radius: var(--border-radius-default);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.quranTextContainer {
}

.verseLink {
}

.quranTextResult {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-large);
  direction: rtl;
  padding-block-start: var(--spacing-micro);
  padding-block-end: var(--spacing-micro);
  padding-inline-start: var(--spacing-micro);
  padding-inline-end: var(--spacing-micro);
}

.verseKey {
  color: var(--color-success-medium);
  display: block;
  margin-block-end: var(--spacing-medium);
  font-weight: var(--font-weight-bold);
}
