@use "src/styles/utility";
@use "src/styles/theme";

@include utility.generate-font-scales(
  "fallback_qpc_uthmani_hafs"
); // fallback font size

.styledWord {
  line-height: var(--line-height);
}

// this is needed to reduce CLS when we are displaying the fallback text by trying to make the font-sizes of the original text and the fallback text as close as possible so that once the original font loads, there will be as little visible CLS as possible.
.fallbackText {
  font-family: UthmanicHafs !important;
}

.tajweedTextHighlighted {
  @include theme.light {
    filter: drop-shadow(0.01em 0.01em 1px var(--color-text-default));
  }
  @include theme.dark {
    filter: drop-shadow(0.01em 0.01em 2px var(--color-warning-medium));
  }
  @include theme.sepia {
    filter: drop-shadow(0.01em 0.01em 1px var(--color-text-default));
  }
}
