@use 'src/styles/breakpoints';
@use 'src/styles/theme';

$dark-theme-filter: invert(76%) contrast(100%) saturate(500%) hue-rotate(274deg);
$light-theme-filter: contrast(100%) hue-rotate(50deg);
.imageContainer {
  @include theme.light {
    img {
      filter: $light-theme-filter;
    }
  }
  @include theme.dark {
    img {
      filter: $dark-theme-filter;
    }
  }
  @include theme.sepia {
    img {
      filter: $light-theme-filter;
    }
  }
}

.xs {
  img {
    block-size: 40px;
    @include breakpoints.tablet {
      block-size: 50px;
    }
  }
}
.sm {
  img {
    block-size: 50px;
    @include breakpoints.tablet {
      block-size: 65px;
    }
  }
}
.md {
  img {
    block-size: 70px;
    @include breakpoints.tablet {
      block-size: 75px;
    }
  }
}
.lg {
  img {
    block-size: 80px;
    @include breakpoints.tablet {
      block-size: 90px;
    }
  }
}
.xl {
  img {
    block-size: 90px;
    @include breakpoints.tablet {
      block-size: 92px;
    }
  }
}

.xl2 {
  img {
    block-size: 100px;
  }
}

.xl3 {
  img {
    block-size: 110px;
    @include breakpoints.tablet {
      block-size: 102px;
    }
  }
}

.xl4 {
  img {
    block-size: 120px;
    @include breakpoints.tablet {
      block-size: 104px;
    }
  }
}

.xl5 {
  img {
    block-size: 130px;
    @include breakpoints.tablet {
      block-size: 106px;
    }
  }
}

.xl6 {
  img {
    block-size: 140px;
    @include breakpoints.tablet {
      block-size: 108px;
    }
  }
}
