@use "src/styles/breakpoints";
@use "src/styles/theme";

$dark-theme-filter: invert(76%) contrast(100%) saturate(500%) hue-rotate(274deg);
$light-theme-filter: contrast(100%) hue-rotate(50deg);
.imageContainer {
  @include theme.light {
    img {
      filter: $light-theme-filter;
    }
  }
  @include theme.dark {
    img {
      filter: $dark-theme-filter;
    }
  }
  @include theme.sepia {
    img {
      filter: $light-theme-filter;
    }
  }
}

.xs {
  img {
    height: 40px;
    @include breakpoints.tablet {
      height: 50px;
    }
  }
}
.sm {
  img {
    height: 50px;
    @include breakpoints.tablet {
      height: 65px;
    }
  }
}
.md {
  img {
    height: 70px;
    @include breakpoints.tablet {
      height: 75px;
    }
  }
}
.lg {
  img {
    height: 80px;
    @include breakpoints.tablet {
      height: 90px;
    }
  }
}
.xl {
  img {
    height: 90px;
    @include breakpoints.tablet {
      height: 92px;
    }
  }
}

.xl2 {
  img {
    height: 100px;
  }
}

.xl3 {
  img {
    height: 110px;
    @include breakpoints.tablet {
      height: 102px;
    }
  }
}

.xl4 {
  img {
    height: 120px;
    @include breakpoints.tablet {
      height: 104px;
    }
  }
}

.xl5 {
  img {
    height: 130px;
    @include breakpoints.tablet {
      height: 106px;
    }
  }
}

.xl6 {
  img {
    height: 140px;
    @include breakpoints.tablet {
      height: 108px;
    }
  }
}
