.word {
    unicode-bidi: bidi-override;
    line-height: normal;
}

.UthmanicHafs1Ver17 {
    font-family: UthmanicHafs1Ver17;
}

.meQuran {
    font-family: meQuran;
}

.IndoPak {
    font-family: IndoPak;
}
