.word {
  line-height: var(--line-height);
}

.UthmanicHafs {
  font-family: UthmanicHafs !important; // important is needed to over-ride the language specific font-family
}

.IndoPak {
  font-family: IndoPak !important; // important is needed to over-ride the language specific font-family
}

.hasIndoPakStopSign {
  display: inline-block;
  padding-inline-end: 0.25em; // Indopak stop sign overlap with the next word, so we add some padding
}
