.container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
}

.title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

.input {
  margin-block: var(--spacing-medium);
}
