.container {
  display: flex;
  flex-direction: column;
  padding-inline: var(--spacing-medium);
  padding-block: var(--spacing-large);
}

.title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semibold);
  text-align: center;
  margin-block-end: var(--spacing-xsmall);
}

.inputContainer {
  margin-block: var(--spacing-xxsmall);
}

.errorText {
  color: var(--color-error-deep);
}

.submitButton {
  margin-block-start: var(--spacing-small);
}
