.container {
  padding: var(--spacing-mega);
}

.title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-block-end: var(--spacing-large);
}

.description {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  text-align: center;
  margin-block: var(--spacing-small);
}

.warning {
  font-size: calc(0.85 * var(--font-size-normal));
  color: var(--color-text-faded);
  margin-block-start: var(--spacing-large);
}

.actionContainer {
  display: flex;
  justify-content: center;
  margin-block-start: var(--spacing-large);
}

.illustrationContainer {
  display: flex;
  max-width: calc(5 * var(--spacing-mega));
  margin-inline: auto;
  margin-block-end: var(--spacing-xxsmall);
}

.slideContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
