@use 'src/styles/breakpoints';

.title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);

  @include breakpoints.smallerThanTablet {
    font-size: var(--font-size-large2);
  }
}

.overlay {
  @include breakpoints.smallerThanTablet {
    place-items: end;
  }
}

.content {
  max-width: 56.25rem;

  @include breakpoints.smallerThanTablet {
    height: auto;
    max-height: 100%;
    padding-bottom: var(--spacing-large);
  }
}
