.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);

  margin-top: var(--spacing-medium2);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxsmall);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-xsmall);
}
