.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: var(--spacing-micro);
    margin-bottom: var(--spacing-micro);
    min-width: calc(5 * var(--spacing-mega));
}

.buttonContainer {
    padding: var(--spacing-xxsmall);
}

.inputContainer {
    display: block;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-style: solid;
    border-radius: var(--border-radius-circle);
    border-width: calc(0.75 * var(--spacing-xxsmall));
}

.inactiveInputContainer {
    border-color: var(--color-borders-hairline);
    &:hover {
        border-color: var(--color-text-default);
    }
}
.activeInputContainer {
    border-color: var(--color-text-default);
}
.disabledInputContainer {
    border-color: var(--color-secondary-medium);
    background-color: var(--color-secondary-medium);
}

.smallInputContainer {
    width: var(--spacing-xxsmall);
    height: var(--spacing-xxsmall);
}
.mediumInputContainer {
    width: calc(2 * var(--spacing-xxsmall));
    height: calc(2 * var(--spacing-xxsmall));
}
.largeInputContainer {
    width: calc(3 * var(--spacing-xxsmall));
    height: calc(3 * var(--spacing-xxsmall));
}

.input {
    position: absolute;
    margin: 0;
    appearance: none;
    opacity: 0;
    outline: 0;
}

.label.disabled {
    cursor: default;
}

.label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.disabledLabelText {
    color: var(--color-secondary-medium);
}

.smallLabelText {
    font-size: var(--font-size-small);
}

.mediumLabelText {
    font-size: calc(2 * var(--font-size-small));
}

.largeLabelText {
    font-size: calc(3 * var(--font-size-small));
}
