@use '@/styles/breakpoints';
@use '@/styles/utility';

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large-px);

  margin-block-start: var(--spacing-mega);

  @include breakpoints.smallerThanTablet {
    margin-block-start: var(--spacing-xsmall);
  }
}

.notesList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  overflow-y: auto;
  max-block-size: 45vh;
}

.noteCard {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-alternative-faint-new);
  border-radius: var(--border-radius-rounded);
  padding: var(--spacing-medium-px);
  gap: var(--spacing-medium-px);
}

.noteHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-small);
}

.noteTitle {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-default);
  line-height: var(--line-height-normal);
  margin-block-end: var(--spacing-xsmall-px);
}

.noteDate {
  font-size: var(--font-size-xsmall);
  color: var(--color-text-faded-new);
}

.noteActions {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxsmall-px);
  flex-shrink: 0;
}

.actionIcon {
  color: var(--color-text-default-new);
}

.noteText {
  font-size: var(--font-size-normal);
  color: var(--color-text-default-new);
  font-weight: var(--font-weight-bold);
  @include utility.textClamp(1);
}

.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-block-size: calc(2 * var(--spacing-max));

  &[data-error='true'] {
    color: var(--color-text-error);
  }
}

.actions {
  margin-inline-start: auto;
}

.addNoteButton {
  border-radius: var(--border-radius-medium-px);
}
