@use "src/styles/breakpoints";

$width: calc(11 * var(--spacing-mega));

.leftSection {
  display: flex;
  align-items: center;

  > svg {
    fill: var(--color-text-faded);
    opacity: var(--opacity-50);
    width: calc(1.4 * var(--spacing-medium));
  }

  .placeholder {
    margin-inline-start: var(--spacing-small);
  }
}

.container {
  position: relative;
  transition: box-shadow var(--transition-fast) ease,
    top var(--transition-fast) ease;
  box-sizing: border-box;

  background: var(--color-background-default);

  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 calc(1.5 * var(--spacing-medium));
  color: var(--color-text-faded);
  min-height: calc(3.5 * var(--spacing-large));
  border-radius: var(--border-radius-pill);
  border: none;
  cursor: pointer;
  outline: inherit;
  border: 1px solid var(--color-borders-hairline);
  font-size: var(--font-size-large);
  inset-block-start: 0;
  box-shadow: var(--shadow-small);
  &:hover {
    inset-block-start: calc(-0.1 * var(--spacing-micro));
    color: var(--color-text-default);
    box-shadow: var(--shadow-large);
  }
  justify-content: space-between;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-background-alternative-faded);
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
  [data-theme="dark"] & {
    background-color: var(--color-background-alternative-faded);
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}

.actionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButtonWrapper {
  margin-inline-end: calc(-1 * var(--spacing-xsmall));
  margin-inline-start: calc(var(--spacing-xsmall));
}
