// animations
@mixin transform {
  transform: translate3d(0, 0, 0);
}

@keyframes slideOutDown {
  from {
    @include transform;
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    @include transform;
  }
}

.animate {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}
.enter {
  animation-name: slideInUp;
}
.exit {
  animation-name: slideOutDown;
}

// toast hover transition
.toast {
  border-radius: var(--border-radius-default);
  box-shadow: var(--shadow-xlarge);
  transition: transform 0.4s, opacity 0.4s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &:nth-last-child(2) {
    transform: translate3d(0, -14px, 0) scale(0.95);
  }

  &:nth-last-child(3) {
    transform: translate3d(0, -28px, 0) scale(0.9);
  }

  &:nth-last-child(4) {
    transform: translate3d(0, -36px, 0) scale(0.85);
  }

  &:nth-last-child(5) {
    transform: translate3d(0, -46px, 0) scale(0.8);
  }

  &:nth-last-child(n + 4) {
    visibility: hidden;
  }
}

.toastContainer:hover > .toast {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);

  &:nth-last-child(2) {
    transform: translate3d(0, -80px, 0) scale(1);
  }

  &:nth-last-child(3) {
    transform: translate3d(0, -160px, 0) scale(1);
  }
}

// toast style
.toastContainer {
  box-shadow: none;
  --toastify-toast-width: 480px;
  min-height: calc(10 * var(--spacing-large));
}
