.tabsRoot {
  display: flex;
  flex-direction: column;
}

.tabsList {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.tabItem {
  border: none;
  align-items: center;
  background-color: var(--color-background-default);
  padding: var(--spacing-large);
  height: var(--spacing-mega);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: var(--color-text-faded);
  user-select: none;
}
.tabItem:hover {
  border: 1px solid var(--color-borders-hairline);
  color: var(--color-text-default);
  border-radius: var(--border-radius-default);
}
.tabItem[data-state="active"] {
  color: var(--color-text-default);
  border: 1px solid var(--color-borders-hairline);
  box-shadow: var(--shadow-normal);
  border-radius: var(--border-radius-default);
}
.tabItem:focus {
  position: relative;
  box-shadow: var(--shadow-normal);
}

.tabContent {
  flex-grow: 1;
  padding-block: var(--spacing-small);
  color: var(--color-text-default);
  outline: none;
  border-end-end-radius: var(--spacing-xxsmall);
  border-end-start-radius: var(--spacing-xxsmall);
  min-height: calc(var(--spacing-mega) * 5);
}

.icon {
  margin-inline-end: var(--spacing-xxsmall);
}
