@use '../_tooltip-info.mixin' as *;
@use "src/styles/theme";
.container {
  margin-block-start: var(--spacing-micro);
  margin-block-end: var(--spacing-micro);
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.containerInfo {
  margin-block-end: unset;
}

.trigger {
  all: unset;
  display: inline-block;
}

.content {
  border-radius: var(--border-radius-default);
  padding-block-start: var(--spacing-xsmall);
  padding-block-end: var(--spacing-xsmall);
  padding-inline-start: var(--spacing-xsmall);
  padding-inline-end: var(--spacing-xsmall);
  background-color: var(--color-background-default);
  box-shadow: var(--shadow-normal);
  & > span {
    fill: var(--color-background-default);
  }
}

.tooltipContent {
  padding-block-start: var(--spacing-xxsmall);
  padding-block-end: var(--spacing-xxsmall);
  padding-inline-start: var(--spacing-xxsmall);
  padding-inline-end: var(--spacing-xxsmall);
  color: var(--color-text-inverse);
  background-color: var(--color-background-inverse);
  text-align: center;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-micro2-px);
  & > span {
    fill: var(--color-background-inverse);
  }
}

.info {
  @include infoTooltipStyles;
  border-radius: var(--border-radius-medium-px);
  z-index: var(--z-index-high);
}

.success {
  background-color: var(--color-success-medium);
  color: var(--color-text-inverse);
  @include theme.dark {
    color: var(--color-text-white);
  }
  & > span {
    fill: var(--color-success-medium);
  }
}

.success .icon {
  color: var(--color-text-white);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-inline-start: auto;
  cursor: pointer;
}
