@use "src/styles/breakpoints";
@use "src/styles/constants";
@use "src/styles/utility";

.container {
  position: fixed;
  opacity: 1;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: var(--color-text-default);
  background: var(--color-background-default);
  transition: var(--transition-regular);
  z-index: var(--z-index-sticky);
  box-shadow: var(--shadow-large);
  border-top: 1px solid var(--color-borders-hairline);

  // on mobile, user can click container to expand the audioplayer
  // but on desktop we don't want that behavior.
  // so we disable the pointer-event -> user can't click the container
  // and we anble the pointer-event on all button inside container
  @include breakpoints.tablet {
    pointer-events: none;
    & button {
      pointer-events: all;
    }
  }
}

.containerHidden {
  display: none;
}

.containerDefault {
  height: constants.$audio-player-default-height;
}

.containerExpanded {
  height: constants.$audio-player-expanded-height;
}

.innerContainer {
  @include utility.center-horizontally;
  display: flex;
  padding-left: var(--spacing-xsmall);
  padding-right: var(--spacing-xsmall);
  flex-direction: row-reverse;
  justify-content: space-between;
  @include breakpoints.tablet {
    flex-direction: inherit;
    justify-content: center;
  }
}

.innerContainerExpanded {
  margin-top: var(--spacing-micro);
}

.actionButtonsContainer {
  margin-top: var(--spacing-micro);
  display: flex;
  flex-direction: row-reverse;

  @include breakpoints.tablet {
    flex-direction: inherit;
  }
}
.actionButtonsContainerHidden {
  display: none;
}

.seekBackwardsContainer {
  display: none;

  @include breakpoints.tablet {
    display: inherit;
  }
}

.rightSection {
  display: none;
  @include breakpoints.tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--space-small);
    margin-left: var(--spacing-medium);
  }
}

.sliderContainer {
  width: 100%;
  @include breakpoints.tablet {
    width: 70%;
  }
}
