@use "src/styles/breakpoints";
@use "src/styles/constants";

.container {
  margin-block: var(--spacing-xxsmall) calc(-1 * var(--spacing-xsmall));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-text-faded);
  font-size: var(--font-size-xsmall);
  min-height: var(
    --font-size-xsmall
  ); // prevents CLS when the current/total time are not loaded yet
  transition: var(--transition-regular);
  @include breakpoints.tablet {
    font-size: var(--font-size-normal);
    min-height: var(
      --font-size-normal
    ); // prevents CLS when the current/total time are not loaded yet
    margin-block: var(--spacing-medium) calc(-2 * var(--spacing-small));
  }
}

.sliderContainer {
  display: inline-block;
  position: fixed;
  // stylelint-disable-next-line csstools/use-logical
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  width: 100%;
  height: calc(1.25 * var(--spacing-xxsmall));
  transition: var(--transition-regular);
  inset-block-end: constants.$audio-player-default-height;
  @include breakpoints.tablet {
    inset-block-end: constants.$audio-player-default-desktop-height;
  }
}

.currentTime,
.remainingTime {
  display: inline-block;
  line-height: var(
    --line-height-normal
  ); // reset line height to normal, otherwise it will push the buttons in the audioplayer to the bottom
}
