$split-height: 2px;

.split {
  height: $split-height;
  cursor: pointer;
  display: inline-block;
  margin-bottom: calc(1.5 * var(--spacing-micro));
  background-color: var(--color-secondary-medium);
}

.splitCompleted {
  background-color: var(--color-primary-medium);
}
