@use "src/styles/breakpoints";
@use "src/styles/constants";

$split-height: 2px;

.container {
  text-align: left;
  margin-top: var(--spacing-xxsmall);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include breakpoints.tablet {
    text-align: inherit;
    margin-top: var(--spacing-large);
    flex-direction: row;
  }
}
.containerExpanded {
  flex-direction: row;
}

.splitsContainer {
  display: inline-block;
  position: fixed;
  bottom: constants.$audio-player-default-height;
  left: 0;
  right: 0;
  margin: 0;
  height: calc(1.25 * var(--spacing-xxsmall));
  transition: var(--transition-regular);
  box-sizing: border-box;
  @include breakpoints.tablet {
    width: 100%;
    position: inherit;
    bottom: inherit;
    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
  }
}

.splitsContainerExpanded {
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-right: 20%;
  padding-left: 20%;
  margin-bottom: var(--spacing-mega);
  bottom: constants.$audio-player-default-height;

  @include breakpoints.tablet {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.split {
  height: $split-height;
  cursor: pointer;
  display: inline-block;
  margin-bottom: calc(1.5 * var(--spacing-micro));
  background-color: var(--color-secondary-medium);
}

.splitCompleted {
  background-color: var(--color-primary-medium);
}

.reciterNameContainer {
  transition: var(--transition-regular);
  @include breakpoints.tablet {
    display: none;
  }
}

.reciterNameContainerExpanded {
  display: none;
}

.currentTime {
  display: none;
  transition: var(--transition-regular);
}

.currentTimeExpanded {
  display: inline-block;
}
