.container {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-borders-hairline);
  border-radius: var(--border-radius-default);
  background-color: var(--color-background-alternative-medium);
  padding-block-start: var(--spacing-small);
  padding-block-end: var(--spacing-small);
  padding-inline-start: var(--spacing-small);
  padding-inline-end: var(--spacing-small);
  margin-block-start: var(--spacing-xsmall);
  margin-block-end: var(--spacing-xsmall);
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.name {
  font-size: var(--font-size-normal);
  line-height: var(--line-height-large);
  padding-block-start: var(--spacing-micro);
  padding-block-end: var(--spacing-micro);
  padding-inline-start: var(--spacing-micro);
  padding-inline-end: var(--spacing-micro);
}

.link {
  text-decoration: none;
}

.key {
  border-radius: var(--border-radius-default);
  border: 1px solid var(--color-background-alternative-deep);
  padding-block-start: var(--spacing-micro);
  padding-block-end: var(--spacing-micro);
  padding-inline-start: var(--spacing-micro);
  padding-inline-end: var(--spacing-micro);
}
