.trigger {
  all: unset;
}

.content {
  border-radius: var(--border-radius-default);
  padding-block-start: var(--spacing-xxsmall);
  padding-block-end: var(--spacing-xxsmall);
  padding-inline-start: var(--spacing-xxsmall);
  padding-inline-end: var(--spacing-xxsmall);
  background-color: var(--color-background-default);
  box-shadow: var(--shadow-normal);
  & > span {
    fill: var(--color-background-default);
  }
}
