@use "src/styles/breakpoints";
@use "src/styles/utility";
@use "src/styles/theme";

.container {
  width: 100%;
  padding: var(--spacing-medium);
  background-color: var(--color-background-default);
}

.headingContainer {
  width: 60%;
  height: var(--spacing-mega);
  margin-bottom: var(--spacing-large);
}

.wordGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-large);
}

.wordItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 var(--spacing-medium) var(--spacing-medium);
  width: calc(var(--spacing-xlarge-px) * 2);
}

.arabicWord {
  height: calc(var(--spacing-medium2) * 2);
  width: calc(var(--spacing-large-px) * 2);
  margin-bottom: var(--spacing-xsmall);
}

.translation {
  height: var(--spacing-medium2);
  width: calc(var(--spacing-xlarge-px) * 2);
}

.separator {
  margin: var(--spacing-large) 0;
  width: 100%;
}
