@use 'src/styles/theme';
@use 'src/styles/breakpoints';

$container-width: 370px;

.outerContainer {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
  max-inline-size: $container-width;
  padding-block: calc(var(--spacing-xsmall) * 3);
  box-sizing: border-box;

  @include breakpoints.smallerThanMobileL {
    padding-inline: var(--spacing-small-px);
  }

  * {
    font-family: var(--font-family-figtree);
  }
}

.innerContainer {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-default);
  margin-block-end: var(--spacing-large);
  text-align: center;
}

.description {
  font-size: var(--font-size-large);
  color: var(--color-text-default);
  text-align: center;
  margin: 0;
  margin-block-end: var(--spacing-medium3-px);
  line-height: 1.5;
}

.formContainer {
  inline-size: 90%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  margin-block-start: var(--spacing-large);

  input {
    border: none;
    inline-size: 90%;
    background: transparent;
    color: var(--color-text-default);

    &::placeholder {
      color: var(--color-text-faded);
    }

    &:focus {
      outline: none;
    }
  }
}

.submitButton {
  inline-size: 90%;
  padding: var(--spacing-medium);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-pill);
  background-color: var(--color-success-medium);
  color: var(--color-text-inverse);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-block-start: var(--spacing-medium);

  &:hover {
    background-color: var(--color-success-dark);
  }
}

.backButton {
  inline-size: 50%;
  margin-block: var(--spacing-medium);
  border-radius: var(--border-radius-pill);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-small-px);
  margin-block: 0px !important;
  margin-block-end: var(--spacing-small-px) !important;
}

.errorText {
  color: var(--color-error-medium2) !important;
}
