.header {
    font-size: var(--font-size-xlarge);
    padding-block-end: var(--spacing-mega);
}

.section {
    padding-bottom: var(--spacing-large);
}

.boldSpan {
    font-weight: var(--font-weight-bold);
}
