@use '@/styles/breakpoints';

$note_modal_max_width: 48rem;

.overlay {
  scrollbar-gutter: stable both-edges;
  @include breakpoints.smallerThanTablet {
    place-items: end;
  }
}

.content {
  max-inline-size: $note_modal_max_width;

  @include breakpoints.smallerThanTablet {
    height: auto;
    max-height: 100%;
    padding-bottom: var(--spacing-large);
  }
}
