@use 'src/styles/breakpoints';
@use 'src/styles/constants';

.title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-faded);

  @include breakpoints.smallerThanTablet {
    font-size: var(--font-size-large2);
  }
}
