@use '@/styles/constants';

$note_text_area_height: 360px;

.headerButton {
  all: unset;

  display: flex;
  align-items: center;
  gap: var(--spacing-micro);
  cursor: pointer;
}

.title,
.headerButton {
  font-size: var(--font-size-large2);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-faded);
}

.editIcon {
  rotate: 180deg;
  margin-block-start: calc(var(--spacing-xmicro) * -1);

  svg {
    height: var(--spacing-small);
    width: var(--spacing-small);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium2);
  margin-block-start: var(--spacing-mega);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxsmall);
}

// tag is used to increase specificity to override the default styles.
div.textArea {
  padding: 0;

  textarea {
    padding: var(--spacing-xsmall);
    height: $note_text_area_height;

    &:focus::placeholder {
      color: transparent;
    }
  }
}

.notesButton {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xsmall);

  background-color: var(--color-background-alternative-faint-new);
  height: var(--spacing-large2-px);
  border-radius: var(--border-radius-default);
  padding-inline: var(--spacing-medium2);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: background-color var(--transition-fast), transform var(--transition-fast);

  &:focus-visible {
    outline: var(--spacing-hairline-px) solid var(--color-primary-medium);
  }

  &:hover {
    background-color: var(--color-background-alternative-medium);
  }

  &:active:not(:disabled) {
    transform: scale(constants.$button-active-scale);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.notesButtonChevron,
.notesButtonPencil {
  width: var(--spacing-small);
  height: var(--spacing-small);
  margin-block-start: calc(var(--spacing-xmicro) * -1);
}

.notesButtonChevron {
  margin-inline-start: calc(var(--spacing-xsmall) * -1);
  width: var(--spacing-medium);
  height: var(--spacing-medium);
}

.notesButtonText {
  line-height: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-medium2);
}

.rounded {
  border-radius: var(--border-radius-default);
}

.error {
  color: var(--color-text-error);
}
