.container {
  margin-block-start: 0;
  box-sizing: border-box;
  block-size: var(--banner-height);
  background-color: var(--color-background-elevated-new);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-small-px);

  padding-inline: var(--spacing-small-px);
  padding-block: var(--spacing-xsmall-px);
}

.text {
  color: var(--color-text-default-new);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-small-px);
}

.cta {
  padding-inline: var(--spacing-xsmall-px);
  padding-block: var(--spacing-micro2-px);
  background-color: var(--color-success-faded);
  color: var(--color-text-link-new);
  font-size: var(--font-size-small-px);
  font-weight: var(--font-weight-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxsmall-px);
  border-radius: var(--border-radius-medium-px);
  text-decoration: none;
}

.icon > svg path {
  fill: var(--color-text-link-new);
}
