@use "src/styles/breakpoints";
@use "src/styles/constants";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-success-medium) !important;

  & svg {
    transform: rotate(180deg);
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  inset-block-end: var(--spacing-mega);
  transition: var(--transition-regular);
  z-index: var(--z-index-sticky);
  inset-inline-end: var(--spacing-large);

  opacity: 0;
  transition: var(--transition-fast);
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: initial;
  }
}


.audioPlayerOpen {
  margin-block-end: constants.$audio-player-default-height;
  @include breakpoints.tablet {
    margin-block-end: constants.$audio-player-default-desktop-height;
  }
  inset-block-end: var(--spacing-medium);
}
