.base {
  border: none;
  padding: 0 var(--spacing-small);
  display: flex;
  align-items: center;
}

// type
.primary {
  background-color: var(--color-primary-medium);
  color: var(--color-primary-deep);
}
.secondary {
  background-color: var(--color-secondary-medium);
  color: var(--color-secondary-deep);
}
.warning {
  background-color: var(--color-warning-medium);
  color: var(--color-warning-deep);
}
.alert {
  background-color: var(--color-alert-medium);
  color: var(--color-alert-deep);
}
.success {
  background-color: var(--color-success-medium);
  color: var(--color-success-deep);
}
.error {
  background-color: var(--color-alert-medium);
  color: var(--color-error-deep);
}

// size
.large {
  line-height: var(--line-height-large);
  font-size: var(--font-size-large);
}
.normal {
  line-height: var(--line-height-normal);
  font-size: var(--font-size-normal);
}
.small {
  line-height: var(--line-height-small);
  font-size: var(--font-size-small);
}

// shape
.square {
  border-radius: var(--border-radius-default);
}
.circle {
  border-radius: var(--border-radius-circle);
}
