.primary {
  background-color: var(--color-primary-medium);
}
.secondary {
  background-color: var(--color-secondary-medium);
}
.warning {
  background-color: var(--color-warning-medium);
}
.alert {
  background-color: var(--color-alert-medium);
}
.success {
  background-color: var(--color-success-medium);
}
.error {
  background-color: var(--color-alert-medium);
}
