.base {
  border: none;
  padding: 0 var(--spacing-small);
  display: flex;
  align-items: center;
}

// type
.primary {
  background-color: var(--color-primary-medium);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-primary-medium);
  &:hover {
    color: var(--color-primary-medium);
    background-color: var(--color-text-inverse);
  }
}

.secondary {
  background-color: var(--color-secondary-medium);
  color: var(--color-text-default);
  border: 1px solid var(--color-secondary-medium);
  &:hover {
    color: var(--color-secondary-medium);
    background-color: var(--color-text-default);
  }
}

.success {
  background-color: var(--color-success-medium);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-success-medium);
  &:hover {
    color: var(--color-success-medium);
    background-color: var(--color-text-inverse);
  }
}

.warning {
  background-color: var(--color-warning-medium);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-warning-medium);
  &:hover {
    color: var(--color-warning-medium);
    background-color: var(--color-text-inverse);
  }
}
.alert {
  background-color: var(--color-alert-medium);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-alert-medium);
  &:hover {
    color: var(--color-alert-medium);
    background-color: var(--color-text-inverse);
  }
}
.error {
  background-color: var(--color-alert-medium);
  color: var(--color-text-inverse);
  border: 1px solid var(--color-error-medium);
  &:hover {
    color: var(--color-alert-medium);
    background-color: var(--color-text-inverse);
  }
}

// size
.large {
  line-height: var(--line-height-large);
  font-size: var(--font-size-large);
}
.normal {
  line-height: var(--line-height-normal);
  font-size: var(--font-size-normal);
}
.small {
  line-height: var(--line-height-small);
  font-size: var(--font-size-small);
}

// shape
.square {
  border-radius: var(--border-radius-default);
}
.circle {
  border-radius: var(--border-radius-circle);
}

// variant
.shadow {
  box-shadow: var(--shadow-light);
}

.ghost.primary {
  color: var(--color-primary-medium);
  background-color: var(--color-primary-deep);
}
.ghost.secondary {
  color: var(--color-secondary-medium);
  background-color: var(--color-secondary-deep);
}
.ghost.warning {
  color: var(--color-warning-medium);
  background-color: var(--color-warning-deep);
}
.ghost.alert {
  color: var(--color-alert-medium);
  background-color: var(--color-alert-deep);
}
.ghost.success {
  color: var(--color-success-medium);
  background-color: var(--color-success-deep);
}
.ghost.error {
  color: var(--color-alert-medium);
  background-color: var(--color-error-deep);
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

// align
.start {
  margin-right: auto;
}
.grow {
  margin-right: auto;
  margin-left: auto;
}

// suffix and prefix container
.suffix {
  margin-left: var(--spacing-xxsmall);
}
.prefix {
  margin-right: var(--spacing-xxsmall);
}
