.large {
  height: calc(1.5 * var(--spacing-medium));
  width: calc(1.5 * var(--spacing-medium));
}
.normal {
  height: calc(1.25 * var(--spacing-medium));
  width: calc(1.25 * var(--spacing-medium));
}
.small {
  height: calc(1 * var(--spacing-medium));
  width: calc(1 * var(--spacing-medium));
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;

  & .path {
    stroke: currentColor;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
