.image {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radiuses-default);
  width: 100%;
}

.container {
  position: relative;
  border-radius: var(--border-radiuses-default);
  width: 100%;
  white-space: normal;
  scroll-snap-align: center;
  margin: 0;
  overflow: hidden;
  height: calc(6 * var(--spacing-mega));
}

.caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(var(--colors-primary-medium), 0.7);
  border-radius: var(--border-radiuses-default);
  font-family: SFProText-Regular;
  font-size: var(--font-sizes-xlarge);
  color: var(--colors-text-link);
  padding: var(--spacing-medium) var(--spacing-mega);
  align-items: flex-end;
  display: flex;
}

.title {
  font-family: SFProText-Regular;
  font-size: calc(2 * var(--font-sizes-large));
  color: var(--colors-primary-faded);
  margin-bottom: var(--spacing-xxsmall);
}
