@use "src/styles/breakpoints";

.container {
    @include breakpoints.tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-small);
    }
    @include breakpoints.desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}

.cardContainer {
    @include breakpoints.tablet {
        max-width: var(--spacing-mega) !important;
    }
    @include breakpoints.smallerThanTablet {
        max-width: calc(10 * var(--spacing-mega));
    }
}

.allCourses {
    margin-block-start: var(--spacing-mega);
    text-align: center;
}
